<a-entity id="edmon-snow-rock-1" gltf-model="#snow-rock-1-asset" position="-35.57856 -3.13744 -6.45025" rotation="0 0 0"
  scale="0.1 0.1 0.1"></a-entity>
<a-entity id="edmon-snow-rock-2" gltf-model="#snow-rock-2-asset" position="-31.19491 -6.08258 0.57246"
  rotation="0 38.17 0" scale="0.1 0.1 0.1"></a-entity>
<a-entity id="edmon-snow-rock-3" gltf-model="#snow-rock-2-asset" position="-23.72335 -1.21982 11.01566"
  rotation="2.64 65.79 2.21" scale="0.12 0.12 0.12"></a-entity>
<a-entity id="edmon-snow-scene-1" gltf-model="#snow-scene-1-asset" position="-113.41016 -1.47976 27.00308"
  rotation="0 -16.74 0" scale="8 8 8"></a-entity>
<a-entity id="edmon-waterfall" animation-mixer="clip: Animation" gltf-model="#waterfall-asset"
  position="-25.86395 -2.65093 10.23107" rotation="0 120 0" scale="0.5 0.5 0.5"></a-entity>
<a-plane id="edmon-water" scale="1 1 1" position="-29.69279 -0.23917 7.06633" rotation="-90 0 0" width="10" height="10" color="#7BC8A4"
  water material="color: white; transparent: true; opacity: 0.0"></a-plane>