<a-entity id="edmon-female" edmon-female-animation gltf-model="#edmon-female-asset"
  animation-mixer="clip: SK_mammoth|Take 001|BaseLayer; startFrame: 10; timeScale: 0.8"
  position="-70.94177 -1.72627 25.66402" rotation="0 50 0" scale="2.8 2.8 2.8"
  sound__roar1="src: #edmon-roar1; volume: 20" sound__roar2="src: #edmon-roar2; volume: 20"
  sound__wakeup="src: #edmon-wakeup; volume: 20" sound__liedown="src: #edmon-liedown; volume: 20">
</a-entity>
<a-entity id="edmon-female2" edmon-female-animation gltf-model="#edmon-female-asset"
  animation-mixer="clip: SK_mammoth|Take 001|BaseLayer; startFrame: 10; timeScale: 0.6"
  position="-88.73521 -1.62723 -3.56883" rotation="0 50 0" scale="3 3 3" sound__roar1="src: #edmon-roar1; volume: 20"
  sound__roar2="src: #edmon-roar2; volume: 20" sound__wakeup="src: #edmon-wakeup; volume: 20"
  sound__liedown="src: #edmon-liedown; volume: 20">
</a-entity>
<a-entity id="edmon-female3" edmon-female-animation gltf-model="#edmon-female-asset"
  animation-mixer="clip: SK_mammoth|Take 001|BaseLayer; startFrame: 10; timeScale: 0.8"
  position="-55.85067 -1.62723 12.07168" rotation="0 50 0" scale="3.3 3.3 3.3" sound__roar1="src: #edmon-roar1; volume: 20"
  sound__roar2="src: #edmon-roar2; volume: 20" sound__wakeup="src: #edmon-wakeup; volume: 20"
  sound__liedown="src: #edmon-liedown; volume: 20">
</a-entity>
<a-entity id="edmon-female4" edmon-female-animation gltf-model="#edmon-female-asset"
  animation-mixer="clip: SK_mammoth|Take 001|BaseLayer; startFrame: 10; timeScale: 0.7"
  position="-98.0019 -1.62723 -24.36555" rotation="0 50 0" scale="2.7 2.7 2.7" sound__roar1="src: #edmon-roar1; volume: 20"
  sound__roar2="src: #edmon-roar2; volume: 20" sound__wakeup="src: #edmon-wakeup; volume: 20"
  sound__liedown="src: #edmon-liedown; volume: 20">
</a-entity>
<a-entity id="edmon-female5" edmon-female-animation gltf-model="#edmon-female-asset"
  animation-mixer="clip: SK_mammoth|Take 001|BaseLayer; startFrame: 10; timeScale: 0.6"
  position="-72.66231 -1.62723 -11.91219" rotation="0 50 0" scale="2.9 2.9 2.9" sound__roar1="src: #edmon-roar1; volume: 20"
  sound__roar2="src: #edmon-roar2; volume: 20" sound__wakeup="src: #edmon-wakeup; volume: 20"
  sound__liedown="src: #edmon-liedown; volume: 20">
</a-entity>
<a-entity id="edmon-female6" edmon-female-animation gltf-model="#edmon-female-asset"
  animation-mixer="clip: SK_mammoth|Take 001|BaseLayer; startFrame: 10; timeScale: 0.5"
  position="-69.5619 -1.62723 18.73559" rotation="0 50 0" scale="2.8 2.8 2.8" sound__roar1="src: #edmon-roar1; volume: 20"
  sound__roar2="src: #edmon-roar2; volume: 20" sound__wakeup="src: #edmon-wakeup; volume: 20"
  sound__liedown="src: #edmon-liedown; volume: 20">
</a-entity>