<a-entity id="edmon-snow-rock-1" gltf-model="#snow-rock-1-asset" position="-62.68996 -9.76941 -36.9157" rotation="0 0 0"
  scale="0.3 0.3 0.3"></a-entity>
<a-entity id="edmon-snow-rock-2" gltf-model="#snow-rock-2-asset" position="-23.2209 -6.08258 31.54871" rotation="0 0 0"
  scale="0.3 0.3 0.3"></a-entity>
<a-entity id="edmon-snow-rock-3" gltf-model="#snow-rock-2-asset" position="-22.31748 -7.95874 37.71045"
  rotation="2.66 67.01 -0.08" scale="0.4 0.4 0.4"></a-entity>
<a-entity id="edmon-snow-scene-1" gltf-model="#snow-scene-1-asset" position="-249.4989 -19.80614 178.33675"
  rotation="0 0 0" scale="50 50 50"></a-entity>
<a-entity id="edmon-snow-1" animation-mixer="clip: Animation" gltf-model="#snow-asset" position="31.04437 -6 9.78763"
  rotation="0 0 0" scale="2 2 2"></a-entity>

<a-entity id="edmon-snow-2" animation-mixer="clip: Animation" gltf-model="#snow-asset" position="27.87977 -6 32.49607"
  rotation="0 0 0" scale="2 2 2"></a-entity>

<a-entity id="edmon-snow-3" animation-mixer="clip: Animation" gltf-model="#snow-asset" position="27.20803 -6 -18.394"
  rotation="0 0 0" scale="2 2 2"></a-entity>

<a-entity id="edmon-snow-4" animation-mixer="clip: Animation" gltf-model="#snow-asset" position="-9.72962 -6 6.87843"
  rotation="0 0 0" scale="3 3 3"></a-entity>