<a-entity id="edmon-car" gltf-model="#edmon-scene-asset" edmon-car-tour position="-12.1696 1.27071 2.38706"
  rotation="0 20 0" scale="1 1.2 1">
  <a-entity id="rig" custom-movement-controls="speed: 0.1" position="1.152 -0.6000000000000001 0.934" rotation="0 90 0">
    <a-entity id="hands">
      <a-entity id="edmon-scene-camera" class="camera-entity" camera position="0 0 0" user-height="0"
        look-controls="pointerLockEnabled: true"
        simple-navmesh-constraint="navmesh:#edmon-navmesh-el;fall:0;height:1.25;">
        <a-troika-text id="edmon-camera-text" visible="false" troika-text="color: #d6d6d6" scale="0.15 0.15 0.15"
          position="0 -0.25795 -0.8507" value="press ENTER or TRIGGER to leave" font="/assets/font/Exo-Regular.ttf">
        </a-troika-text>
        <a-box id="out-of-limit" position="0 0 0" visible="false" material="blending: none; shader: flat"
          geometry="depth: 1; height: 1; width: 1; primitive: sphere; segmentsHeight: 10; segmentsWidth: 10; radius: 0.1"
          color="#2f5b45" side="back">
          <a-image id="limits-logo-1" visible="false" src="#limits-asset" scale="0.017 0.015 0.015"
            position="0 0.00011 -0.057" rotation="0 0 0">
          </a-image>
          <a-image id="limits-logo-2" visible="false" src="#limits-asset" scale="0.017 0.015 0.015"
            position="0.06465 0.00001 -0.057" rotation="0 0 0">
          </a-image>
        </a-box>
      </a-entity>
      <a-entity id="controller-data" controller-listener="leftControllerId:  #leftHand;
                                 rightControllerId: #rightHand;"></a-entity>
      <a-entity id="leftHand" sphere-collider="objects: a-box" poi-control super-hands
        custom-hand-controls="hand: left; handModelStyle: highPoly; color: #ffcccc"></a-entity>
      <a-entity fps-counter="enabled: false; for90fps: true" id="rightHand" rotation="10 0 0"
        sphere-collider="objects: a-box" poi-control super-hands
        custom-hand-controls="hand: right; handModelStyle: highPoly; color: #ffcccc"></a-entity>
    </a-entity>
  </a-entity>
  <a-plane id="edmon-navmesh-el" scale="0.91 1.09 1" geometry="width: 9.5" visible="false"
    position="-0.40721 -0.0363 0.1669" rotation="-90 0 0" width="9.5" height="5.5" color="yellow">
  </a-plane>
  <a-entity id="car-env" scale="1 1 1" position="-5.72859 0.39706 -2.76052" rotation="0 90 0">
    <a-image id="edmon-dont-touch" src="#dont-touch-asset" scale="0.45 0.3 0.3" position="0 0 0"
      rotation="0 0 0"></a-image>
  </a-entity>
  <a-entity id="edmon-terminal" gltf-model="#terminal-asset" position="-3.10689 -0.64266 1.21953" rotation="0 107.76 0"
    scale="0.027 0.027 0.027">
    <a-image id="edmon-pres" src="#edmon-pres-asset" scale="32 16 10" position="-0.05575 46.56972 -7.50028"
      rotation="-14.21 3.15 0"></a-image>
  </a-entity>
  <a-entity id="edmon-checkpoint" checkpoint-animation animation-mixer="clip: Take 001" gltf-model="#checkpoint-asset"
    position="3.60476 -0.35944 0.18374" rotation="0 11993.287 0" scale="2 2 2">
  </a-entity>
</a-entity>
</a-entity>