<a-entity id="edmon-male" class="edmon-surface" edmon-male-animation gltf-model="#edmon-male-asset"
  animation-mixer="clip: E_Idle" position="-6.15609 -0.4 24.27657" rotation="0 210.00000000000003 0" scale="1.5 1.5 1.5"
  sound__walk="src: #edmon-walk; volume: 20; loop: true" sound__walkback="src: #edmon-walk-back; volume: 20; loop: true"
  sound__liedown="src: #edmon-liedown; volume: 20">
</a-entity>
<a-entity id="edmon-female" edmon-female-animation gltf-model="#edmon-female-asset"
  animation-mixer="clip: E_Sleep_End; startFrame: 10; timeScale: 0" position="-33.67269 0 1.6274" rotation="7 50 0"
  scale="1.5 1.5 1.5" sound__roar1="src: #edmon-roar1; volume: 20" sound__roar2="src: #edmon-roar2; volume: 20"
  sound__wakeup="src: #edmon-wakeup; volume: 20" sound__liedown="src: #edmon-liedown; volume: 20">
</a-entity>
<a-entity id="edmon-female-2" edmon-female-animation gltf-model="#edmon-female-asset"
  animation-mixer="clip: E_Sleep_End; startFrame: 10; timeScale: 0" position="-33.01057 0.02195 14.28856"
  rotation="10 50 0" scale="1.5 1.5 1.5">
</a-entity>
<a-entity id="edmon-male-2" class="edmon-surface" gltf-model="#edmon-male-asset"
  animation-mixer="clip: E_Sleep_End; startFrame: 10; timeScale: 0" position="-28.56211 0.02053 -5.48859"
  rotation="-4.64 200 0" scale="1.5 1.5 1.5">
</a-entity>
<a-entity id="edmon-male-3" class="edmon-surface" gltf-model="#edmon-male-asset"
  animation-mixer="clip: E_RestEnd; startFrame: 10; timeScale: 0" position="-45.20779 0.20139 14.35347"
  rotation="10 -10.02 0" scale="1.3 1.3 1.3">
</a-entity>
<a-entity id="edmon-male-4" class="edmon-surface" gltf-model="#edmon-male-asset"
  animation-mixer="clip: E_Sleep_End; startFrame: 10; timeScale: 0" position="-41.89839 0.6017 8.40981"
  rotation="0 60 0" scale="1.4 1.4 1.4">
</a-entity>