<!-- Plants and trees-->
<a-entity id="deino-tropical-plant-01" gltf-model="#tropical-plant-asset" position="-31.24958 0 -20.57645"
  rotation="-0.01 50 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="deino-tropical-plant-02" gltf-model="#tropical-plant-asset" position="-24.2435 0 -6.17934"
  rotation="-0.01 50 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="deino-tropical-plant-04" gltf-model="#tropical-plant-asset" position="-22.59254 0 12.10727"
  rotation="-0.01 50 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="deino-simple-plant-01" gltf-model="#simple-plant-asset" position="-7.9688 1.116 31.23763"
  rotation="-0.01 50 0" scale="1 1 1"></a-entity>
<a-entity id="deino-simple-plant-02" gltf-model="#simple-plant-asset" position="-6.52073 0 -28.28354"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-03" gltf-model="#simple-plant-asset" position="-9.084 0 -4.845" rotation="-0.01 50 0"
  scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-04" gltf-model="#simple-plant-asset" position="-13.55791 0 3.42672"
  rotation="-0.01 50 0" scale="10 7 7"></a-entity>
<a-entity id="deino-simple-plant-05" gltf-model="#simple-plant-asset" position="-10.34306 0 -24.20623"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-06" gltf-model="#simple-plant-asset" position="-3.98643 0.41768 -11.06608"
  rotation="-0.01 50 0" scale="3 3 3"></a-entity>
<a-entity id="deino-simple-plant-07" gltf-model="#simple-plant-asset" position="-5.26148 -0.4458 23.31447"
  rotation="-0.01 41.6 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-08" gltf-model="#simple-plant-asset" position="-4.25175 0 -44.79547"
  rotation="-0.01 59.93 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-013" gltf-model="#simple-plant-asset" position="-8.28957 0 -39.34577"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-015" gltf-model="#simple-plant-asset" position="-4.01151 -0.00862 -23.40277"
  rotation="-0.01 33.27 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-016" gltf-model="#simple-plant-asset" position="-6.39209 0.09309 10.83206"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-17" gltf-model="#simple-plant-asset" position="-3.4965 0 -33.30549"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-18" gltf-model="#simple-plant-asset" position="-2.941 0 -49.09401"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-19" gltf-model="#simple-plant-asset" position="14.77442 0 -48.16052"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-20" gltf-model="#simple-plant-asset" position="-4.08993 0 -16.65745"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="deino-simple-plant-21" gltf-model="#simple-plant-asset" position="-2.46418 0.87379 2.84378"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="deino-double-rock-01" gltf-model="#double-rock-asset" position="-25.35205 0 46.18785"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="deino-double-rock-05" gltf-model="#double-rock-asset" position="-2.70008 -1.298 -7.50981"
  rotation="0 180 -16.46" scale="3.51 4.04 7.96"></a-entity>
<a-entity id="deino-double-rock-06" gltf-model="#double-rock-asset" position="17.65222 0 -52.62459"
  rotation="-0.01 98.61 0" scale="5 5 5"></a-entity>
<a-entity id="deino-double-rock-08" gltf-model="#double-rock-asset" position="-2.76528 0 -37.74721"
  rotation="-0.01 69.55 0" scale="3 3 3"></a-entity>
<a-entity id="deino-double-rock-09" gltf-model="#double-rock-asset" position="-10.56177 0 -10.06545"
  rotation="-0.01 104 0" scale="5 5 5"></a-entity>
<a-entity id="deino-double-rock-010" gltf-model="#double-rock-asset" position="-4.96871 0 -16.381" rotation="-0.01 50 0"
  scale="5 5 5"></a-entity>
<a-entity id="deino-double-rock-11" gltf-model="#double-rock-asset" position="-0.9954 0 -54.60484"
  rotation="-0.01 52.35 0" scale="5 5 5"></a-entity>
<a-entity id="deino-double-rock-12" gltf-model="#double-rock-asset" position="-2.67369 -0.74652 -6.2737"
  rotation="-0.01 97.63 0" scale="5 5 5"></a-entity>
<a-entity id="deino-double-rock-13" gltf-model="#double-rock-asset" position="-16.05301 0 82.77849"
  rotation="-0.01 10 0" scale="5 8 8"></a-entity>
<a-entity id="deino-double-rock-14" gltf-model="#double-rock-asset" position="26.93156 1.79969 47.49778"
  rotation="-0.01 69.55 0" scale="5 5 5"></a-entity>
<a-entity id="deino-double-rock-15" gltf-model="#double-rock-asset" position="34.26657 1.73306 65.21611"
  rotation="-0.01 160 0" scale="8 8 5"></a-entity>
<a-entity id="deino-palms-02" gltf-model="#palms-asset" position="15.18155 -0.55116 -50.78808" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="deino-palms-03" gltf-model="#palms-asset" position="-26.81028 0 -22.61006" rotation="-0.01 197.18 0"
  scale="0.06 0.06 0.06"></a-entity>
<!-- <a-entity id="deino-palms-04" gltf-model="#palms-asset" position="-8.80803 -0.55116 46.08108" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity> -->
<a-entity id="deino-palms-05" gltf-model="#palms-asset" position="-25.56573 -0.55116 4.75474" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="deino-palms-06" gltf-model="#palms-asset" position="-12.94574 -0.55116 -1.27066" rotation="-0.01 100 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="deino-palms-08" gltf-model="#palms-asset" position="-6.97703 0.54573 3.35945" rotation="-0.01 60 0"
  scale="0.045 0.045 0.045"></a-entity>
<a-entity id="deino-palms-09" gltf-model="#palms-asset" position="19.42191 -0.55116 -53.71382" rotation="-0.01 90 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="deino-palms-10-sound" gltf-model="#palms-asset" position="-9.18998 -0.55116 -14.58329"
  rotation="-0.01 0 0" scale="0.045 0.045 0.045"></a-entity>
<a-entity id="deino-grass-1" gltf-model="#low-grass-asset" position="-13.15774 0.828 -9.36273" rotation="90 95 0"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="deino-grass-2" gltf-model="#low-grass-asset" position="-5.81157 0.16677 -7.05161" rotation="90 90 0.53"
  scale="0.02 0.02 0.03">
</a-entity>
<a-entity id="deino-grass-3" gltf-model="#low-grass-asset" position="-3.8184 0.07388 -6.75705" rotation="90 103.27 6.05"
  scale="0.02 0.02 0.03">
</a-entity>
<a-entity id="deino-forest-ground-3" gltf-model="#forest-ground-asset" position="-4.33887 -0.32924 -6.20274"
  rotation="0 90 -1.76" scale="12 12 12"></a-entity>