<a-entity visible="true" deino-animation="" id="deino" animation-mixer="clip: Deinonychus_Idle_Roar"
  gltf-model="#deino-asset" position="-3.6 -3.8 -3.208" rotation="2.93138 176.83 0" scale="0.018 0.018 0.018"
  sound__jumpstart="src: #deino-jump-start; volume: 6; loop: false"
  sound__roar="src: #deino-roar; volume: 6; loop: false" sound__jumpend="src: #deino-jump-end; volume: 6; loop: false"
  sound__intro="src: #deino-intro; volume: 6; loop: false">
</a-entity>

<a-entity visible="true" deino-animation="" id="deino-2" animation-mixer="clip: Deinonychus_LieDown_Sleep"
  gltf-model="#deino-asset" position="-15.82697 1.7917 -3.69118" rotation="-2.91 28.45 -0.88" scale="0.022 0.022 0.022"
  sound__jumpstart="src: #deino-jump-start; volume: 6; loop: false"
  sound__roar="src: #deino-roar; volume: 6; loop: false" sound__jumpend="src: #deino-jump-end; volume: 6; loop: false"
  sound__intro="src: #deino-intro; volume: 6; loop: false">
</a-entity>