<a-plane id="deino-water" geometry="height: 200; width: 200" scale="1 1 1" position="4.518 0.178 -88.25"
  rotation="-90 0 0" width="200" height="200" color="#7BC8A4" water
  material="color: white; transparent: true; opacity: 0.0"></a-plane>

<!-- Plants and trees-->
<a-entity id="forest-rock-1-mesh" class="spino-surface" gltf-model="#forest-rock-1-asset" instanced-mesh></a-entity>

<a-entity id="deino-forest-rock-11" instanced-mesh-member="mesh:#forest-rock-1-mesh"
  position="-2.02602 -0.88226 -1.88358" rotation="0 -63.35 0" scale="-0.4 0.6 -0.4"></a-entity>
<a-entity id="deino-forest-rock-12" instanced-mesh-member="mesh:#forest-rock-1-mesh"
  position="-4.18901 -0.85179 -7.06515" rotation="-4.63 50 0" scale="0.63 0.6 0.6"></a-entity>
<a-entity id="deino-forest-rock-13" instanced-mesh-member="mesh:#forest-rock-1-mesh"
  position="0.24083 -0.21168 -15.63099" rotation="0 85.51 0" scale="-0.9 0.6 -0.7"></a-entity>
<a-entity id="deino-forest-rock-14" instanced-mesh-member="mesh:#forest-rock-1-mesh"
  position="-16.05938 -7.26512 -4.47186" rotation="-9.57 -83.77 0" scale="1.8 1.8 1.8"></a-entity>
<a-entity id="deino-forest-rock-15" instanced-mesh-member="mesh:#forest-rock-1-mesh"
  position="-1.67355 -0.27244 -12.12155" rotation="0 130 0" scale="0.7 0.6 0.6"></a-entity>
<a-entity id="deino-forest-rock-16" instanced-mesh-member="mesh:#forest-rock-1-mesh"
  position="-1.11319 -0.29023 -5.08611" rotation="0 -63.35 0" scale="0.5 0.6 0.5"></a-entity>

<a-entity id="forest-pine-large-mesh" class="spino-surface" gltf-model="#forest-pine-large-asset" instanced-mesh>
</a-entity>
<a-entity id="deino-forest-pine-11" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-10.09746 1.67222 -16.18387" rotation="0 15 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="deino-forest-pine-12" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-20.47749 0.67071 -2.40683" rotation="-5.16 80 5" scale="0.03 0.03 0.03"></a-entity>
<a-entity id="deino-forest-pine-13" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-1.31888 1.41068 2.95738" rotation="-5.16 0 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="deino-forest-pine-14" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-1.84558 3.30022 -19.10351" rotation="-5.16 10 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="deino-forest-pine-15" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-24.98087 -1.61139 -12.01462" rotation="-5.16 180 0" scale="0.07 0.07 0.07"></a-entity>
<a-entity id="deino-forest-pine-16" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-10.60527 0.17762 3.25412" rotation="-5.16 59.99999999999999 0" scale="0.05 0.05 0.03"></a-entity>
<a-entity id="deino-forest-pine-17" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-13.15273 2.80403 -30.67639" rotation="-5.16 0 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="deino-forest-pine-18" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-24.45447 2.80403 10.2996" rotation="-5.16 0 0" scale="0.05 0.03 0.05"></a-entity>
<a-entity id="deino-forest-pine-19" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-39.46252 2.80403 -4.72312" rotation="-5.16 60 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="deino-forest-pine-20" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-18.34429 2.80403 -21.07212" rotation="-5.16 0 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="deino-forest-pine-21" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-29.35765 2.80403 -20.29121" rotation="-5.16 0 0" scale="0.07 0.07 0.07"></a-entity>
<a-entity id="deino-forest-pine-22" instanced-mesh-member="mesh:#forest-pine-large-mesh"
  position="-6.92772 2.27679 15.56675" rotation="-5.16 0 0" scale="0.05 0.03 0.05"></a-entity>

<a-entity id="forest-fern-1-mesh" class="spino-surface" gltf-model="#forest-fern-1-asset" instanced-mesh>
</a-entity>
<a-entity id="deino-forest-fern-13" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-7.47483 -0.2219 -3.67829" rotation="0 60 0" scale="2 2 2"></a-entity>
<a-entity id="deino-forest-fern-14" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-6.10388 -0.04195 -3.39173" rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="deino-forest-fern-15" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-8.65888 0.10278 -14.8684" rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="deino-forest-fern-21" instanced-mesh-member="mesh:#forest-fern-1-mesh" position="-8.05206 0.39093 2.55823"
  rotation="0 120 0" scale="3 3 3"></a-entity>
<a-entity id="deino-forest-fern-22" instanced-mesh-member="mesh:#forest-fern-1-mesh" position="1.3487 0.18838 -12.93717"
  rotation="0 50 0" scale="1 2.02 1"></a-entity>
<a-entity id="deino-forest-fern-23" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-2.30319 -0.04251 0.91683" rotation="0 -116.31 0" scale="2 2 2"></a-entity>
<a-entity id="deino-forest-fern-24" instanced-mesh-member="mesh:#forest-fern-1-mesh" position="0.3508 -0.14827 2.82715"
  rotation="0 -116.31 0" scale="2 2 2"></a-entity>
<a-entity id="deino-forest-fern-25" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-9.3652 -0.17419 -18.19908" rotation="0 -116.31 0" scale="3 4.0003 4.01"></a-entity>
<a-entity id="deino-forest-fern-26" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-3.02987 0.33494 -15.24999" rotation="0 -116.31 0" scale="2.5 2.5 2.5"></a-entity>
<a-entity id="deino-forest-fern-27" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-7.68692 -0.17419 0.89303" rotation="0 -116.31 0" scale="3 4.0003 4.01"></a-entity>
<a-entity id="deino-forest-fern-28" instanced-mesh-member="mesh:#forest-fern-1-mesh" position="0.36878 0.38468 -0.70736"
  rotation="0 -131.36 0" scale="2 2 2"></a-entity>
<a-entity id="deino-forest-fern-29" instanced-mesh-member="mesh:#forest-fern-1-mesh" position="1.52366 0.72312 -2.06804"
  rotation="0 -116.31 0" scale="1.5 1.5 1.5"></a-entity>
<a-entity id="deino-forest-fern-30" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-0.45166 -0.17419 -18.75365" rotation="0 -116.31 0" scale="2 2 2"></a-entity>
<a-entity id="deino-forest-fern-31" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-20.05834 0.70167 -3.69076" rotation="0 110 0" scale="3 3 3"></a-entity>
<a-entity id="deino-forest-fern-32" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-20.98987 0.59831 1.37951" rotation="0 50 0" scale="3 3 3"></a-entity>
<a-entity id="deino-forest-fern-33" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-14.84167 -0.04251 4.9796" rotation="0 -116.31 0" scale="2 2 2"></a-entity>
<a-entity id="deino-forest-fern-34" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-18.46307 -0.14827 -14.92401" rotation="0 70 0" scale="4 4 4"></a-entity>
<a-entity id="deino-forest-fern-35" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-27.80437 -0.25355 -5.57147" rotation="0 -116.31 0" scale="3 4.0003 4.01"></a-entity>
<a-entity id="deino-forest-fern-36" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-15.19327 0.33494 -22.91588" rotation="0 -116.31 0" scale="2.5 3 3"></a-entity>
<a-entity id="deino-forest-fern-37" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-2.83771 -0.17419 10.07558" rotation="0 -116.31 0" scale="3 4.0003 4.01"></a-entity>
<a-entity id="deino-forest-fern-38" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-8.24457 -0.17419 10.4769" rotation="0 -116.31 0" scale="2 2 2"></a-entity>
<a-entity id="deino-forest-fern-39" instanced-mesh-member="mesh:#forest-fern-1-mesh" position="-11.1687 0.72312 9.69164"
  rotation="0 -116.31 0" scale="1.5 1.5 1.5"></a-entity>
<a-entity id="deino-forest-fern-40" instanced-mesh-member="mesh:#forest-fern-1-mesh"
  position="-30.1362 -0.35055 -7.10261" rotation="0 90 0" scale="4 4 4"></a-entity>

<a-entity id="deino-forest-plant-1" gltf-model="#forest-plant-2-asset" position="-4.77535 -0.03847 -2.86343"
  rotation="0 -32.88 0" scale="2.8 2.8 2.8"></a-entity>
<a-entity id="deino-forest-plant-2" animation-mixer="timeScale: 0" gltf-model="#forest-plant-2-asset" position="-5.37935 1.01198 -4.50242"
  rotation="0 0 0" scale="2.5 2.5 2.5"></a-entity>

<a-entity id="ground-mud-mesh" class="spino-surface" gltf-model="#ground-mud-asset" instanced-mesh>
</a-entity>
<a-entity id="deino-forest-ground" instanced-mesh-member="mesh:#ground-mud-mesh" position="-9.39638 -0.18268 -7.79258"
  rotation="-0.81 90 12" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="deino-forest-ground-2" instanced-mesh-member="mesh:#ground-mud-mesh" position="-37.10745 -1.147 -8.13343"
  rotation="0 90 12" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="deino-forest-ground-3" instanced-mesh-member="mesh:#ground-mud-mesh"
  position="-22.08524 -2.83764 28.86605" rotation="0 90 12" scale="0.84 0.5 0.84"></a-entity>
<a-entity id="deino-forest-ground-4" instanced-mesh-member="mesh:#ground-mud-mesh"
  position="-14.90591 2.38967 -45.68658" rotation="0 90 12.000000000000002" scale="0.84 0.5 0.84"></a-entity>

<a-entity id="deino-swamp-mangrove" gltf-model="#swamp-mangrove-asset" position="-6.45354 -1.02762 -7.88958"
  rotation="0 60 0" scale="20 20 20"></a-entity>
<a-entity id="deino-swamp-mangrove-2" gltf-model="#swamp-mangrove-asset" position="-4.96207 -0.95413 -9.40922"
  rotation="0 80 0" scale="20 20 20"></a-entity>
<a-entity id="deino-swamp-mangrove-3" gltf-model="#swamp-mangrove-2-asset" position="0.24822 -0.75838 -4.97948"
  rotation="0 -103.54 0" scale="20 20 20"></a-entity>

<!-- <a-entity id="deino-rain" animation-mixer="clip: Scene; timeScale: 0.5" gltf-model="#rain-asset"
  position="-7.35012 0.08154 -6.0654" rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="deino-rain-2" animation-mixer="clip: Scene; timeScale: 0.5" gltf-model="#rain-asset"
  position="-7.35012 0.08154 -6.0654" rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="deino-rain-3" animation-mixer="clip: Scene; timeScale: 0.5" gltf-model="#rain-asset"
  position="-7.35012 0.08154 -6.0654" rotation="0 0 0" scale="2 2 2"></a-entity> -->

<a-entity id="deino-dragonfly" visible="true" dragonfly-animation
  animation-mixer="clip: Armature.001|Take 001|BaseLayer.001" id="dragonfly" gltf-model="#dragonfly-asset"
  position="3.57 3.495 -15.093" rotation="-2.91 28.45 -0.88" scale="0.6 0.6 0.6"
  sound__dragonfly="src: #deino-dragonfly-sound; volume: 2; loop: true">
</a-entity>