<a-light id="deino-ambiant-light" type="ambient" light="intensity: 0.3"></a-light>
<!-- <a-entity id="deino-point-1"
  light="type: spot; intensity: 41.67; distance: 15; decay: 3.62;color: #6293e3; groundColor: #000000; angle: 180; penumbra: 0"
  position="-6.94394 5.99474 -8.56824"></a-entity> -->
<a-light id="deino-light-2"
  light="distance: 200; decay: 200.01; intensity: 1; penumbra: 0; angle: 0; groundColor: #e4863a; color: #7d899b"
  type="directional" position="13.92801 29.80533 17.87966" rotation="-90 0 0" target="#deino-directionaltarget-2">
  <a-entity id="deino-directionaltarget-2" position="-49.61093 102.47549 -37.84089"></a-entity>
</a-light>