<a-light id="visitors-ambiant-light" visible="true" type="ambient" light="intensity: 1.3;color: #d9d9d9"></a-light>
<a-light id="gallery-light-2" light="distance: 200; decay: 200; intensity: 2.513; penumbra: 0; angle: 0; color: #ffffff"
  type="directional" position="-46.39334 -3.44573 -44.07867" rotation="-90 0 0" target="#gallery-directionaltarget-2">
  <a-entity id="gallery-directionaltarget-2" position="75.20662 -68.52088 14.61588"></a-entity>
</a-light>
<a-light id="gallery-light-3" light="distance: 200; decay: 200; intensity: 2.513; penumbra: 0; angle: 0; color: #ffffff"
  type="directional" position="23.43702 -16.96311 15.66108" rotation="-90 0 0" target="#gallery-directionaltarget-3">
  <a-entity id="gallery-directionaltarget-2" position="69.9143 -36.22811 -64.08131"></a-entity>
</a-light>