<a-entity id="gallery-env" class="dispose" visible="true" gltf-model="#gallery-env-asset" position="0.663 0.23 0"
  rotation="0 0 0" scale="0.21 0.21 0.21">
</a-entity>
<a-entity id="gallery-main-checkpoint" class="dispose" checkpoint-animation animation-mixer="clip: Take 001"
  gltf-model="#checkpoint-asset" position="0.64115 1.1 11.80821" rotation="0 110 0" scale="4 4 4"></a-entity>
<a-entity id="gallery-men-6" class="dispose" animation-mixer="clip: Rig|new_sit_idle; timeScale: 0.8"
  gltf-model="#men-3-asset" position="1.78279 0.364 -2.051" rotation="0 -90 0" scale="1.35 1.35 1.35"></a-entity>
<a-entity id="gallery-women-1" animation-mixer="clip: Neutral Idle; timeScale: 0.8" gltf-model="#women-1-asset"
  position="-7.89358 0.23514 -1.14221" rotation="0 100 0" scale="1.5 1.5 1.5"></a-entity>
<a-entity id="gallery-frame-1" gltf-model="#frame-asset" position="-4.20587 2.61013 7.10641" rotation="0 90 90"
  scale="1.1 1 1">
  <!-- <a-entity id="gallery-image-placeholder" geometry="primitive: box; width: 1" material="color: red" scale="1 1 1"
    position="0 0 -90" rotation="0 0 0"></a-entity> -->
  <a-entity id="gallery-image-1-wrapper" scale="2.13 1.67 1" position="0 0 0" rotation="0 0 -90">
    <a-image id="gallery-image-1" src="#gallery-image-1-asset">
    </a-image>
  </a-entity>
</a-entity>