<!-- <a-sky id="trex-sky" visible="false" position="-50 7 0" material="color: #ffffff; fog: true; opacity: 1"
  rotation="0 130 0" scale="-1 1 1" geometry="radius: 200" src="#trex-360-asset"></a-sky> -->

<a-entity id="mammoth-env" disable-fog anisotropy="16" rotation="0 0 2" gltf-model="#mammoth-scene-asset"
  position="1.336 -0.945 -1.22" scale="1 1 1"></a-entity>

<a-entity id="mammoth-glacier-1" disable-fog anisotropy="16" rotation="3.22 0 2" gltf-model="#glacier-1-asset"
  position="301.54587 147.56387 -175.05627" scale="105 105 -105"></a-entity>

<a-entity id="mammoth-glacier-2" disable-fog anisotropy="16" rotation="0 0 2" gltf-model="#glacier-2-asset"
  position="277.16325 134.91729 -159.18396" scale="100 100 -100"></a-entity>