<a-light id="mammoth-ambiant-light" position="4.76032 4.82117 -1.80252" visible="true" type="ambient"
  light="intensity: 31.415;color: #303030"></a-light>
<a-light id="mammoth-light-2"
  light="distance: 49.99; decay: 50; intensity: 9.424; penumbra: 0; angle: 0; groundColor: #e4863a; color: #ffffff"
  type="directional" position="-41.0545 29.80533 -52.81133" rotation="-90 0 0" target="#mammoth-directionaltarget-2">
  <a-entity id="mammoth-directionaltarget-2" position="60.1216 -96.04862 -33.994"></a-entity>
</a-light>

<a-light id="mammoth-light-3"
  light="distance: 200; decay: 200.01; intensity: 7.853; penumbra: 0; angle: 0; groundColor: #e4863a; color: #a1a1a1"
  type="directional" position="17.40893 28.24754 59.19258" rotation="-90 0 0" target="#mammoth-directionaltarget-3">
  <a-entity id="mammoth-directionaltarget-3" position="2.98786 282.0698 -44.528"></a-entity>
</a-light>