<!-- <a-sky id="mammoth-sky" visible="true" position="0 50 0" material="color: #ffffff; fog: false; opacity: 1"
  rotation="0 130 0" scale="1 1 2" geometry="radius: 10000" src="#mammoth-360-asset"></a-sky> -->

<a-entity id="mammoth-env" disable-fog anisotropy="16" rotation="0 0 2" gltf-model="#mammoth-scene-asset"
  position="1.336 -0.945 -1.22" scale="1 1 1"></a-entity>

<a-entity id="mammoth-glacier-1" sound__glacier="src: #glacier-audio-asset; volume: 30; rolloffFactor: 0.05" disable-fog
  rotation="3.22 0 2" gltf-model="#glacier-1-asset" position="424.5301 198.9643 2.88716"
  scale="160 160 -160"></a-entity>

<a-entity id="mammoth-glacier-2" disable-fog rotation="0 0 2" gltf-model="#glacier-2-asset"
  position="406.47584 192.09058 4.95256" scale="150 150 -150"></a-entity>