<a-entity id="mammoth" animation-mixer="clip: walk; timeScale: 1" gltf-model="#mammoth-asset"
  position="41.191 5.26286 3.839" rotation="0 0 0" scale="1.2 1.2 1.2">
</a-entity>
<a-entity id="mammoth-2" animation-mixer="clip: walk; timeScale: 0.8" gltf-model="#mammoth-asset"
  position="46.29877 5.69559 -7.41597" rotation="0 0 0" scale="0.8 0.8 0.8">
</a-entity>
<a-entity id="mammoth-3" animation-mixer="clip: walk; timeScale: 0.9" gltf-model="#mammoth-asset"
  position="40.76549 5.74397 -11.54814" rotation="0 0 0" scale="1 1 1">
</a-entity>

<a-entity id="wolf" animation-mixer="clip: Walk; timeScale: 0.9" gltf-model="#wolf-asset"
  position="40.76549 5.74397 -11.54814" rotation="0 0 0" scale="1 1 1">
</a-entity>

<a-entity id="eagle" animation-mixer="clip: Armature|EagleA_Idle3; timeScale: 0.9" gltf-model="#eagle-asset"
  position="40.76549 5.74397 -11.54814" rotation="0 0 0" scale="1 1 1">
</a-entity>