<!-- Plants and trees-->
<a-entity
  id="fire"
  position="1.31771 7.07346 8.95986"
  geometry="depth: 0.001; width: 1.890; height: 2.610"
  material="shader: gif; depth: 0;src: url(./build/images/fire.gif);transparent:true;opacity:1"
></a-entity>
<a-entity
  id="fire2"
  position="0.18115 11.3829 8.16894"
  geometry="depth: 0.001; width: 1.890; height: 2.610"
  material="shader: gif; depth: 0;src: url(./build/images/fire.gif);transparent:true;opacity:1"
></a-entity>
<a-entity
  id="fire3"
  position="15.95208 6.96643 8.85697"
  geometry="depth: 0.001; width: 1.890; height: 2.610"
  material="shader: gif; depth: 0;src: url(./build/images/fire.gif);transparent:true;opacity:1"
></a-entity>
<a-entity
  id="fire4"
  position="17.02392 11.44821 8.15853"
  geometry="depth: 0.001; width: 1.890; height: 2.610"
  material="shader: gif; depth: 0;src: url(./build/images/fire.gif);transparent:true;opacity:1"
></a-entity>
<a-entity
  id="fire5"
  position="1.47092 17.79624 7.90707"
  geometry="depth: 0.001; width: 1.890; height: 2.610"
  material="shader: gif; depth: 0;src: url(./build/images/fire.gif);transparent:true;opacity:1"
></a-entity>
<a-entity
  id="fire6"
  position="15.96494 23.54922 7.31974"
  geometry="depth: 0.001; width: 1.890; height: 2.610"
  material="shader: gif; depth: 0;src: url(./build/images/fire.gif);transparent:true;opacity:1"
></a-entity>
<a-entity
  id="fire7"
  position="1.53509 23.74668 7.35187"
  geometry="depth: 0.001; width: 1.890; height: 2.610"
  material="shader: gif; depth: 0;src: url(./build/images/fire.gif);transparent:true;opacity:1"
></a-entity>
<a-entity
  id="fire8"
  position="15.82507 17.73329 8.23639"
  geometry="depth: 0.001; width: 1.890; height: 2.610"
  material="shader: gif; depth: 0;src: url(./build/images/fire.gif);transparent:true;opacity:1"
></a-entity>
<a-entity
  id="tropical-plant-01"
  gltf-model="#tropical-plant-asset"
  position="-13.61636 0 68.33879"
  rotation="-0.01 50 0"
  scale="0.05 0.05 0.05"
></a-entity>
<a-entity
  id="tropical-plant-02"
  gltf-model="#tropical-plant-asset"
  position="-15.40556 0 28.7264"
  rotation="-0.01 50 0"
  scale="0.05 0.05 0.05"
></a-entity>
<a-entity
  id="tropical-plant-03"
  gltf-model="#tropical-plant-asset"
  position="-11.1278 0.0733 69.41978"
  rotation="-0.01 50 0"
  scale="0.1 0.1 0.1"
></a-entity>
<a-entity
  id="tropical-plant-04"
  gltf-model="#tropical-plant-asset"
  position="-40.23766 0 39.92696"
  rotation="-0.01 50 0"
  scale="0.1 0.1 0.1"
></a-entity>
<a-entity
  id="tropical-plant-05"
  gltf-model="#tropical-plant-asset"
  position="-35.5409 0 53.25946"
  rotation="-0.01 50 0"
  scale="0.1 0.1 0.1"
></a-entity>

<a-entity
  id="simple-plant-01"
  gltf-model="#simple-plant-asset"
  position="-7.9688 1.116 31.23763"
  rotation="-0.01 50 0"
  scale="1 1 1"
></a-entity>
<a-entity
  id="simple-plant-02"
  gltf-model="#simple-plant-asset"
  position="2.89972 0 40.31958"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-03"
  gltf-model="#simple-plant-asset"
  position="0.86365 0 31.57047"
  rotation="-0.01 50 0"
  scale="7 10 7"
></a-entity>
<a-entity
  id="simple-plant-04"
  gltf-model="#simple-plant-asset"
  position="14.61038 0 31.99481"
  rotation="-0.01 50 0"
  scale="10 7 7"
></a-entity>
<a-entity
  id="simple-plant-05"
  gltf-model="#simple-plant-asset"
  position="14.53815 0 62.19312"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-06"
  gltf-model="#simple-plant-asset"
  position="20.04192 0 -21.83366"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-07"
  gltf-model="#simple-plant-asset"
  position="14.51096 0 51.01256"
  rotation="-0.01 41.6 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-08"
  gltf-model="#simple-plant-asset"
  position="2.55316 0 68.22077"
  rotation="-0.01 59.93 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-013"
  gltf-model="#simple-plant-asset"
  position="1.84763 0 63.45892"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-015"
  gltf-model="#simple-plant-asset"
  position="12.93905 -0.00862 68.57607"
  rotation="-0.01 33.27 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-016"
  gltf-model="#simple-plant-asset"
  position="15.00118 0.09309 22.14304"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-17"
  gltf-model="#simple-plant-asset"
  position="-11.90847 0 -35.29505"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-18"
  gltf-model="#simple-plant-asset"
  position="-3.38271 0 -63.38747"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-19"
  gltf-model="#simple-plant-asset"
  position="-9.33513 0 -82.31538"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-20"
  gltf-model="#simple-plant-asset"
  position="1.23401 0 14.11476"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="double-rock-01"
  gltf-model="#double-rock-asset"
  position="0.73076 0 34.90853"
  rotation="-0.01 50 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-02"
  gltf-model="#double-rock-asset"
  position="16.67395 0 17.38682"
  rotation="-0.01 119.99999999999999 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-03"
  gltf-model="#double-rock-asset"
  position="0.9374 0 50.53559"
  rotation="-0.01 50 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-05"
  gltf-model="#double-rock-asset"
  position="15.12477 0.10204 41.56256"
  rotation="-0.01 98.83 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-06"
  gltf-model="#double-rock-asset"
  position="1.75374 0 23.93329"
  rotation="-0.01 98.61 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-08"
  gltf-model="#double-rock-asset"
  position="14.66687 0 76.93936"
  rotation="-0.01 69.55 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-09"
  gltf-model="#double-rock-asset"
  position="0.77585 0 78.05357"
  rotation="-0.01 104 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-010"
  gltf-model="#double-rock-asset"
  position="16.11943 0 25.33583"
  rotation="-0.01 50 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-11"
  gltf-model="#double-rock-asset"
  position="14.09134 0 95.61289"
  rotation="-0.01 69.55 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-12"
  gltf-model="#double-rock-asset"
  position="1.96325 0 95.5531"
  rotation="-0.01 112.97 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="palms-01"
  gltf-model="#palms-asset"
  position="26.84144 -0.55116 37.81967"
  rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-02"
  gltf-model="#palms-asset"
  position="-22.99261 -0.55116 -61.36486"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-03"
  gltf-model="#palms-asset"
  position="-5.40848 0 71.54073"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-04"
  gltf-model="#palms-asset"
  position="-8.4718 -0.55116 38.50042"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-05"
  gltf-model="#palms-asset"
  position="-9.59382 -0.55116 12.31159"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-06"
  gltf-model="#palms-asset"
  position="22.89665 -0.55116 52.48549"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-07"
  gltf-model="#palms-asset"
  position="22.76027 -0.24117 64.90686"
  rotation="-0.01 160 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-08"
  gltf-model="#palms-asset"
  position="-6.35347 -0.55116 55.69041"
  rotation="-0.01 22.62 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-09"
  gltf-model="#palms-asset"
  position="37.79 -0.55116 -41.35048"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-10"
  gltf-model="#palms-asset"
  position="25.85499 -0.55116 16.04104"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>

<a-entity
  id="gate"
  gltf-model="#gate-asset"
  position="8.75 0 6.679"
  rotation="0 0 0"
  scale="2.5 2.41 2.4"
></a-entity>
<a-entity
  id="small-fence-1"
  gltf-model="#small-fence-asset"
  position="-3.60478 0.7 53.3549"
  rotation="0 90 0"
  scale="7.5 1 1"
></a-entity>
<a-entity
  id="small-fence-2"
  gltf-model="#small-fence-asset"
  position="21.27 0.7 52.84292"
  rotation="0 90 0"
  scale="7.5 1 -1"
></a-entity>
<a-entity
  id="small-fence-3"
  gltf-model="#small-fence-asset"
  position="58.44066 0.7 8.67093"
  rotation=""
  scale="-6 1 -1"
></a-entity>
<a-entity
  id="small-fence-4"
  gltf-model="#small-fence-asset"
  position="-40.40607 0.7 6.93181"
  rotation=""
  scale="6 1 -1"
></a-entity>
