<!-- Plants and trees-->
<a-entity id="gate-simple-plant-01" gltf-model="#simple-plant-asset" position="-13.88661 -0.16198 76.98718"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-02" gltf-model="#simple-plant-asset" position="-20.02428 0 -53.36729"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-03" gltf-model="#simple-plant-asset" position="-25.22265 0 -51.52977"
  rotation="-0.01 50 0" scale="7 10 7"></a-entity>
<a-entity id="gate-simple-plant-04" gltf-model="#simple-plant-asset" position="-5.00074 0 -42.72564"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-05" gltf-model="#simple-plant-asset" position="19.61857 0 -86.81388"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-06" gltf-model="#simple-plant-asset" position="-9.95386 0 -27.06494"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-07" gltf-model="#simple-plant-asset" position="18.27732 0 -87.70663"
  rotation="-0.01 41.6 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-08" gltf-model="#simple-plant-asset" position="-12.5589 -0.4355 -42.61678"
  rotation="-0.01 59.93 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-013" gltf-model="#simple-plant-asset" position="-20.76051 0 -58.11205"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-015" gltf-model="#simple-plant-asset" position="-9.86128 -0.00862 -34.06035"
  rotation="-0.01 33.27 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-016" gltf-model="#simple-plant-asset" position="-6.20967 0.09309 -26.59081"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-17" gltf-model="#simple-plant-asset" position="-21.13288 0 -61.5084"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-18" gltf-model="#simple-plant-asset" position="-17.39596 0 -57.67698"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-19" gltf-model="#simple-plant-asset" position="23.14642 0 -87.8622"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-20" gltf-model="#simple-plant-asset" position="46.99697 0 -5.69403"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-double-rock-01" gltf-model="#double-rock-asset" position="-12.76375 0 28.69936" rotation="-0.01 50 0"
  scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-02" gltf-model="#double-rock-asset" position="-6.54819 0.80474 -37.06687"
  rotation="-0.01 119.99999999999999 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-03" gltf-model="#double-rock-asset" position="-14.8669 0 -127.65698"
  rotation="-0.01 50 0" scale="10 10 10"></a-entity>
<a-entity id="gate-double-rock-05" gltf-model="#double-rock-asset" position="-28.11608 0.10204 -53.316"
  rotation="-0.01 98.83 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-06" gltf-model="#double-rock-asset" position="-26.81301 1.90355 -58.60572"
  rotation="-0.01 98.61 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-08" gltf-model="#double-rock-asset" position="34.23635 0 -155.23796"
  rotation="-0.01 150 0" scale="8 8 8"></a-entity>
<a-entity id="gate-double-rock-09" gltf-model="#double-rock-asset" position="-7.72947 0.8028 -1.45495"
  rotation="-0.01 104 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-010" gltf-model="#double-rock-asset" position="-7.3558 0 -30.29621" rotation="-0.01 50 0"
  scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-11" gltf-model="#double-rock-asset" position="63.65185 0 -3.44247"
  rotation="-0.01 69.55 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-12" gltf-model="#double-rock-asset" position="-16.0987 2.71168 -67.0001"
  rotation="-0.01 112.97 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-13" gltf-model="#double-rock-asset" position="0.20928 1.37994 7.23308"
  rotation="-0.01 0 0" scale="3 3 3"></a-entity>
<a-entity id="gate-palms-01" gltf-model="#fir-tree-asset" position="28.02338 -5.81817 -29.47526" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-02" gltf-model="#fir-tree-asset" position="63.25048 -0.55116 -91.5805" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-03" gltf-model="#fir-tree-asset" position="19.80598 0 -90.73907" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-04" gltf-model="#fir-tree-asset" position="-41.66045 -0.55116 -66.2937" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-05" gltf-model="#fir-tree-asset" position="-15.54881 -0.55116 -2.59543" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-06" gltf-model="#fir-tree-asset" position="-22.22297 -6.32016 10.27338" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-07" gltf-model="#fir-tree-asset" position="25.80711 -0.24117 -88.66313" rotation="-0.01 160 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-08" gltf-model="#fir-tree-asset" position="-56.15801 -4.41599 -58.13095"
  rotation="-0.01 22.62 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-09" gltf-model="#fir-tree-asset" position="-18.2573 -0.55116 -24.83523" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-10" gltf-model="#fir-tree-asset" position="-13.01 -0.9868 -34.09111" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-11" gltf-model="#fir-tree-asset" position="-36.11996 -0.987 -53.2288" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-12" gltf-model="#fir-tree-asset" position="41.08214 -0.9868 -122.15695" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-13" gltf-model="#fir-tree-asset" position="21.39291 -8.83297 -3.74886" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>

<a-entity id="gate-double-rock-14" gltf-model="#double-rock-asset" position="-21.74717 0 42.18153" rotation="-0.01 50 0"
  scale="9.32 5 -16.6"></a-entity>
<a-entity id="gate-double-rock-15" gltf-model="#double-rock-asset" position="25.65689 -0.29442 41.72045"
  rotation="-0.01 50 0" scale="5 9.02 10.48"></a-entity>
<a-entity id="gate-double-rock-16" gltf-model="#double-rock-asset" position="32.29377 0 65.91869" rotation="-0.01 50 0"
  scale="5 6.29 5"></a-entity>
<a-entity id="gate-double-rock-17" gltf-model="#double-rock-asset" position="39.22613 0 65.04944" rotation="-0.01 50 0"
  scale="10 15 10"></a-entity>
<a-entity id="gate-double-rock-18" gltf-model="#double-rock-asset" position="-21.28415 0 84.3279" rotation="-0.01 50 0"
  scale="10 10 10"></a-entity>
<a-entity id="gate-double-rock-19" gltf-model="#double-rock-asset" position="34.15315 0 61.9644" rotation="-0.01 0 0"
  scale="8 8 8"></a-entity>

<a-entity id="gate-palms-14" gltf-model="#fir-tree-asset" position="-27.62717 -5.81817 43.31014" rotation="-0.01 0 -15"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-15" gltf-model="#fir-tree-asset" position="26.85401 -5.81817 36.54977" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-16" gltf-model="#fir-tree-asset" position="-8.88032 -5.81817 89.9943" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-17" gltf-model="#fir-tree-asset" position="-41.19511 -5.81817 69.18589" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-18" gltf-model="#fir-tree-asset" position="48.29226 -5.81817 54.11375" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-19" gltf-model="#fir-tree-asset" position="62.24729 -5.81817 92.55784" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-20" gltf-model="#fir-tree-asset" position="27.94328 -5 81.91762" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="picnic-1" gltf-model="#picnic-asset" position="-19.31729 0.35213 55.46336" rotation="0 90 0"
  scale="0.7 0.9 0.7"></a-entity>
<a-entity id="picnic-2" gltf-model="#picnic-asset" position="-12.28857 0.35213 67.66962" rotation="0 90 0"
  scale="0.7 0.9 0.7"></a-entity>

<a-entity id="big-wall-1" gltf-model="#big-wall-asset" position="66.28544 0.07071 19.8092" rotation="0 0 0"
  scale="8 8 8"></a-entity>
<a-entity id="big-wall-2" gltf-model="#big-wall-asset" position="-49.30811 0.07071 19.8092" rotation="0 0 0"
  scale="8 8 8"></a-entity>
<a-entity id="big-wall-3" gltf-model="#big-wall-asset" position="113.47429 0.07071 19.8092" rotation="0 0 0"
  scale="8 8 8"></a-entity>
<a-entity id="big-wall-4" gltf-model="#big-wall-asset" position="-1.88337 0.07071 19.8092" rotation="0 0 0"
  scale="8 8 8"></a-entity>
<a-entity id="big-door" gltf-model="#big-door-asset" position="8.28522 10.679999999999986 18.32769" rotation="90 0 0"
  scale="0.02 0.02 0.02"></a-entity>

<a-entity id="small-light-1" gltf-model="#small-light-asset" position="18.86357 9.57335 20.46015" rotation="90 0 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="small-light-2" gltf-model="#small-light-asset" position="-2.14683 9.57335 20.46015" rotation="90 0 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="lampadaire-1" gltf-model="#lampadaire-asset" position="-25.24234 2.98302 48.11172" rotation="0 0 0"
  scale="3 3 3"></a-entity>
<a-entity id="lampadaire-2" gltf-model="#lampadaire-asset" position="-18.3175 2.98302 70.0705" rotation="0 0 0"
  scale="3 3 3"></a-entity>
<a-entity id="male-carac" gltf-model="#male-carac-asset" animation-mixer="clip: Rig|man_sit_idle"
  position="-13.82992 0.19732 67.53093" rotation="0 -90 0" scale="0.03 0.03 0.03"></a-entity>

<!-- <a-entity id="gate-corridor-1" gltf-model="#corridor-asset" position="58.43065 6.02 84.67505" rotation="0 90 0"
  scale="0.055 0.025 0.025"></a-entity> -->
<!-- <a-box id="gate-box" geometry="depth: 20; height: 20; width: 20" scale="1 1 1" position="8.14994 8.5561 103.65537" color="#000" depth="20" height="20" width="20"></a-box> -->