<!-- Plants and trees-->
<a-entity id="gate-simple-plant-01" gltf-model="#simple-plant-asset" position="-13.88661 -0.16198 76.98718"
  rotation="-0.01 50 0" scale="8 8 8"></a-entity>
<a-entity id="gate-simple-plant-02" gltf-model="#simple-plant-asset" position="-14.57836 -0.34722 -53.81976"
  rotation="-0.01 50 0" scale="8 8 8"></a-entity>
<a-entity id="gate-simple-plant-03" gltf-model="#simple-plant-asset" position="-21.39694 0 -51.27704"
  rotation="-0.01 50 0" scale="7 10 7"></a-entity>
<a-entity id="gate-simple-plant-04" gltf-model="#simple-plant-asset" position="-5.77695 0 -41.25991"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-05" gltf-model="#simple-plant-asset" position="20.03911 0 -66.8615"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-06" gltf-model="#simple-plant-asset" position="-9.95386 0 -27.06494"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-07" gltf-model="#simple-plant-asset" position="16.86624 0 -68.05112"
  rotation="-0.01 41.6 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-08" gltf-model="#simple-plant-asset" position="-10.64733 -0.4355 -41.54164"
  rotation="-0.01 59.93 0" scale="6 6 6"></a-entity>
<a-entity id="gate-simple-plant-013" gltf-model="#simple-plant-asset" position="-16.06869 0 -58.11205"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-015" gltf-model="#simple-plant-asset" position="-9.86128 -0.00862 -34.06035"
  rotation="-0.01 33.27 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-016" gltf-model="#simple-plant-asset" position="-6.20967 0.09309 -26.59081"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-17" gltf-model="#simple-plant-asset" position="-15.08964 0 -61.5084"
  rotation="-0.01 50 0" scale="6 6 6"></a-entity>
<a-entity id="gate-simple-plant-18" gltf-model="#simple-plant-asset" position="-12.72509 0 -57.67698"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-19" gltf-model="#simple-plant-asset" position="26.83314 0 -63.20918"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-20" gltf-model="#simple-plant-asset" position="28.4331 0 -9.50549" rotation="-0.01 50 0"
  scale="8 8 8"></a-entity>
<a-entity id="gate-simple-plant-21" gltf-model="#simple-plant-asset" position="17.0815 0 -86.00299" rotation="-0.01 16.65 0"
  scale="6 6 6"></a-entity>
<a-entity id="gate-double-rock-01" gltf-model="#double-rock-asset" position="-10.26536 0 23.52987" rotation="-0.01 50 0"
  scale="10 8 8"></a-entity>
<a-entity id="gate-double-rock-02" gltf-model="#double-rock-asset" position="-6.54819 0.80474 -37.06687"
  rotation="-0.01 119.99999999999999 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-03" gltf-model="#double-rock-asset" position="-14.8669 0 -127.65698"
  rotation="-0.01 50 0" scale="10 10 10"></a-entity>
<a-entity id="gate-double-rock-05" gltf-model="#double-rock-asset" position="-22.49476 0.10204 -56.04807"
  rotation="-0.01 98.83 0" scale="5 11.18 5"></a-entity>
<a-entity id="gate-double-rock-06" gltf-model="#double-rock-asset" position="-20.30858 1.90355 -58.60572"
  rotation="-0.01 98.61 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-08" gltf-model="#double-rock-asset" position="34.23635 2.99881 -155.23796"
  rotation="-0.01 150 0" scale="8 8 8"></a-entity>
<a-entity id="gate-double-rock-09" gltf-model="#double-rock-asset" position="-7.72947 0.8028 -1.45495"
  rotation="-0.01 104 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-010" gltf-model="#double-rock-asset" position="-7.3558 0 -30.29621" rotation="-0.01 50 0"
  scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-11" gltf-model="#double-rock-asset" position="30.29606 0 -3.44247"
  rotation="-0.01 69.55 0" scale="5.96 10 10"></a-entity>
<a-entity id="gate-double-rock-12" gltf-model="#double-rock-asset" position="-11.84273 2.71168 -67.0001"
  rotation="-0.01 112.97 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-13" gltf-model="#double-rock-asset" position="-5.30076 1.37994 2.70245"
  rotation="-0.01 0 0" scale="3 3 3"></a-entity>
<a-entity id="gate-double-rock-14" gltf-model="#double-rock-asset" position="19.99395 2.19884 -83.30727"
  rotation="-0.01 180 0" scale="5 5 5"></a-entity>
<a-entity id="gate-palms-01" gltf-model="#fir-tree-asset" position="28.02338 -5.81817 -29.47526" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-02" gltf-model="#fir-tree-asset" position="25.56176 -8.62355 -106.49748" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-03" gltf-model="#fir-tree-asset" position="19.80598 -0.17909 -69.78492" rotation="-0.01 -24.24 0"
  scale="0.06 0.07 0.06"></a-entity>
<a-entity id="gate-palms-04" gltf-model="#fir-tree-asset" position="-39.27596 -0.55116 -66.2937" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-05" gltf-model="#fir-tree-asset" position="-18.56955 -0.55116 -2.58486" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-06" gltf-model="#fir-tree-asset" position="-32.51585 -6.32016 -105.09236" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-07" gltf-model="#fir-tree-asset" position="27.99786 -0.24117 -65.49599" rotation="-0.01 160 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-08" gltf-model="#fir-tree-asset" position="40.43535 -2.80685 -66.89397"
  rotation="-0.01 22.62 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-09" gltf-model="#fir-tree-asset" position="-28.353 -0.55116 -24.83523" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-10" gltf-model="#fir-tree-asset" position="-13.01 -0.9868 -34.09111" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-11" gltf-model="#fir-tree-asset" position="-27.93945 -0.987 -53.2288" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-12" gltf-model="#fir-tree-asset" position="41.08214 -0.9868 -122.15695" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-13" gltf-model="#fir-tree-asset" position="32.52286 -8.83297 -7.13226" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>

<a-entity id="gate-double-rock-14" gltf-model="#double-rock-asset" position="-21.74717 0 42.18153" rotation="-0.01 50 0"
  scale="9.32 5 -16.6"></a-entity>
<a-entity id="gate-double-rock-15" gltf-model="#double-rock-asset" position="35.26283 -0.29442 42.62013"
  rotation="-0.01 50 0" scale="5 9.02 10.48"></a-entity>
<a-entity id="gate-double-rock-16" gltf-model="#double-rock-asset" position="32.29377 0 60.24686" rotation="-0.01 50 0"
  scale="5 6.29 5"></a-entity>
<a-entity id="gate-double-rock-17" gltf-model="#double-rock-asset" position="39.22613 0 56.33375" rotation="-0.01 50 0"
  scale="10 15 10"></a-entity>
<a-entity id="gate-double-rock-18" gltf-model="#double-rock-asset" position="-21.28415 0 84.3279" rotation="-0.01 50 0"
  scale="10 10 10"></a-entity>
<a-entity id="gate-double-rock-19" gltf-model="#double-rock-asset" position="34.15315 0 58.12294" rotation="-0.01 0 0"
  scale="8 8 8"></a-entity>

<a-entity id="gate-palms-14" gltf-model="#fir-tree-asset" position="-27.62717 -5.81817 43.31014" rotation="-0.01 0 -15"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-15" gltf-model="#fir-tree-asset" position="-15.71329 -5.81817 21.66395" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-16" gltf-model="#fir-tree-asset" position="-8.88032 -5.81817 89.9943" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-17" gltf-model="#fir-tree-asset" position="-41.19511 -5.81817 69.18589" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-18" gltf-model="#fir-tree-asset" position="38.74492 -5.81817 45.22405" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-19" gltf-model="#fir-tree-asset" position="62.24729 -5.81817 92.55784" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-20" gltf-model="#fir-tree-asset" position="27.94328 -5 81.91762" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="picnic-1" gltf-model="#picnic-asset" position="-19.79602 0.07849 55.60797" rotation="0 90 0"
  scale="0.6 0.7 0.6"></a-entity>
<a-entity id="picnic-2" gltf-model="#picnic-asset" position="-13.36999 0.10018 70.21693" rotation="0 90 0"
  scale="0.6 0.6 0.6"></a-entity>

<!-- <a-entity id="gate-bush-1" gltf-model="#bush-asset" position="-18.14552 -0.68786 50.36165" rotation="0 0 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="gate-bush-2" gltf-model="#bush-asset" position="-17.29564 -0.68786 24.64293" rotation="0 150 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="gate-bush-3" gltf-model="#bush-asset" position="-37.84227 -1.45959 68.0958" rotation="0 45 0"
  scale="0.04 0.05 0.05"></a-entity>
<a-entity id="gate-bush-4" gltf-model="#bush-asset" position="38.76897 -2.3467 46.52046" rotation="0 -20.57 0"
  scale="0.08 0.08 0.08"></a-entity>
<a-entity id="gate-bush-5" gltf-model="#bush-asset" position="25.35311 -0.68786 -28.46304" rotation="0 0 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="gate-bush-6" gltf-model="#bush-asset" position="-35.72676 -0.50345 -63.9906" rotation="0 0 0"
  scale="0.08 0.06 0.11"></a-entity>
<a-entity id="gate-bush-7" gltf-model="#bush-asset" position="22.9952 -0.68786 -90.42978" rotation="0 0 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="gate-bush-8" gltf-model="#bush-asset" position="36.63894 -1.52335 -63.65752" rotation="0 45 0"
  scale="0.09 0.08 0.08"></a-entity>
<a-entity id="gate-bush-9" gltf-model="#bush-asset" position="-12.84644 -0.68786 -122.79145" rotation="0 0 0"
  scale="0.08 0.08 0.08"></a-entity>
<a-entity id="gate-bush-10" gltf-model="#bush-asset" position="29.6227 -1.29186 -29.00976" rotation="0 130 0"
  scale="0.05 0.05 0.05"></a-entity> -->

<a-entity id="gate-tall-bush-3" class="performance" gltf-model="#tall-bush-asset" position="52.25803 -3.55616 43.16692"
  rotation="-0.01 0 0" scale="2.4 4 6"></a-entity>
<a-entity id="gate-tall-bush-4" gltf-model="#tall-bush-asset" position="40.30053 -3.47162 78.89107"
  rotation="-0.01 337.46 0" scale="2 4 6"></a-entity>
<a-entity id="gate-tall-bush-10" gltf-model="#tall-bush-asset" position="-49.00622 -8.05873 -126.84005"
  rotation="-0.01 120 0" scale="8 8 8"></a-entity>
<a-entity id="gate-tall-bush-13" gltf-model="#tall-bush-asset" position="59.63224 -3.34623 -117.83523"
  rotation="-0.01 110 0" scale="4.85 2.59 3.4"></a-entity>

<a-entity id="big-wall-1" gltf-model="#big-wall-asset" position="19.26766 0.07071 11.421" rotation="0 0 0"
  scale="-8 8 15"></a-entity>
<a-entity id="big-wall-2" gltf-model="#big-wall-asset" position="-49.30811 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="big-wall-3" gltf-model="#big-wall-asset" position="113.47429 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="big-wall-4" gltf-model="#big-wall-asset" position="-1.19083 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="gate-big-door" sound__gateopen="src: #gate-open; volume: 20"
  sound__gateclose="src: #gate-close; volume: 20" gltf-model="#big-door-asset" position="8.94262 10 10.01273"
  rotation="90 0 0" scale="0.02 0.02 0.02"></a-entity>

<a-entity id="small-light-1" gltf-model="#small-light-asset" position="19.52966 10.603 12.543" rotation="90 0 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="small-light-2" gltf-model="#small-light-asset" position="-1.50598 10.6026 12.69951" rotation="90 0 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="lampadaire-1" gltf-model="#lampadaire-asset" position="-23.01333 2.98302 48.11172" rotation="0 0 0"
  scale="3 3 3"></a-entity>
<a-entity id="lampadaire-2" gltf-model="#lampadaire-asset" position="-18.3175 2.98302 70.0705" rotation="0 0 0"
  scale="3 3 3"></a-entity>

<a-entity id="gate-billboard-1" gltf-model="#billboard-asset" position="31.8202 11.17879 12.80725" rotation="0 45 0"
  scale="5 5 5">
  <a-image id="gate-nt-pannel" src="#nt-pannel-asset" scale="3.57 2.16 1" position="-0.11296 0.00827 -0.0811"
    rotation="0 -44.43 0.16" material="; alphaTest: 0; opacity: 1; shader: standard; emissive: #000000" geometry="">
  </a-image>
</a-entity>

<!-- <a-entity id="gate-corridor-1" gltf-model="#corridor-asset" position="58.43065 6.02 84.67505" rotation="0 90 0"
  scale="0.055 0.025 0.025"></a-entity> -->
<!-- <a-box id="gate-box" geometry="depth: 20; height: 20; width: 20" scale="1 1 1" position="8.14994 8.5561 103.65537" color="#000" depth="20" height="20" width="20"></a-box> -->