<!-- <a-ocean position="0 -0.4 0" ocean="width: 1000; depth: 1000"></a-ocean> -->
<a-plane src="#ground-texture-grass-asset" rotation="-90 0 0" width="350" height="350" repeat="20 20" material=""
  geometry="" position="6 0.1 0"></a-plane>
<a-plane id="ground-road-0" src="#ground-road-texture-asset" rotation="-90 0 0" width="350" height="350" repeat="20 20"
  material="repeat: 1 1" geometry="width: 20.75; height: 101.32" position="8.83362 0.120 60.242" visible=""></a-plane>
<a-plane id="ground-road-1" src="#ground-road-texture-asset" rotation="-90 0 0" width="350" height="350" repeat="20 20"
  material="repeat: 1 1" geometry="width: 20.75; height: 101.32" position="8.83362 0 54.38825" visible=""></a-plane>
<a-plane id="ground-road-2" src="#ground-road-texture-asset" rotation="-90 0 0" width="350" height="350" repeat="20 20"
  material="repeat: 1 1" geometry="width: 22; height: 101.32" position="8.99362 0.15 -39.77018" visible=""></a-plane>
<a-plane id="ground-road-3" src="#ground-road-texture-asset" rotation="-90 0 0" width="350" height="350" repeat="20 20"
  material="repeat: 1 1" geometry="width: 22; height: 101.32" position="8.83362 0.15 -139.93047" visible=""></a-plane>

<a-plane id="gate-mask" scale="100 100 1" material="color: #000000" position="0 -2.92786 -4" rotation="90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>