<!-- <a-ocean position="0 -0.4 0" ocean="width: 1000; depth: 1000"></a-ocean> -->
<a-plane
  src="#ground-texture-grass-asset"
  rotation="-90 0 0"
  width="350"
  height="350"
  repeat="20 20"
  material=""
  geometry=""
  position="6 0.1 0"
></a-plane>
<a-plane
  id="ground-road-1"
  src="#ground-road-texture-asset"
  rotation="-90 0 0"
  width="350"
  height="350"
  repeat="20 20"
  material="repeat: 1 1"
  geometry="width: 20.75; height: 101.32"
  position="8.83362 0.15 54.38825"
  visible=""
></a-plane>
<a-plane
  id="ground-road-2"
  src="#ground-road-texture-asset"
  rotation="-90 0 0"
  width="350"
  height="350"
  repeat="20 20"
  material="repeat: 1 1"
  geometry="width: 22; height: 101.32"
  position="9.06884 0.15 -41.57018"
  visible=""
></a-plane>
<a-plane
  id="ground-road-3"
  src="#ground-road-texture-asset"
  rotation="-90 0 0"
  width="350"
  height="350"
  repeat="20 20"
  material="repeat: 1 1"
  geometry="width: 22; height: 101.32"
  position="9.56177 0.15 -146.04167"
  visible=""
></a-plane>
