<a-light id="gate-ambiant-light" visible="false" type="ambient" light="intensity: 1;color:#c2d9ff"></a-light>

<a-entity id="gate-point-1"
  light="type: spot; intensity: 8; distance: 9; decay: 1;color: #ffffff; groundColor: #000000; angle: 180; penumbra: 0"
  position="-1.93723 9.20395 22.08424"></a-entity>
<a-entity id="gate-point-2"
  light="type: spot; intensity: 8; distance: 9; decay: 1;color: #ffffff; groundColor: #000000; angle: 180; penumbra: 0"
  position="18.59176 9.4712 21.91859"></a-entity>
<a-entity id="gate-point-3"
  light="type: point; intensity: 5; distance: 10; decay: 1;color: #6293e3; groundColor: #000000; angle: 180; penumbra: 0"
  position="-23.81786 7.68827 52.60193"></a-entity>
<a-entity id="gate-point-4"
  light="type: point; intensity: 9.31; distance: 10; decay: 1;color: #6293e3; groundColor: #000000; angle: 180; penumbra: 0"
  position="-16.80171 7.28471 73.93497"></a-entity>