<a-light id="ambiant-light" type="ambient" light="intensity: 0.3"></a-light>

<a-entity
  position="1.7 21.234 13.05537"
  light="distance: 9.91; intensity: 30; type: point; angle: 50; color: #e78341"
  id="flame-light-1"
  rotation="0.76 4.73 2.47"
></a-entity>
<a-entity
  position="15.509 21.234 10.5801"
  light="type: point; intensity: 30; distance: 9.59; color: #e78341"
  id="flame-light-2"
></a-entity>
<a-entity
  position="1.4 12 10.125"
  light="distance: 9.37; intensity: 30; type: point; angle: 50;color: #e78341"
  id="flame-light-3"
  rotation="0.76 4.73 2.47"
></a-entity>
<a-entity
  position="16.3 12 10.125"
  light="type: point; intensity: 30; distance: 9;color: #e78341"
  id="flame-light-4"
></a-entity>
<a-entity
  position="2.21184 7.9759 10.125"
  light="distance: 9.37; intensity: 30; type: point; angle: 50; color: #e78341"
  id="flame-light-5"
  rotation="0.76 4.73 2.47"
></a-entity>
<a-entity
  position="13.86765 8.02148 10.125"
  light="type: point; intensity: 30; distance: 9; color: #e78341"
  id="flame-light-6"
></a-entity>
