<a-assets timeout="10000">
  <!-- Audio -->
  <audio
    id="cmd-beep-asset"
    response-type="arraybuffer"
    src="./build/sounds/beep.mp3"
    preload="auto"
    volume="1"
  ></audio>
  <audio
    id="cmd-error-asset"
    response-type="arraybuffer"
    src="./build/sounds/error.mp3"
    preload="auto"
    volume="1"
  ></audio>
  <audio
    id="jungle-asset"
    response-type="arraybuffer"
    src="./build/sounds/jungle.mp3"
    preload="auto"
    loop="true"
    volume="0.8"
  ></audio>
  <audio
    id="car-drive-asset"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/car-drive.mp3"
    preload="auto"
    loop="true"
    volume="1"
  ></audio>
  <audio
    id="car-stop-asset"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/car-stop.mp3"
    preload="auto"
    volume="1"
  ></audio>
  <audio
    id="sound-mixing-1"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/sound-mixing-1.mp3"
    preload="auto"
    volume="0.7"
  ></audio>
  <audio
    id="sound-mixing-2"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/sound-mixing-2.mp3"
    preload="auto"
    volume="1"
  ></audio>
  <audio
    id="leave"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/leave.mp3"
    preload="auto"
    volume="0.5"
  ></audio>
  <a-asset-item
    id="foot-step-1"
    src="./build/sounds/foot-step-1.mp3"
    preload="auto"
    response-type="arraybuffer"
    crossorigin="anonymous"
  ></a-asset-item>
  <a-asset-item
    id="roar"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/roar.mp3"
    preload="auto"
    volume="1"
  ></a-asset-item>
  <a-asset-item
    id="foot-step-2"
    src="./build/sounds/foot-step-2.mp3"
    preload="auto"
    response-type="arraybuffer"
    crossorigin="anonymous"
  ></a-asset-item>
  <a-asset-item
    id="benddown"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/benddown.mp3"
    preload="auto"
    volume="1"
  ></a-asset-item>
  <a-asset-item
    id="bendup"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/bendup.mp3"
    preload="auto"
    volume="1"
  ></a-asset-item>
  <a-asset-item
    id="snoring"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/snoring.mp3"
    preload="auto"
    volume="1"
  ></a-asset-item>
  <a-asset-item
    id="long-snoring"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/long-snoring.mp3"
    preload="auto"
    volume="1"
  ></a-asset-item>
  <a-asset-item
    id="turn"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/turn.mp3"
    preload="auto"
    volume="1"
  ></a-asset-item>
  <a-asset-item
    id="run"
    response-type="arraybuffer"
    crossorigin="anonymous"
    src="./build/sounds/run.mp3"
    preload="auto"
    volume="1"
  ></a-asset-item>

  <!-- Images -->
  <img id="loading-asset" src="./build/images/loader.png" />
  <img id="rendering-asset" src="./build/images/rendering.png" />
  <img id="sky-texture-asset" src="./build/images/background.jpg" />
  <img id="ground-texture-asset" src="./build/images/floor.jpg" />
  <img id="fake-panel-asset" src="./build/images/fake-panel.jpg" />
  <img id="toilet-asset" src="./build/images/toilet.png" />
  <img id="trex-pannel-asset" src="./build/images/trex.png" />

  <!-- 3D -->
  <!-- Objects -->
  <a-asset-item
    id="car-asset"
    src="./build/models/objects/car/car.glb"
  ></a-asset-item>

  <!-- Environment -->
  <a-asset-item
    id="sign-asset"
    src="./build/models/environment/sign/sign.glb"
  ></a-asset-item>
  <a-asset-item
    <a-asset-item
    id="hut-asset"
    src="./build/models/environment/hut/hut.glb"
  ></a-asset-item>
  <a-asset-item
    id="tunnel-asset"
    src="./build/models/environment/tunnel/tunnel.gltf"
  ></a-asset-item>
  <a-asset-item
    id="electric-fence-asset"
    src="./build/models/environment/electric-fence/electric-fence.glb"
  ></a-asset-item>
  <a-asset-item
    id="double-rock-asset"
    src="./build/models/environment/double-rock/double-rock.gltf"
  ></a-asset-item>
  <a-asset-item
    id="palms-asset"
    src="./build/models/environment/palms/palms.gltf"
  ></a-asset-item>
  <a-asset-item
    id="simple-plant-asset"
    src="./build/models/environment/simple-plant/simple-plant.gltf"
  ></a-asset-item>
  <a-asset-item
    id="tropical-plant-asset"
    src="./build/models/environment/tropical-plant/tropical-plant.gltf"
  ></a-asset-item>

  <!-- Dinosaurs -->
  <a-asset-item
    id="trex-asset"
    src="./build/models/dinosaurs/trex/trex.gltf"
  ></a-asset-item>
</a-assets>
