<!-- <a-entity id="rig" movement-controls rotation="0 0 0">
  <a-entity id="hands">
    <a-entity
      id="leftHand"
      hand-controls="hand: left; handModelStyle: highPoly; color: #ffcccc"
    ></a-entity>
    <a-entity
      fps-counter="for90fps: false"
      id="rightHand"
      rotation="10 0 0"
      hand-controls="hand: right; handModelStyle: highPoly; color: #ffcccc"
    ></a-entity>
  </a-entity>
  <a-entity camera position="0 1.6 0" look-controls>
    <a-entity
      id="log"
      text="value: HELLO; color: red; width: 0.5"
      position="0.8 0.3 -0.40"
    ></a-entity>
  </a-entity>
</a-entity> -->
