<a-entity
  id="europ-trees-1"
  gltf-model="#europ-trees"
  position="-35.77767 -7.29459 89.18532"
  rotation="-0.01 50 0"
  animation-mixer="clip: roar"
  scale="2.5 2.5 2.5"
>
</a-entity>
<a-entity
  id="europ-trees-2"
  gltf-model="#europ-trees"
  position="-50.9757 -6.93689 82.53481"
  rotation="-0.01 50 0"
  animation-mixer="clip: roar"
  scale="2.5 2.5 2.5"
>
</a-entity>
<a-entity
  id="electric-fence"
  gltf-model="#electric-fence"
  position="14 -0.5 -18.5"
  rotation="-0.01 270 0"
  scale="1.3 1.3 1.3"
>
</a-entity>
