<div class="main-page-wraper">
  <div class="loading-website">
    <div class="title">For a better experience</div>
    <div class="subtitle">Turn on the sound and display full screen (F11)</div>
  </div>
  <div class="fixed-menu">
    <div class="subsection">
      <a href="#main-section" id="main-link" class="icon-item">
        <img class="icon-infos" src="./build/images/icon-main.png" />
        <span>Main</span>
      </a>
      <a href="#jt-section" id="jt-link" class="icon-item">
        <img class="icon-infos" src="./build/images/icon-infos.png" />
        <span>Informations</span>
      </a>
      <a href="#map-section" id="map-link" class="icon-item">
        <img class="icon-map" src="./build/images/icon-map.png" />
        <span>Map</span>
      </a>
    </div>
  </div>
  <div id="main-section">
    <div class="main-infos">
      <img
        class="jp-icon-large opacity"
        src="./build/images/jurassictour.png"
      />
      <div class="main-park-open-wrapper">
        <div class="main-park-open slide">The park is open</div>
      </div>
      <div class="main-choices">
        <div class="ticket-wrapper">
          <div class="button" id="get-ticket">Get a free ticket</div>
        </div>
        <div class="ticket-wrapper">
          <div id="ticket-error">Invalid code</div>
          <input
            placeholder="Use your code"
            id="ticket-value"
            type="text"
            pattern="[0-9]+"
          />
          <div class="button" id="use-ticket">Go to the park</div>
        </div>
      </div>
    </div>
    <div class="legal">
      - Alpha Release - Jurassic Tour is a fan VR experience -
    </div>
  </div>
  <div id="jt-section">
    <img class="jt-icon-large" src="./build/images/jurassictour.png" />
    <div class="jt-title">Informations</div>
    <div class="jt-content">
      <img class="jt-preview" src="./build/images/preview1.jpg" />
      <div class="jt-text">
        <div class="jt-text-title">The Experience</div>
        <ul>
          <li>Jurassic Tour is a free VR experience</li>
          <li>It's is a 20 minutes night tour in the park</li>
        </ul>
        <br />
        <div class="jt-text-title">System Requirements</div>
        <ul>
          <li>Compatible with most PCVR headset</li>
          <li>You need a VR Ready PC to enjoy the experience</li>
          <li>You need a good internet speed</li>
          <li>You must run the game from a WebVR compatible browser</li>
          <li>Compatible browsers: Firefox, Oculus Browser</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="map-section" class="screen">
    <img class="map-icon-large" src="./build/images/jurassictour.png" />
    <div class="map-title">FAQ</div>
    <div class="map-content">
      <div class="map-window">
        <img
          class="map-window-img"
          src="./build/images/background-window.png"
        />
        <div class="map-wrapper">
          <img class="map" src="./build/images/map.jpg" />
        </div>
      </div>
      <div class="map-text">
        <div class="map-console right-wrapper">
          <div id="cmd-border-inner" class="main-border-inner">
            <div id="main-terminal" class="bordered irix-window irix-window">
              <div class="inner-wrap" id="main-inner">
                <div class="cmd-view">
                  <div id="main-input" class="command-history"></div>
                  <span id="main-prompt">&gt; How long does the tour last?</span
                  ><br />
                  <span id="main-prompt">The tour lasts 20 min</span><br />
                  <span id="main-prompt"
                    >&gt; I'm not centered when I'm in VR.</span
                  ><br />
                  <span id="main-prompt"
                    >Exit browser, recenter your headset, restart browser</span
                  ><br />
                  <span id="main-prompt">&gt; There are slowdowns...</span
                  ><br />
                  <span id="main-prompt"
                    >The game is in alpha, optimizations are planned. Also check
                    the minimum specifications.</span
                  ><br />
                  <span id="main-prompt">&gt;</span>
                  <span class="command-input" id="curr-main-input"></span
                  ><span id="main-cursor" class="cursor">&nbsp;</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
