<div class="main-page-wraper">
  <div class="main-infos">
    <img class="jp-icon-large" src="./build/images/jp-icon-large.png" />
    <div class="park-open">The park will open soon</div>
    <div class="main-choices">
      <div>Get a free ticket</div>
      <div>Use your ticket</div>
    </div>
  </div>
  <div class="bottom-menu">
    <div class="icon-item">
      <img class="icon-infos" src="./build/images/icon-infos.png" />
      <span>Informations</span>
    </div>
    <div class="icon-item">
      <img class="icon-map" src="./build/images/icon-map.png" />
      <span>Map</span>
    </div>
  </div>
  <div class="legal">- Jurassic Tour is a fan game -</div>
</div>
