<div class="main-page-wraper">
  <div class="fixed-menu">
    <div class="subsection">
      <a href="#main-section" id="main-link" class="icon-item">
        <img class="icon-infos" src="./build/images/icon-main.png" />
        <span>Main</span>
      </a>
      <a href="#jt-section" id="jt-link" class="icon-item">
        <img class="icon-infos" src="./build/images/icon-infos.png" />
        <span>Informations</span>
      </a>
      <a href="#map-section" id="map-link" class="icon-item">
        <img class="icon-map" src="./build/images/icon-map.png" />
        <span>Map</span>
      </a>
    </div>
  </div>
  <div id="main-section">
    <div class="main-infos">
      <img
        class="jp-icon-large opacity"
        src="./build/images/jurassictour.png"
      />
      <div class="main-park-open-wrapper">
        <div class="main-park-open slide">The park is open</div>
      </div>
      <div class="main-choices">
        <div class="ticket-wrapper">
          <div class="button" id="get-ticket">Get a free ticket</div>
        </div>
        <div class="ticket-wrapper">
          <div id="ticket-error">Invalid code</div>
          <input
            placeholder="Use your code"
            id="ticket-value"
            type="text"
            pattern="[0-9]+"
          />
          <div class="button" id="use-ticket">Go to the park</div>
        </div>
      </div>
    </div>
    <div class="legal">
      - Alpha Release - Jurassic Tour is a fan VR experience -
    </div>
  </div>
  <div id="jt-section">
    <img class="jt-icon-large" src="./build/images/jurassictour.png" />
    <div class="jt-title">System requirements</div>
    <div class="jt-content">
      <img class="jt-preview opacity" src="./build/images/preview1.jpg" />
      <div class="jt-text slide">
        <ul>
          <li>A free VR experience compatible with most PCVR headset</li>
          <li>
            <strong>You need a VR Ready PC</strong> to enjoy the experience
          </li>
          <li>
            You must run the game from a <strong>WebVR</strong> compatible
            browser
          </li>
          <li>
            Compatible browsers:
            <strong>Firefox, Oculus Browser</strong>
          </li>
          <li>You need a good internet speed</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="map-section">
    <img class="map-icon-large" src="./build/images/jurassictour.png" />
    <div class="map-title">The map</div>
    <div class="map-content">
      <div class="map-window">
        <img
          class="map-window-img"
          src="./build/images/background-window.png"
        />
        <div class="map-wrapper">
          <img class="map" src="./build/images/map.jpg" />
        </div>
      </div>
      <div class="map-text">
        <div class="map-console right-wrapper">
          <div id="cmd-border-inner" class="main-border-inner">
            <div id="main-terminal" class="bordered irix-window irix-window">
              <div class="inner-wrap" id="main-inner">
                <div class="cmd-view">
                  <div id="main-input" class="command-history"></div>
                  <span id="main-prompt">&gt; The tour lasts 20 min</span><br />
                  <span id="main-prompt">&gt; The visit is at night</span><br />
                  <span id="main-prompt"
                    >&gt; There are loading times between enclosures</span
                  ><br />
                  <span id="main-prompt">&gt;</span>
                  <span class="command-input" id="curr-main-input"></span
                  ><span id="main-cursor" class="cursor">&nbsp;</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul>
          <li>The tour lasts 20 min</li>
          <li>The visit is at night</li>
          <li>There are loading times between enclosures</li>
        </ul>
      </div>
    </div>
  </div>
</div>
