<a-entity
  id="car"
  gltf-model="./build/models/objects/car/scene.gltf"
  position="77.95389 0.1 -83.06019"
  rotation="-0.01 0 0"
  scale="2.2 2.2 2.2"
>
</a-entity>
<!-- <a-entity
  id="trex"
  gltf-model="./build/models/objects/car/scene.gltf"
  position="-22.86009 0.1 3.48698"
  rotation="-0.01 90 0"
  scale="2.2 2.2 2.2"
>
</a-entity> -->
<a-entity
  id="human"
  gltf-model="./build/models/objects/human/scene.gltf"
  position="-22.86009 0.1 3.48698"
  rotation="-0.01 90 0"
  scale="1 1 1"
>
</a-entity>
