<a-entity
  car-tour
  id="car"
  gltf-model="#car-asset"
  position="18.6 -0.29 85"
  rotation="0 0 0"
  scale="1 1 1"
>
  <a-entity
    light="type: point; intensity: 1.02; distance: 50; decay: 20"
    position="-0.44065 2.20847 -0.09711"
  ></a-entity>
  <a-box
    button-control
    hoverable
    color="blue"
    position="-0.88824 0.96107 0.09701"
    material=""
    geometry=""
    scale="0.02 0.02 0.02"
  ></a-box>
  <a-entity
    id="rig"
    movement-controls
    position="-0.4 1.0 0.5"
    rotation="0 90 0"
  >
    <a-entity id="hands">
      <a-entity camera position="0 1.6 0" look-controls>
        <a-entity
          id="log"
          text="value: HELLO; color: red; width: 0.5"
          position="0.8 0.3 -0.40"
        ></a-entity>
      </a-entity>
      <a-entity
        id="leftHand"
        sphere-collider="objects: a-box"
        super-hands
        hand-controls="hand: left; handModelStyle: highPoly; color: #ffcccc"
      ></a-entity>
      <a-entity
        fps-counter="for90fps: false"
        id="rightHand"
        rotation="10 0 0"
        sphere-collider="objects: a-box"
        super-hands
        hand-controls="hand: right; handModelStyle: highPoly; color: #ffcccc"
      ></a-entity>
    </a-entity>
  </a-entity>
</a-entity>
<!-- <a-entity
  id="human"
  gltf-model="#human"
  position="-22.86009 0.1 3.48698"
  rotation="-0.01 90 0"
  scale="1 1 1"
>
</a-entity> -->

<!-- Rail system -->
<a-entity
  id="rail"
  gltf-model="#rail-asset"
  position="17.30362 0 81.37859"
  rotation="0 18 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-6"
  gltf-model="#rail-asset"
  position="16.67026 0 79.43286"
  rotation="0 18 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-5"
  gltf-model="#rail-asset"
  position="16.02094 0 77.53785"
  rotation="0 20 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail"
  gltf-model="#rail-asset"
  position="15.33952 0 75.67322"
  rotation="0 20 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-2"
  gltf-model="#rail-asset"
  position="14.65897 0 73.80127"
  rotation="0 20 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-3"
  gltf-model="#rail-asset"
  position="13.9658 0 71.93771"
  rotation="0 21 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-7"
  gltf-model="#rail-asset"
  position="13.25645 0 70.07104"
  rotation="0 21 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-4"
  gltf-model="#rail-asset"
  position="12.55561 0 68.23143"
  rotation="0 21 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-8"
  gltf-model="#rail-asset"
  position="11.84184 0 66.37052"
  rotation="0 21 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-9"
  gltf-model="#rail-asset"
  position="11.1403 0 64.53517"
  rotation="0 21 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-10"
  gltf-model="#rail-asset"
  position="10.42211 0 62.67289"
  rotation="0 21 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-11"
  gltf-model="#rail-asset"
  position="9.7335 0 60.86919"
  rotation="0 21 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-12"
  gltf-model="#rail-asset"
  position="9.02712 0 59.02735"
  rotation="0 21 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-13"
  gltf-model="#rail-asset"
  position="8.29604 0 57.13523"
  rotation="0 21 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-14"
  gltf-model="#rail-asset"
  position="7.58702 0 55.28213"
  rotation="0 21 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-15"
  gltf-model="#rail-asset"
  position="6.90383 0 53.43649"
  rotation="0 20 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-16"
  gltf-model="#rail-asset"
  position="6.24287 0 51.63363"
  rotation="0 20 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-18"
  gltf-model="#rail-asset"
  position="5.57728 0 49.75367"
  rotation="0 19 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-19"
  gltf-model="#rail-asset"
  position="4.92754 0 47.84538"
  rotation="0 19 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-20"
  gltf-model="#rail-asset"
  position="4.30087 0 45.98375"
  rotation="0 18 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-17"
  gltf-model="#rail-asset"
  position="3.76394 0 44.2261"
  rotation="0 16 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-21"
  gltf-model="#rail-asset"
  position="3.17145 0 42.31172"
  rotation="0 18 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-22"
  gltf-model="#rail-asset"
  position="2.5305 0 40.44043"
  rotation="0 20 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-24"
  gltf-model="#rail-asset"
  position="1.8728 0 38.52841"
  rotation="0 18 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-25"
  gltf-model="#rail-asset"
  position="1.28823 0 36.6072"
  rotation="0 16 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-26"
  gltf-model="#rail-asset"
  position="0.72484 0 34.66389"
  rotation="0 16 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-23"
  gltf-model="#rail-asset"
  position="0.15967 0 32.71391"
  rotation="0 16 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-31"
  gltf-model="#rail-asset"
  position="-0.36559 0 30.83155"
  rotation="0 14.999999999999998 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-32"
  gltf-model="#rail-asset"
  position="-0.88025 0 28.90766"
  rotation="0 14.999999999999998 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-33"
  gltf-model="#rail-asset"
  position="-1.41397 0 27.00347"
  rotation="0 16 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-35"
  gltf-model="#rail-asset"
  position="-1.96239 0 25.14779"
  rotation="0 17 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-36"
  gltf-model="#rail-asset"
  position="-2.3584 0 23.89332"
  rotation="0 17 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-34"
  gltf-model="#rail-asset"
  position="-2.79464 0 22.48688"
  rotation="0 17.25 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-30"
  gltf-model="#rail-asset"
  position="-3.32234 0 20.60799"
  rotation="0 14.999999999999998 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-29"
  gltf-model="#rail-asset"
  position="-3.74842 0 18.67603"
  rotation="0 10 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-28"
  gltf-model="#rail-asset"
  position="-4.06424 0 16.79952"
  rotation="0 9 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-27"
  gltf-model="#rail-asset"
  position="-4.30114 0 15.01115"
  rotation="0 6.5 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-37"
  gltf-model="#rail-asset"
  position="-4.55326 0 13.04959"
  rotation="0 8 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-38"
  gltf-model="#rail-asset"
  position="-4.83653 0 11.03425"
  rotation="0 8 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-39"
  gltf-model="#rail-asset"
  position="-5.08308 0.0472 9.05917"
  rotation="0 6.5 -0.03"
  scale=""
>
</a-entity>
<a-entity
  id="rail-40"
  gltf-model="#rail-asset"
  position="-5.30568 0 7.09019"
  rotation="0 6.000000000000001 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-41"
  gltf-model="#rail-asset"
  position="-5.49481 0.02593 5.09684"
  rotation="0 5 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-42"
  gltf-model="#rail-asset"
  position="-5.63362 0 3.08156"
  rotation="0 3.0000000000000004 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-43"
  gltf-model="#rail-asset"
  position="-5.70008 0 1.09386"
  rotation="0 1 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-44"
  gltf-model="#rail-asset"
  position="-5.73632 0.00428 -0.86986"
  rotation="0 1 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-45"
  gltf-model="#rail-asset"
  position="-5.74439 0 -2.88147"
  rotation="0 0.5 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-46"
  gltf-model="#rail-asset"
  position="-5.75121 0 -4.89687"
  rotation=""
  scale=""
>
</a-entity>
<a-entity
  id="rail-47"
  gltf-model="#rail-asset"
  position="-5.70076 0 -6.86419"
  rotation="0 -3.0000000000000004 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-48"
  gltf-model="#rail-asset"
  position="-5.59991 0 -8.82765"
  rotation="0 -3.0000000000000004 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-49"
  gltf-model="#rail-asset"
  position="-5.47392 0 -10.81657"
  rotation="0 -4 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-50"
  gltf-model="#rail-asset"
  position="-5.32792 0 -12.81553"
  rotation="0 -4 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-51"
  gltf-model="#rail-asset"
  position="-5.15042 0 -14.80727"
  rotation="0 -6.000000000000001 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-52"
  gltf-model="#rail-asset"
  position="-4.88814 0 -16.73859"
  rotation="0 -9 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-53"
  gltf-model="#rail-asset"
  position="-4.54962 0 -18.70579"
  rotation="0 -10 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-54"
  gltf-model="#rail-asset"
  position="-4.19369 0 -20.67517"
  rotation="0 -10 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-55"
  gltf-model="#rail-asset"
  position="-3.81638 0 -22.58243"
  rotation="0 -12.000000000000002 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-56"
  gltf-model="#rail-asset"
  position="-3.37282 0 -24.52359"
  rotation="0 -14 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-58"
  gltf-model="#rail-asset"
  position="-2.86525 0 -26.44245"
  rotation="0 -14.999999999999998 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-59"
  gltf-model="#rail-asset"
  position="-2.29158 0 -28.25902"
  rotation="0 -20 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-60"
  gltf-model="#rail-asset"
  position="-1.63007 0 -29.99718"
  rotation="0 -22 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-61"
  gltf-model="#rail-asset"
  position="-0.91695 0 -31.75376"
  rotation="0 -22 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-62"
  gltf-model="#rail-asset"
  position="-0.21898 0 -33.48561"
  rotation="0 -22 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-63"
  gltf-model="#rail-asset"
  position="0.47133 0 -35.23162"
  rotation="0 -22 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-64"
  gltf-model="#rail-asset"
  position="1.1733 0 -36.97488"
  rotation="0 -22 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-65"
  gltf-model="#rail-asset"
  position="1.88013 0 -38.72381"
  rotation="0 -22 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-66"
  gltf-model="#rail-asset"
  position="2.63226 0 -40.56874"
  rotation="0 -22 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-67"
  gltf-model="#rail-asset"
  position="3.37843 0 -42.39439"
  rotation="0 -23 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-68"
  gltf-model="#rail-asset"
  position="4.11396 0 -44.11355"
  rotation="0 -23 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-69"
  gltf-model="#rail-asset"
  position="4.88634 0 -45.94441"
  rotation="0 -23 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-70"
  gltf-model="#rail-asset"
  position="5.69091 0 -47.73762"
  rotation="0 -25 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-71"
  gltf-model="#rail-asset"
  position="6.5203 0 -49.43356"
  rotation="0 -27 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-72"
  gltf-model="#rail-asset"
  position="7.40959 0 -51.18139"
  rotation="0 -27 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-73"
  gltf-model="#rail-asset"
  position="8.28893 0 -52.88732"
  rotation="0 -27 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-73"
  gltf-model="#rail-asset"
  position="8.28893 0 -52.88732"
  rotation="0 -27 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-74"
  gltf-model="#rail-asset"
  position="9.18062 0 -54.6464"
  rotation="0 -27 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-75"
  gltf-model="#rail-asset"
  position="10.05514 0 -56.36203"
  rotation="0 -27 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-76"
  gltf-model="#rail-asset"
  position="10.9282 0 -58.08635"
  rotation="0 -27 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-77"
  gltf-model="#rail-asset"
  position="11.82986 0 -59.81801"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-78"
  gltf-model="#rail-asset"
  position="12.74854 0 -61.53944"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-79"
  gltf-model="#rail-asset"
  position="13.65932 0 -63.24073"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-80"
  gltf-model="#rail-asset"
  position="14.59132 0 -65.01484"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-81"
  gltf-model="#rail-asset"
  position="15.50241 0 -66.716"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-82"
  gltf-model="#rail-asset"
  position="16.39092 0 -68.39737"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-83"
  gltf-model="#rail-asset"
  position="17.29376 0 -70.12434"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-84"
  gltf-model="#rail-asset"
  position="18.22214 0 -71.8746"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-85"
  gltf-model="#rail-asset"
  position="19.15437 0 -73.63622"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-88"
  gltf-model="#rail-asset"
  position="20.04352 0 -75.2943"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-86"
  gltf-model="#rail-asset"
  position="20.97311 0 -77.03588"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-87"
  gltf-model="#rail-asset"
  position="21.90453 -0.23891 -78.71881"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-89"
  gltf-model="#rail-asset"
  position="22.82066 0 -80.49427"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-90"
  gltf-model="#rail-asset"
  position="23.75665 0 -82.21934"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-91"
  gltf-model="#rail-asset"
  position="24.65996 0 -83.92823"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-92"
  gltf-model="#rail-asset"
  position="25.57152 0 -85.66155"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-93"
  gltf-model="#rail-asset"
  position="26.46659 0 -87.34601"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-94"
  gltf-model="#rail-asset"
  position="27.40258 0 -89.07108"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-95"
  gltf-model="#rail-asset"
  position="28.34681 0 -90.82058"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-96"
  gltf-model="#rail-asset"
  position="29.25834 0 -92.5541"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-97"
  gltf-model="#rail-asset"
  position="30.14525 0 -94.2141"
  rotation="0 -28 0"
  scale=""
>
</a-entity>
<a-entity
  id="rail-98"
  gltf-model="#rail-asset"
  position="31.06387 0 -95.95795"
  rotation="0 -28 0"
  scale=""
>
</a-entity>

<!-- <a-curve id="parcours" type="Spline" curve="closed:false" visible="true">
  <a-curve-point
    id="checkpoint1"
    position="18.6, 0.8, 85"
    visible="true"
  ></a-curve-point>
  <a-curve-point
    id="checkpoint2"
    position="4.6, 0.8, 47"
    visible="true"
  ></a-curve-point>
  <a-curve-point
    id="checkpoint3"
    position="-4.7, 0.8, 12.8"
    visible="true"
  ></a-curve-point>
  <a-curve-point
    id="checkpoint4"
    position="-4.7, 0.8, -18"
    visible="true"
  ></a-curve-point>
  <a-curve-point
    id="checkpoint4"
    position="2.8, 0.8, -41"
    visible="true"
  ></a-curve-point>
  <a-curve-point
    id="checkpoint4"
    position="30, 0.8, -94"
    visible="true"
  ></a-curve-point>
</a-curve>
<a-draw-curve
  curveref="#parcours"
  material="shader: line; color: white;"
></a-draw-curve> -->
