<a-light id="dimetrodon-ambiant-light" visible="true" type="ambient" light="intensity: 0.7;color:#c2d9ff"></a-light>
<!-- <a-light id="dimetrodon-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#dimetrodon-directionaltarget">
  <a-entity id="dimetrodon-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="dimetrodon-light-2" light="distance: 200; decay: 200; intensity: 2.199; penumbra: 0; angle: 0"
  type="directional" position="8.8673 18.4106 -12.74226" rotation="-90 0 0" target="#dimetrodon-directionaltarget-2">
  <a-entity id="dimetrodon-directionaltarget-2" position="-55.84214 -37.63307 -18.44214"></a-entity>
</a-light>