<a-entity id="dimetrodon-desert-scene" gltf-model="#desert-scene-asset" position="-100.71121 2.98423 -11.35058"
  rotation="0 0 0" scale="0.8 0.8 0.8"></a-entity>
<a-entity id="dimetrodon-desert-scene-2" gltf-model="#desert-scene-asset" position="38.27215 8.38692 14.01572"
  rotation="0 140 0" scale="0.8 0.8 0.8"></a-entity>
<a-entity id="dimetrodon-desert-plant" gltf-model="#desert-plant-asset" position="-22.71465 3.97282 0.21279"
  rotation="0 50 0" scale="0.1 0.1 0.1"></a-entity>
<a-entity id="dimetrodon-desert-branch" gltf-model="#desert-branch-asset" position="-21.43732 0.24721 6.78228"
  rotation="2.14 127.34000000000002 0.15" scale="0.4 0.4 0.4"></a-entity>
<a-entity id="dimetrodon-desert-rock" gltf-model="#desert-rock-asset" position="-15.14353 -4.78687 0.58411"
  rotation="0 -13.33 0" scale="0.008 0.008 0.008"></a-entity>
<a-entity id="dimetrodon-desert-rock-2" gltf-model="#desert-rock-asset" position="-18.14123 -2.02647 -8.81063"
  rotation="0 59.99999999999999 0" scale="0.01 0.01 0.01"></a-entity>