<a-entity id="dimetrodon" dimetrodon-animation gltf-model="#dimetrodon-asset"
  animation-mixer="clip: dimetrodonsaurus_Idle" position="-23.512 1.94485 -20.242" rotation="0 -50 0"
  scale="0.06 0.06 0.06" sound__ambiant1="src: #dimetrodon-ambiant-1; volume: 28; loop: false">
</a-entity>
<a-entity id="dimetrodon-2" gltf-model="#dimetrodon-asset" animation-mixer="clip: dimetrodonsaurus_Idle"
  position="-16.83186 6.37201 -10.196" rotation="0 -50 0" scale="0.06 0.06 0.06">
</a-entity>
<a-entity id="dimetrodon-3" gltf-model="#dimetrodon-female-asset" animation-mixer="clip: dimetrodonsaurus_Idle"
  position="-46.56211 9.50753 -7.3727" rotation="0 23.98 0" scale="0.06 0.06 0.06">
</a-entity>
<a-entity id="dimetrodon-4" gltf-model="#dimetrodon-female-asset" animation-mixer="clip: dimetrodonsaurus_Idle"
  position="-46.36 11.17702 -0.5" rotation="0 180 0" scale="0.06 0.06 0.06">
</a-entity>
<a-entity id="dimetrodon-5" gltf-model="#dimetrodon-asset" animation-mixer="clip: dimetrodonsaurus_Idle"
  position="-42.890 1.782 -20.714" rotation="0 0 0" scale="0.06 0.06 0.06">
</a-entity>