<a-entity id="pteranodon" pteranodon-animation gltf-model="#pteranodon-asset" position="6.32776 1.08362 0.00463"
  rotation="0 90 0" scale="13 13 13" sound__passing="src: #ptero-passing; volume: 24; loop: false"></a-entity>
<a-entity id="pteranodon-2" pteranodon-2-animation gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break" position="-5.17441 38.84712 -16.71163" rotation="0 90 0"
  scale="0.035 0.035 0.035" sound__passing="src: #ptero-passing; volume: 24; loop: false"></a-entity>

<a-entity id="pteranodon-3" gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break; startFrame: 400; timeScale: 0.4" position="43.34624 34.69406 -29.21175"
  rotation="0 90 0" scale="0.035 0.035 0.035" sound__passing="src: #ptero-passing; volume: 24; loop: false"></a-entity>

<a-entity id="pteranodon-4" gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break; startFrame: 800; timeScale: 0.4" position="20.75023 60.94063 -24.6144"
  rotation="0 -162.34 0" scale="0.035 0.035 0.035" sound__passing="src: #ptero-passing; volume: 24; loop: false">
</a-entity>

<a-entity id="pteranodon-5" gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break; startFrame: 1600; timeScale: 0.4" position="41.96557 33.60546 -18.50997"
  rotation="0 130 0" scale="0.035 0.0355 0.0355" sound__passing="src: #ptero-passing; volume: 24; loop: false">
</a-entity>

<a-entity id="pteranodon-6" gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break; startFrame: 3200; timeScale: 0.4" position="26.63657 60.75108 -22.45536"
  rotation="0 119.99999999999999 0" scale="0.035 0.035 0.035"
  sound__passing="src: #ptero-passing; volume: 24; loop: false"></a-entity>

<a-entity id="pteranodon-7" gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break; startFrame: 4000; timeScale: 0.4" position="33.62807 34.10912 -27.34071"
  rotation="0 0 0" scale="0.035 0.035 0.035" sound__passing="src: #ptero-passing; volume: 24; loop: false"></a-entity>