<a-light id="aviary-ambiant-light" position="0.10791 0 -0.66905" visible="true" type="ambient" light="intensity: 1;color:#c2d9ff"></a-light>
<!-- <a-light id="edmon-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#edmon-directionaltarget">
  <a-entity id="edmon-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="aviary-light-2" light="distance: 200; decay: 200; intensity: 0.8; penumbra: 0; angle: 0" type="directional"
  position="318.47534 16.63448 -34.67613" rotation="-90 0 0" target="#aviary-directionaltarget-2">
  <a-entity id="aviary-directionaltarget-2" position="-278.13693 -68.33591 -20.0799"></a-entity>
</a-light>
<a-light id="aviary-light-3" light="distance: 200; decay: 200; intensity: 0.1; penumbra: 0; angle: 0" type="directional"
  position="20.49131 16.63448 53.74208" rotation="-90 0 0" target="#aviary-directionaltarget-3">
  <a-entity id="aviary-directionaltarget-3" position="-58.25514 188.60972 -20.0799"></a-entity>
</a-light>