<a-plane id="aviary-water" class="spino-surface" position="-112.03784 0 6.56656" rotation="-90 0 0" width="2000"
  height="2000" color="#7BC8A4" water="scale: 10" material="color: white; transparent: true; opacity: 0.0"></a-plane>


<a-entity id="aviary-cliff-1" gltf-model="#cliff-asset" position="35.67551 -3.08942 -67.09423" rotation="0 140 -2"
  scale="0.4 0.4 0.4" sound__ambiant1="src: #ptero-ambiant-1; volume: 20; loop: false"
  sound__ambiant2="src: #ptero-ambiant-2; volume: 20; loop: false"
  sound__ambiant3="src: #ptero-ambiant-3; volume: 20; loop: false"></a-entity>
<a-entity id="aviary-cliff-2" gltf-model="#cliff-asset" position="-33.22159 -10.30114 -49.79791" rotation="0 138.15 -2"
  scale="0.4 0.4 0.4"></a-entity>
<a-entity id="aviary-cliff-3" gltf-model="#cliff-asset" position="-20.22661 -10.03671 -39.2793" rotation="-0.01 80 0"
  scale="0.2 0.4 0.3"></a-entity>
<a-entity id="aviary-cliff-4" gltf-model="#cliff-asset" position="-6.50911 5.71281 -42.07877" rotation="-0.01 31.15 0"
  scale="0.25 0.25 0.25"></a-entity>
<a-entity id="aviary-cliff-5" gltf-model="#cliff-asset" position="-237.78632 -2.96745 -123.54682" rotation="-0.01 80 0"
  scale="0.6 0.6 0.6"></a-entity>
<a-entity id="aviary-cliff-6" gltf-model="#cliff-asset" position="-229.01342 -2.69665 -164.78321"
  rotation="-0.01 180 -5" scale="0.6 0.6 0.6"></a-entity>
<a-entity id="aviary-cliff-7" gltf-model="#cliff-asset" position="49.26954 -28.09503 -58.63503" rotation="-0.01 80 0"
  scale="0.4 0.4 0.4"></a-entity>

<a-entity id="aviary-coast-scene" gltf-model="#coast-model-asset" position="50.93212 53.10927 143.05316"
  rotation="-0.73 123.71999999999998 -11.8" scale="70 70 70"></a-entity>