<a-entity id="aviary-car" gltf-model="#swamp-scene-asset" aviary-car-tour position="-5.90966 48.98364 -5.2008"
  rotation="0 0 0" scale="1 1.2 1">
  <a-entity id="rig" turn-control="controllerListenerId: #controller-data;" movement-controls="speed: 0.1"
    position="1.152 -0.6000000000000001 0.934" rotation="0 -90 0">
    <a-entity id="hands">
      <a-entity id="aviary-scene-camera" class="camera-entity" camera position="0 0 0" user-height="0"
        fps-look-controls="user-height: 0" simple-navmesh-constraint="navmesh:#aviary-navmesh-el;fall:0;height:1.25;">
        <a-troika-text id="aviary-camera-text" visible="false" troika-text="color: #d6d6d6" scale="0.15 0.15 0.15"
          position="0 -0.25795 -0.8507" value="Press ENTER or TOP trigger to leave"
          font="/assets/font/AlfaSlabOne-Regular.ttf">
        </a-troika-text>
        <a-box id="out-of-limit" position="0 0 0" visible="false" material="blending: none; shader: flat"
          geometry="depth: 1; height: 1; width: 1; primitive: sphere; segmentsHeight: 10; segmentsWidth: 10; radius: 0.1"
          color="#2f5b45" side="back">
          <a-image id="limits-logo-1" visible="false" src="#limits-asset" scale="0.017 0.015 0.015"
            position="0 0.00011 -0.057" rotation="0 0 0">
          </a-image>
          <a-image id="limits-logo-2" visible="false" src="#limits-asset" scale="0.017 0.015 0.015"
            position="0.06465 0.00001 -0.057" rotation="0 0 0">
          </a-image>
        </a-box>
      </a-entity>
      <a-entity id="controller-data" controller-listener="leftControllerId:  #leftHand;
                                 rightControllerId: #rightHand;"></a-entity>
      <a-entity id="leftHand" sphere-collider="objects: a-box" custom-hand-control super-hands
        hand-controls="hand: left; handModelStyle: highPoly; color: #ffcccc"></a-entity>
      <a-entity fps-counter="enabled: true; for90fps: true" id="rightHand" rotation="10 0 0"
        sphere-collider="objects: a-box" custom-hand-control super-hands
        hand-controls="hand: right; handModelStyle: highPoly; color: #ffcccc"></a-entity>
    </a-entity>
  </a-entity>
  <a-plane id="aviary-navmesh-el" geometry="primitive: circle; radius: 3" visible="false" position="0.785 0 2.491"
    rotation="-90 0 0" width="8" height="5.8" color="yellow">
  </a-plane>
  <a-entity id="car-env">
    <a-entity id="aviary-cage" gltf-model="#dome-asset" position="-0.10422 -5.4571 2.55231" rotation="0 10.42 0"
      scale="0.48 0.48 0.48">
    </a-entity>
    <a-entity id="aviary-door" gltf-model="#door-asset" position="-2.96458 -1.06465 3.20825" rotation="0 100 0"
      scale="1 1 1">
      <a-entity id="aviary-checkpoint" checkpoint-animation animation-mixer="clip: Take 001"
        gltf-model="#checkpoint-asset" position="-0.02503 0.68987 0.03693" rotation="0 110 0" scale="2 2 2">
      </a-entity>
    </a-entity>
    <a-entity id="aviary-floor" gltf-model="#floor-asset" position="0.96228 2.50653 2.54083" rotation="90 90 0"
      scale="0.045 0.045 0.045"></a-entity>
    <a-entity id="aviary-terminal" gltf-model="#terminal-asset" position="2.7912 -0.60638 1.87214" rotation="0 -100 0"
      scale="0.027 0.027 0.027">
      <a-image id="aviary-pres" src="#ptera-pres-asset" scale="32 16 10" position="-0.05575 46.56972 -7.50028"
        rotation="-14.21 3.15 0"></a-image>
    </a-entity>
  </a-entity>
</a-entity>