<a-entity id="pteranodon" pteranodon-animation gltf-model="#pteranodon-2-asset" animation-mixer="clip: Ptera_Full_Break"
  position="37.44776 80.0996 -52.65795" rotation="-1.540810265506683 50 1.9885656890666944e-16" scale="0.035 0.035 0.035"
  sound__passing="src: #ptero-passing; volume: 24; loop: false"></a-entity>
<a-entity id="pteranodon-2" pteranodon-2-animation gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break" position="-13.34079 59.25441 -50.49145" rotation="0 90 0"
  scale="0.035 0.035 0.035" sound__passing="src: #ptero-passing; volume: 24; loop: false"></a-entity>

<a-entity id="pteranodon-3" gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break; startFrame: 400; timeScale: 0.4" position="52.89689 54.68702 -43.08683"
  rotation="0 100 0" scale="0.035 0.035 0.035" sound__passing="src: #ptero-passing; volume: 24; loop: false"></a-entity>

<a-entity id="pteranodon-4" gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break; startFrame: 800; timeScale: 0.4" position="35.03562 80.07468 -54.59037"
  rotation="0 -162.34 0" scale="0.035 0.035 0.035" sound__passing="src: #ptero-passing; volume: 24; loop: false">
</a-entity>

<a-entity id="pteranodon-5" gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break; startFrame: 1600; timeScale: 0.4" position="53.00812 54.12272 -48.33716"
  rotation="0 130 0" scale="0.035 0.0355 0.0355" sound__passing="src: #ptero-passing; volume: 24; loop: false">
</a-entity>

<a-entity id="pteranodon-6" gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break; startFrame: 3200; timeScale: 0.4" position="26.40646 79.97231 -58.00145"
  rotation="0 119.99999999999999 0" scale="0.035 0.035 0.035"
  sound__passing="src: #ptero-passing; volume: 24; loop: false"></a-entity>

<a-entity id="pteranodon-7" gltf-model="#pteranodon-2-asset"
  animation-mixer="clip: Ptera_Full_Break; startFrame: 4000; timeScale: 0.4" position="41.60074 54.48907 -51.03205"
  rotation="-14.88 -4.36 0" scale="0.035 0.035 0.035" sound__passing="src: #ptero-passing; volume: 24; loop: false">
</a-entity>