<a-entity id="quetza" quetza-animation gltf-model="#quetza-asset" animation-mixer="clip: Quetzal_Idle"
  position="-20.86869 -0.237 -42" rotation="0 0 0" scale="0.022 0.022 0.022"
  sound__quetzafly="src: #quetza-fly; volume: 20; loop: false"
  sound__quetzaflystart="src: #quetza-fly-start; volume: 20; loop: false"
  sound__quetzaroar1="src: #quetza-roar1; volume: 20; loop: false"
  sound__quetzaroar3="src: #quetza-roar3; volume: 20; loop: false"
  sound__quetzasnoring1="src: #quetza-snoring1; volume: 20; loop: false"
  sound__quetzawalk="src: #quetza-walk; volume: 20; loop: true"></a-entity>

<a-entity id="velociraptor" raptor-animation gltf-model="#velociraptor-asset" position="-38.475 -0.05445 22.371"
  rotation="0 0 0" scale="0.003 0.003 0.003" sound__raptorwalk="src: #raptor-walk volume: 20; loop: true"
  sound__raptorrun="src: #raptor-run; volume: 20; loop: true"></a-entity>