<!-- <a-plane id="quetza-water" class="quetza-surface" position="-112.03784 0 6.56656" rotation="-90 0 0" width="200"
  height="200" color="#7BC8A4" water material="color: white; transparent: true; opacity: 0.0"></a-plane> -->


<a-entity id="quetza-palm-tree-long-mesh" class="spino-surface dead-tree" gltf-model="#palm-tree-long-asset"
  instanced-mesh>
</a-entity>
<a-entity id="quetza-palm-tree-long" class="quetza-surface" instanced-mesh-member="mesh:#quetza-palm-tree-long-mesh"
  position="-9.24559 -1.17123 -16.96433" rotation="0 90 0" scale="6 6 6"></a-entity>
<a-entity id="quetza-palm-tree-long-2" class="quetza-surface" instanced-mesh-member="mesh:#quetza-palm-tree-long-mesh"
  position="-27.38068 -1.17123 6.02214" rotation="0 140 0" scale="6 6 6"></a-entity>
<a-entity id="quetza-palm-tree-long-3" class="quetza-surface" instanced-mesh-member="mesh:#quetza-palm-tree-long-mesh"
  position="-31.46833 -1.17123 -2.44036" rotation="0 140 0" scale="6 6 6"></a-entity>
<a-entity id="quetza-palm-tree-long-4" class="quetza-surface" instanced-mesh-member="mesh:#quetza-palm-tree-long-mesh"
  position="-33.91315 -1.17123 -16.98201" rotation="0 140 0" scale="6 6 6"></a-entity>
<a-entity id="quetza-tall-bush-8" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-44.94531 -2.23515 8.95014" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="quetza-tall-bush-5" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-39.58786 -0.56368 -6.13888" rotation="0 180 0" scale="1 1 1"></a-entity>
<a-entity id="quetza-tall-bush-11" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-37.21088 -2.23515 13.38879" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="quetza-tall-bush-12" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-35.23324 -2.23515 -16.96882" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="quetza-tall-bush-7" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-31.99443 -0.56368 -7.08557" rotation="0 50 0" scale="1 1 1"></a-entity>
<a-entity id="quetza-tall-bush-13" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-27.47128 -0.78315 -19.58305" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="quetza-tall-bush-2" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-27.38998 -0.56368 -13.96785" rotation="0 180 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="quetza-tall-bush" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-30.32814 -2.80979 19.7156" rotation="0 50 0" scale="1 1 1"></a-entity>
<a-entity id="quetza-tall-bush-9" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-25.70893 -2.23515 20.4295" rotation="0 -34.83 0" scale="1 1 1"></a-entity>
<a-entity id="quetza-tall-bush-10" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-17.19444 -2.23515 16.09574" rotation="0 -40 0" scale="0.6 0.6 0.6"></a-entity>
<a-entity id="quetza-tall-bush-4" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-16.01723 -0.53477 -8.45589" rotation="0 180 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="quetza-tall-bush-3" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-14.37486 -0.53477 -6.62473" rotation="0 180 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="quetza-tall-bush-6" class="quetza-surface" gltf-model="#tall-bush-asset"
  position="-14.11136 -0.56368 13.41806" rotation="0 0 0" scale="0.5 0.5 0.5"></a-entity>

<a-entity id="quetza-forest-fern-1-mesh" class="spino-surface dead-tree" gltf-model="#forest-fern-1-asset"
  instanced-mesh>
</a-entity>

<a-entity id="quetza-forest-fern-21" class="performance" instanced-mesh-member="mesh:#quetza-forest-fern-1-mesh"
  position="-18.74703 -0.16706 2.57799" rotation="0 120 0" scale="1.5 1.5 1.5"></a-entity>
<a-entity id="quetza-forest-fern-22" class="performance" instanced-mesh-member="mesh:#quetza-forest-fern-1-mesh"
  position="-26.44348 -0.36113 -8.29692" rotation="0 50 0" scale="1 2.02 1"></a-entity>
<a-entity id="quetza-forest-fern-23" class="performance" instanced-mesh-member="mesh:#quetza-forest-fern-1-mesh"
  position="-30.10013 -0.04251 5.44838" rotation="0 -116.31 0" scale="2 2 2"></a-entity>
<a-entity id="quetza-forest-fern-24" class="performance" instanced-mesh-member="mesh:#quetza-forest-fern-1-mesh"
  position="-20.54722 -0.24882 13.40511" rotation="0 60 0" scale="2 2 2"></a-entity>
<a-entity id="quetza-forest-fern-25" class="performance" instanced-mesh-member="mesh:#quetza-forest-fern-1-mesh"
  position="-26.0944 -0.17419 -9.53075" rotation="0 -50 0" scale="2 2 2"></a-entity>
<a-entity id="quetza-forest-fern-26" class="performance" instanced-mesh-member="mesh:#quetza-forest-fern-1-mesh"
  position="-22.53762 -0.33316 13.9029" rotation="0 -116.31 0" scale="2.5 2.5 2.5"></a-entity>
<a-entity id="quetza-forest-fern-27" class="performance" instanced-mesh-member="mesh:#quetza-forest-fern-1-mesh"
  position="-27.76159 -0.25461 -9.29842" rotation="0 -116.31 0" scale="2 2 2"></a-entity>
<a-entity id="quetza-forest-fern-28" class="performance" instanced-mesh-member="mesh:#quetza-forest-fern-1-mesh"
  position="-33.91664 -0.17419 6.1213" rotation="0 -160 0" scale="2 2 2"></a-entity>
<a-entity id="quetza-forest-fern-29" class="performance" instanced-mesh-member="mesh:#quetza-forest-fern-1-mesh"
  position="-27.23401 -0.26077 14.43628" rotation="0 -116.31000000000002 0" scale="1.5 1.5 1.5"></a-entity>
<a-entity id="quetza-forest-fern-30" class="performance" instanced-mesh-member="mesh:#quetza-forest-fern-1-mesh"
  position="-32.28025 -0.17419 7.95111" rotation="0 50 0" scale="2 2 2"></a-entity>

<a-entity id="quetza-swamp-rock-mesh" class="spino-surface dead-tree" gltf-model="#swamp-rock-asset" instanced-mesh>
</a-entity>
<a-entity id="quetza-swamp-rock" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-rock-mesh"
  position="-32.65598 -0.3816 -1.14182" rotation="0 20 0" scale="1.1 1.1 1.1"></a-entity>
<a-entity id="quetza-swamp-rock-2" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-rock-mesh"
  position="-32.99594 0.86462 1.1567" rotation="0 180 0" scale="1 1 1"></a-entity>
<a-entity id="quetza-swamp-rock-4" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-rock-mesh"
  position="-14.15954 0.04077 10.024" rotation="0 119.99999999999999 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="quetza-swamp-dead-tree" class="quetza-surface dead-tree" gltf-model="#swamp-dead-tree-asset"
  position="-22.86546 0.04744 16.05647" rotation="0 -662.24 0" scale="2 2 -2"></a-entity>
<a-entity id="quetza-swamp-dead-tree-2" class="quetza-surface dead-tree" gltf-model="#swamp-dead-tree-asset"
  position="-27.13386 0.07785 8.04164" rotation="0 90 0" scale="-1 1 -1"></a-entity>
<a-entity id="quetza-swamp-dead-tree-3" class="quetza-surface dead-tree" gltf-model="#swamp-dead-tree-asset"
  position="-2.82084 0.02918 -0.31685" rotation="0.83 80.5 6.69" scale="1.5 1.5 -1.5"></a-entity>

<a-entity id="quetza-swamp-grass-mesh" class="spino-surface dead-tree" gltf-model="#swamp-grass-asset" instanced-mesh>
</a-entity>
<a-entity id="quetza-swamp-grass-14" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-18.01014 -0.28114 5.92839" rotation="0 90 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="quetza-swamp-grass" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-25.17957 -0.263 1.78523" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-2" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-25.85294 -0.263 -2.52977" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-3" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-24.88073 -0.263 10.12043" rotation="0 -50 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-4" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-23.26562 -0.263 8.9311" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-5" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-25.44409 -0.263 -6.5999" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-6" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-27.44813 -0.263 8.53934" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-7" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-13.03067 -0.263 -4.05397" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-8" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-18.20964 -0.263 12.8398" rotation="0 0 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-dirt-pile" class="quetza-surface" gltf-model="#dirt-pile-asset"
  position="-22.82031 -0.48675 5.54429" rotation="0 -59.99999999999999 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="quetza-egg-1" class="quetza-surface" gltf-model="#egg-asset" position="-22.90734 0.27869 5.28156"
  rotation="0 -60 30" scale="0.04 0.04 0.04"></a-entity>
<a-entity id="quetza-egg-2" class="quetza-surface" gltf-model="#egg-asset" position="-22.88677 0.33962 5.61633"
  rotation="0 -59.99999999999999 -20" scale="0.04 0.04 0.04"></a-entity>
<a-entity id="quetza-egg-3" class="quetza-surface" gltf-model="#egg-asset" position="-23.16076 0.33962 5.49301"
  rotation="0 -59.99999999999999 0" scale="0.04 0.04 0.04"></a-entity>
<a-entity id="quetza-swamp-grass-9" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-15.79834 -0.263 6.14044" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-10" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-17.22756 -0.263 0.39082" rotation="0 180 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-11" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-20.76134 -0.263 0.76244" rotation="0 0 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-14" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-20.76134 -0.263 0.76244" rotation="0 0 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-17" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-19.31202 -0.27409 -5.93029" rotation="0 120 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-15" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-14.57875 -0.263 0.76412" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-16" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-18.97161 -0.27409 -8.16038" rotation="0 50 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="quetza-swamp-grass-12" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-13.72178 -0.23413 4.33333" rotation="0 120 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="quetza-swamp-grass-13" class="quetza-surface" instanced-mesh-member="mesh:#quetza-swamp-grass-mesh"
  position="-19.48727 -0.08444 4.15769" rotation="0 -59.99999999999999 0" scale="0.01 0.01 0.01"></a-entity>