<a-light id="quetza-ambiant-light" visible="true" type="ambient" light="intensity: 1;color:#c2d9ff"></a-light>
<!-- <a-light id="quetza-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#quetza-directionaltarget">
  <a-entity id="quetza-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="quetza-light-2" light="distance: 200; decay: 200; intensity: 0.5; penumbra: 0; angle: 0" type="directional"
  position="21.11298 26.61311 -11.54358" rotation="-90 0 0" target="#quetza-directionaltarget-2">
  <a-entity id="quetza-directionaltarget-2" position="-86.63051 -40.33191 -17.20431"></a-entity>
</a-light>