<!-- <a-ocean position="0 -0.4 0" ocean="width: 1000; depth: 1000"></a-ocean> -->
<!-- <a-plane id="quetza-ground" src="#ground-texture-grass-asset" rotation="-90 0 0" width="350" height="350" repeat="50 50"
  material="; repeat: 1 1; roughness: 1; width: 4096; height: 4096" geometry="; height: 86.28; width: 35.7" position="-24.538 -0.228 -4.442"></a-plane> -->
<!-- <a-image id="quetza-ground-2" material="width: 4096; height: 4096" src="#ground-texture-grass-asset" scale="20 20 20"
  position="-16.56383 -0.04622 4.63998" rotation="90 0 0"></a-image> -->