<!-- <a-plane id="quetza-water" class="quetza-surface" position="-112.03784 0 6.56656" rotation="-90 0 0" width="200"
  height="200" color="#7BC8A4" water material="color: white; transparent: true; opacity: 0.0"></a-plane> -->

<a-entity id="quetza-360" scale="6 3.95 6" gltf-model="#forest-360-1-asset" position="-921.50038 12.14 109.40246"
  rotation="0 -100.34 -4.4"></a-entity>
<a-entity id="quetza-dirt-pile" class="quetza-surface" gltf-model="#dirt-pile-asset" position="-22.82 -0.52087 5.544"
  rotation="0 -60 -1.56" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="quetza-egg-1" class="quetza-surface" gltf-model="#egg-asset" position="-22.90734 0.14741 5.28156"
  rotation="0 -60 30" scale="0.04 0.04 0.04"></a-entity>
<a-entity id="quetza-egg-2" class="quetza-surface" gltf-model="#egg-asset" position="-22.78512 0.15989 5.6098"
  rotation="0 -59.99999999999999 -20" scale="0.04 0.04 0.04"></a-entity>
<a-entity id="quetza-egg-3" class="quetza-surface" gltf-model="#egg-asset" position="-23.16076 0.18384 5.49301"
  rotation="0 -59.99999999999999 0" scale="0.04 0.04 0.04"></a-entity>
<a-entity id="quetza-cliff-1" anisotropy="16" gltf-model="#desert-rock-asset" position="-21.928 0.009 4.407"
  rotation="-1.55 -37.12 0.48" scale="0.3 0.3 0.3"></a-entity>
<a-entity id="quetza-rock-1" gltf-model="#desert-rock-small-asset" position="-28.76147 -6.22107 18.33746"
  rotation="-0.01 80 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="quetza-cliff-2" gltf-model="#cliff-asset" position="-11.334 -2.232 -6.48041" rotation="0 138.15 -2"
  scale="0.1 0.1 0.1"></a-entity>
<a-entity id="quetza-tall-bush-1" gltf-model="#tall-bush-asset" position="-13.78475 -0.64735 -1.16653"
  rotation="26.140000000000004 -28.06 0" scale="0.17 0.13 0.13"></a-entity>
<a-entity id="quetza-tall-bush-2" gltf-model="#tall-bush-asset" position="-15.13404 -0.55999 -2.13059"
  rotation="26.140000000000004 -38.57 0" scale="0.13 0.13 0.13"></a-entity>
<a-entity id="quetza-tall-bush-3" gltf-model="#tall-bush-asset" position="-25.50821 -0.47687 14.03782"
  rotation="26.14 0 0" scale="0.13 0.15 0.17"></a-entity>
<a-entity id="quetza-tall-bush-4" gltf-model="#tall-bush-asset" position="-22.0263 -0.45519 16.70205"
  rotation="26.14 0 0" scale="0.13 0.13 0.13"></a-entity>
<a-entity id="quetza-tall-bush-5" gltf-model="#tall-bush-asset" position="-26.71823 -0.26962 13.19555"
  rotation="26.14 0 0" scale="0.27 0.13 0.13"></a-entity>
<a-entity id="quetza-tall-bush-6" gltf-model="#tall-bush-asset" position="-12.37 -0.594 -0.775" rotation="26.14 0 0"
  scale="0.13 0.13 0.13"></a-entity>
<a-entity id="quetza-tall-bush-7" gltf-model="#tall-bush-asset" position="-16.501 -0.647 -3.045"
  rotation="25.53 -28.06 0" scale="0.21 0.22 0.25"></a-entity>
<a-entity id="quetza-tall-bush-8" gltf-model="#tall-bush-asset" position="-15.89995 -0.64735 4.36056"
  rotation="25.53 -28.060000000000002 0" scale="0.15 0.11 0.15"></a-entity>
<a-entity id="quetza-tall-bush-9" gltf-model="#tall-bush-asset" position="-15.48762 -0.64735 5.12774"
  rotation="25.53 40 0" scale="0.14 0.12 0.15"></a-entity>
<a-entity id="quetza-tall-bush-10" gltf-model="#tall-bush-asset" position="-14.108 -0.664 5.831" rotation="10.71 0 0"
  scale="0.15 0.16 0.2"></a-entity>
<a-entity id="quetza-tall-bush-11" gltf-model="#tall-bush-asset" position="-16.98196 -0.664 -1.05892"
  rotation="10.71 0 0" scale="0.29 0.19 0.29"></a-entity>
<a-entity id="quetza-tall-branch-1" gltf-model="#desert-branch-asset" position="-20.8444 -0.20332 6.68626"
  rotation="-89.19 -23.24 -0.96" scale="0.1 0.1 0.1"></a-entity>