<!-- Plants and trees-->

<a-entity id="dilo-grass-1" gltf-model="#low-grass-asset" position="37.24505 0.21822 18.05539"
  rotation="90 -116.31000000000002 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="dilo-grass-2" gltf-model="#low-grass-asset" position="31.00558 0.218 12.26039" rotation="90 -109.3 0"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="dilo-grass-3" gltf-model="#low-grass-asset" position="35.63396 0.21822 -7.76174" rotation="90 -98.67 0"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="dilo-grass-4" gltf-model="#low-grass-asset" position="36.19717 -0.47121 -11.66399" rotation="90 -95.32 0"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="dilo-grass-5" gltf-model="#low-grass-asset" position="33.37332 0.21822 -31.02944" rotation="90 -77.55 0"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="dilo-grass-6" gltf-model="#low-grass-asset" position="29.23669 0.21822 -41.87251"
  rotation="90 -67.66 0.53" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="dilo-grass-7" gltf-model="#low-grass-asset" position="28.99208 0.21822 18.41104" rotation="90 -109.3 4.47"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="dilo-tropical-plant-01" gltf-model="#tropical-plant-asset" position="19.12853 0 15.18209"
  rotation="-0.01 50 0" scale="0.05 0.05 0.05"></a-entity>

<a-entity id="dilo-simple-plant-01" gltf-model="#simple-plant-asset" position="-3.24589 0.05234 18.72477"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="dilo-simple-plant-02" gltf-model="#simple-plant-asset" position="28.87165 0 -47.98412"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-03" gltf-model="#simple-plant-asset" position="37.72981 0 2.5966" rotation="-0.01 50 0"
  scale="7 10 7"></a-entity>
<a-entity id="dilo-simple-plant-04" gltf-model="#simple-plant-asset" position="41.49112 0 -13.45618"
  rotation="-0.01 83.76 1.7" scale="10 7 7"></a-entity>
<a-entity id="dilo-simple-plant-05" gltf-model="#simple-plant-asset" position="34.51662 0 -27.63519"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-06" gltf-model="#simple-plant-asset" position="38.91881 0 -2.25838"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-07" gltf-model="#simple-plant-asset" position="38.0887 -0.06977 26.00072"
  rotation="-0.01 41.6 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-08" gltf-model="#simple-plant-asset" position="29.39554 0 -51.74812"
  rotation="-0.01 59.93 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-013" gltf-model="#simple-plant-asset" position="34.66742 0 -36.12087"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-016" gltf-model="#simple-plant-asset" position="38.99846 0.09309 14.41217"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-17" gltf-model="#simple-plant-asset" position="40.2702 0 -36.27951"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-18" gltf-model="#simple-plant-asset" position="17.50846 0 -52.54279"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-19" gltf-model="#simple-plant-asset" position="14.44154 0 -57.85942"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-20" gltf-model="#simple-plant-asset" position="41.34467 0 -27.49828"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>

<a-entity id="dilo-simple-plant-101" gltf-model="#simple-plant-asset" position="-5.50678 0.03127 21.33989"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="dilo-simple-plant-104" gltf-model="#simple-plant-asset" position="40.93483 0 -22.95956"
  rotation="-0.01 83.76 1.7" scale="10 7 7"></a-entity>
<a-entity id="dilo-simple-plant-105" gltf-model="#simple-plant-asset" position="6.74099 0 -4.16579" rotation="-0.01 0 0"
  scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-108" gltf-model="#simple-plant-asset" position="-1.7218 0 -43.99566"
  rotation="-0.01 59.93 0" scale="6 6 6"></a-entity>
<a-entity id="dilo-simple-plant-1013" gltf-model="#simple-plant-asset" position="0.61234 0 -39.77244"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-1016" gltf-model="#simple-plant-asset" position="5.19433 0.05165 15.04879"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-117" gltf-model="#simple-plant-asset" position="9.0916 0 -26.84587"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="dilo-simple-plant-120" gltf-model="#simple-plant-asset" position="15.7801 0 -18.3913"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-simple-plant-121" gltf-model="#simple-plant-asset" position="-6.26659 0.19278 16.16356"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="dilo-double-rock-101" gltf-model="#double-rock-asset" position="13.2381 0 -21.40895" rotation="-0.01 50 0"
  scale="8 8 8"></a-entity>
<a-entity id="dilo-double-rock-02" gltf-model="#double-rock-asset" position="12.98217 0 -2.96845"
  rotation="-0.01 81.63 0" scale="7 7 7"></a-entity>
<a-entity id="dilo-double-rock-03" gltf-model="#double-rock-asset" position="7.87999 0 10.52581" rotation="-0.01 50 0"
  scale="5 5 5"></a-entity>
<a-entity id="dilo-double-rock-05" gltf-model="#double-rock-asset" position="28.58707 -0.46766 -46.14329"
  rotation="0 180 -16.46" scale="3.51 4.04 7.96"></a-entity>
<a-entity id="dilo-double-rock-06" gltf-model="#double-rock-asset" position="17.11114 0 -69.06187"
  rotation="-0.01 98.61 0" scale="5 5 5"></a-entity>
<a-entity id="dilo-double-rock-08" gltf-model="#double-rock-asset" position="-3.94957 0 -55.09615"
  rotation="-0.01 69.55 0" scale="5 5 5"></a-entity>
<a-entity id="dilo-double-rock-09" gltf-model="#double-rock-asset" position="41.61602 0 -6.01921" rotation="-0.01 104 0"
  scale="5 5 5"></a-entity>
<a-entity id="dilo-double-rock-010" gltf-model="#double-rock-asset" position="39.4805 0 -34.26239" rotation="-0.01 50 0"
  scale="5 5 5"></a-entity>
<a-entity id="dilo-double-rock-11" gltf-model="#double-rock-asset" position="17.39004 -0.23156 33.5421"
  rotation="-0.01 69.55 0" scale="5 5 5"></a-entity>
<a-entity id="dilo-double-rock-12" gltf-model="#double-rock-asset" position="30.853 2.16719 -41.26914"
  rotation="-0.01 97.63 0" scale="5 5 5"></a-entity>
<a-entity id="dilo-palms-01" gltf-model="#palms-asset" position="23.75446 -0.55116 27.0791" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-palms-02" gltf-model="#palms-asset" position="26.77232 -0.55116 -60.36171" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-palms-03" gltf-model="#fir-tree-asset" position="-2.30233 -1.71005 -39.56363" rotation="0 0 5"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-palms-04" gltf-model="#fir-tree-asset" position="-6.6726 -2.18839 19.1305" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-palms-05" gltf-model="#palms-asset" position="32.8309 -0.55116 9.23958" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-palms-06" gltf-model="#fir-tree-asset" position="3.95093 -2.69613 10.1156" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-palms-07" gltf-model="#palms-asset" position="38.71289 -0.24117 -15.62077" rotation="-0.01 160 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-palms-08-sound" sound__diloroar="src: #dilo-roar; volume: 20" gltf-model="#palms-asset"
  position="32.34891 -2.13681 -26.16493" rotation="-0.01 22.62 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-palms-09" gltf-model="#palms-asset" position="14.67975 -0.55116 -63.53404" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-palms-10" gltf-model="#fir-tree-asset" position="8.8925 -3.37908 -5.61316" rotation="-0.57 180 10"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-palms-11" gltf-model="#fir-tree-asset" position="7.1736 -1.41799 -23.25122" rotation="-0.01 0 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="dilo-tall-bush-2" class="performance" class="performance" gltf-model="#tall-bush-asset"
  position="42.84262 -0.65716 46.97069" rotation="-0.01 150 0" scale="2 2.46 2"></a-entity>
<a-entity id="dilo-tall-bush-3" class="performance" class="performance" gltf-model="#tall-bush-asset"
  position="32.33361 -2.56172 53.2091" rotation="-0.01 0 0" scale="2.4 2.2 2.77"></a-entity>
<a-entity id="dilo-tall-bush-4" class="performance" gltf-model="#tall-bush-asset" position="49.19987 -9.66889 11.69306"
  rotation="-0.01 296.14 0" scale="3.59 4 3"></a-entity>
<a-entity id="dilo-tall-bush-7" class="performance" gltf-model="#tall-bush-asset"
  position="-15.65146 -3.13675 -11.15441" rotation="-0.01 110 0" scale="3.05 2.48 2"></a-entity>
<a-entity id="dilo-tall-bush-8" class="performance" gltf-model="#tall-bush-asset"
  position="-13.04555 -6.74859 -32.37275" rotation="-0.01 0 0" scale="3.22 2.69 3.77"></a-entity>
<a-entity id="dilo-tall-bush-9" class="performance" gltf-model="#tall-bush-asset" position="-15.75801 -2.15177 48.85203"
  rotation="-0.01 110 0" scale="3 2.33 2.84"></a-entity>
<a-entity id="dilo-tall-bush-10" class="performance" gltf-model="#tall-bush-asset"
  position="34.15557 -8.05873 -68.38576" rotation="-0.01 120 0" scale="6 6 6"></a-entity>
<a-entity id="dilo-tall-bush-11" class="performance" gltf-model="#tall-bush-asset" position="-19.0068 -2.20173 20.08401"
  rotation="-0.01 110 0" scale="3.15 2.22 2.91"></a-entity>
<a-entity id="dilo-tall-bush-13" class="performance" gltf-model="#tall-bush-asset"
  position="50.03143 -11.00255 -26.08358" rotation="-0.01 -22.79 0" scale="3.18 5.63 7.5"></a-entity>
<a-entity id="dilo-tall-bush-14" class="performance" gltf-model="#tall-bush-asset"
  position="-10.48676 -5.64871 -61.97254" rotation="-0.01 83.79 0" scale="2.94 2.5 3.63"></a-entity>


<a-entity id="dilo-electric-fence-dilo" gltf-model="#electric-fence-dilo-asset" position="15.42785 0.30582 -13.61705"
  rotation="-0.01 88 0" scale="0.74 0.47 0.51">
</a-entity>
<a-entity id="dilo-small-fence-1" gltf-model="#small-fence-asset" position="56.48892 0.09271 32.18822" rotation=""
  scale="6.21 0.48 -0.5"></a-entity>
<a-entity id="dilo-tunnel-1" gltf-model="#tunnel-asset" position="16.04168 0.01574 -124.83536" rotation="-0.01 180 0"
  scale="4 4 5">
</a-entity>
<a-entity id="dilo-sign" gltf-model="#sign-asset" position="14.10213 2.06067 35.22712" rotation="-0.01 -142.41 0"
  scale="2 2 2">
  <a-image id="dilo-dilo-pannel" src="#dilo-pannel-asset" scale="0.965 1.34 1" position="0.08 0.31559 -0.00356"
    rotation="0 90 0" material="" geometry=""></a-image>
</a-entity>