<a-light id="ambiant-light" type="ambient" light="intensity: 1"></a-light>
<a-entity
  id="point-1"
  light="type: point; intensity: 1.8; distance: 50; decay: 5.27;color: #6293e3; groundColor: #000000"
  position="23.58918 10.52649 17.50244"
></a-entity>
<a-entity
  id="point-2"
  light="type: point; intensity: 1.8; distance: 50; decay: 4.13;color: #6293e3; groundColor: #000000"
  position="28.96824 7.04242 -9.9941"
></a-entity>
<a-entity
  id="point-3"
  light="type: point; intensity: 1.8; distance: 50; decay: 5.11;color: #6293e3; groundColor: #000000"
  position="21.93668 10.42913 -39.19119"
></a-entity>
