<a-light id="ambiant-light" type="ambient" light="intensity: 0.3"></a-light>
<a-entity
  id="point-1"
  light="type: point; intensity: 1.8; distance: 50; decay: 5.27;color: #6293e3; groundColor: #000000"
  position="-3.09082 10.52649 7.64466"
></a-entity>
<a-entity
  id="point-2"
  light="type: point; intensity: 1.8; distance: 50; decay: 4.13;color: #6293e3; groundColor: #000000"
  position="-7.98276 7.04242 -7.9423"
></a-entity>
<a-entity
  id="point-3"
  light="type: point; intensity: 1.8; distance: 50; decay: 5.11;color: #6293e3; groundColor: #000000"
  position="-1.6138 10.42913 -23.82744"
></a-entity>
