<a-entity
  id="trice"
  trice-animation
  gltf-model="#trice-asset"
  position="72.068 0 -94.573"
  rotation="0 -90 0"
  scale="0.014 0.014 0.014"
  animation-mixer="clip: Triceratops_Idle"
  sound__snoring="src: #trice-snoring; volume: 6; loop: false"
  sound__agressive="src: #trice-agressive; volume: 6; loop: false"
  sound__roar1="src: #trice-roar1; volume: 8; loop: false"
  sound__roar2="src: #trice-roar2; volume: 8; loop: false"
  sound__run="src: #trice-run; volume: 8; loop: true"
>
</a-entity>
