<!-- Plants and trees-->
<a-entity id="gate-simple-plant-01" gltf-model="#simple-plant-asset" position="-13.88661 -0.16198 76.98718"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-02" gltf-model="#simple-plant-asset" position="-20.02428 0 -53.36729"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-03" gltf-model="#simple-plant-asset" position="-25.22265 0 -51.52977"
  rotation="-0.01 50 0" scale="7 10 7"></a-entity>
<a-entity id="gate-simple-plant-04" gltf-model="#simple-plant-asset" position="-5.00074 0 -42.72564"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-05" gltf-model="#simple-plant-asset" position="19.61857 0 -86.81388"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-06" gltf-model="#simple-plant-asset" position="-9.95386 0 -27.06494"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-07" gltf-model="#simple-plant-asset" position="18.27732 0 -87.70663"
  rotation="-0.01 41.6 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-08" gltf-model="#simple-plant-asset" position="-12.5589 -0.4355 -42.61678"
  rotation="-0.01 59.93 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-013" gltf-model="#simple-plant-asset" position="-20.76051 0 -58.11205"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-015" gltf-model="#simple-plant-asset" position="-9.86128 -0.00862 -34.06035"
  rotation="-0.01 33.27 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-016" gltf-model="#simple-plant-asset" position="-6.20967 0.09309 -26.59081"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-17" gltf-model="#simple-plant-asset" position="-21.13288 0 -61.5084"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-18" gltf-model="#simple-plant-asset" position="-17.39596 0 -57.67698"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-19" gltf-model="#simple-plant-asset" position="23.14642 0 -87.8622"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-20" gltf-model="#simple-plant-asset" position="46.99697 0 -5.69403"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-double-rock-01" gltf-model="#double-rock-asset" position="-10.26536 0 23.52987" rotation="-0.01 50 0"
  scale="10 5 5"></a-entity>
<a-entity id="gate-double-rock-02" gltf-model="#double-rock-asset" position="-6.54819 0.80474 -37.06687"
  rotation="-0.01 119.99999999999999 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-03" gltf-model="#double-rock-asset" position="-14.8669 0 -127.65698"
  rotation="-0.01 50 0" scale="10 10 10"></a-entity>
<a-entity id="gate-double-rock-05" gltf-model="#double-rock-asset" position="-28.11608 0.10204 -53.316"
  rotation="-0.01 98.83 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-06" gltf-model="#double-rock-asset" position="-26.81301 1.90355 -58.60572"
  rotation="-0.01 98.61 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-08" gltf-model="#double-rock-asset" position="34.23635 0 -155.23796"
  rotation="-0.01 150 0" scale="8 8 8"></a-entity>
<a-entity id="gate-double-rock-09" gltf-model="#double-rock-asset" position="-7.72947 0.8028 -1.45495"
  rotation="-0.01 104 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-010" gltf-model="#double-rock-asset" position="-7.3558 0 -30.29621" rotation="-0.01 50 0"
  scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-11" gltf-model="#double-rock-asset" position="63.65185 0 -3.44247"
  rotation="-0.01 69.55 0" scale="5 5 5"></a-entity>
<a-entity id="gate-double-rock-12" gltf-model="#double-rock-asset" position="-16.0987 2.71168 -67.0001"
  rotation="-0.01 112.97 0" scale="5 5 5"></a-entity>
<a-entity id="gate-palms-01" gltf-model="#fir-tree-asset" position="28.02338 -5.81817 -29.47526" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-02" gltf-model="#fir-tree-asset" position="63.25048 -0.55116 -91.5805" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-03" gltf-model="#fir-tree-asset" position="19.80598 0 -90.73907" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-04" gltf-model="#fir-tree-asset" position="-41.66045 -0.55116 -66.2937" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-05" gltf-model="#fir-tree-asset" position="-18.56955 -0.55116 -2.58486" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-06" gltf-model="#fir-tree-asset" position="-32.51585 -6.32016 -105.09236" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-07" gltf-model="#fir-tree-asset" position="25.80711 -0.24117 -88.66313" rotation="-0.01 160 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-08" gltf-model="#fir-tree-asset" position="-56.15801 -4.41599 -58.13095"
  rotation="-0.01 22.62 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-09" gltf-model="#fir-tree-asset" position="-18.2573 -0.55116 -24.83523" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-10" gltf-model="#fir-tree-asset" position="-13.01 -0.9868 -34.09111" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-11" gltf-model="#fir-tree-asset" position="-36.11996 -0.987 -53.2288" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-12" gltf-model="#fir-tree-asset" position="41.08214 -0.9868 -122.15695" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-13" gltf-model="#fir-tree-asset" position="21.39291 -8.83297 -3.74886" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-14" gltf-model="#fir-tree-asset" position="-27.62717 -5.81817 43.31014" rotation="-0.01 0 -15"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-15" gltf-model="#fir-tree-asset" position="30.45803 -5.81817 22.74447" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-16" gltf-model="#fir-tree-asset" position="-8.88032 -5.81817 89.9943" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>

<a-entity id="gate-corridor-1" gltf-model="#corridor-asset" position="58.43065 6.02 84.67505" rotation="0 90 0"
  scale="0.055 0.025 0.025"></a-entity>

<a-box id="trice-box" position="72.306 0 -96.095" color="#000" depth="10" height="10" width="10"></a-box>