<a-entity
  visible="true"
  trex-animation=""
  id="trex"
  gltf-model="#trex-asset"
  position="-100 0 27.748"
  rotation="0 -182.22000000000003 0"
  scale="3 3 3"
  sound__trexroar="src: #trex-roar; volume: 100"
  sound__trexfootstep="src: #trex-foot-step; volume: 50; loop: true"
  sound__trexleave="src: #trex-leave; volume: 50"
>
</a-entity>
<a-entity
  id="goat"
  gltf-model="#goat-asset"
  position="-20.5 -2.56281 -22.362"
  scale="2.2 2.2 2.2"
  sound__goatroar="src: #goat-roar; volume: 3"
  sound__goatelevator="src: #goat-elevator; volume: 5"
>
</a-entity>
