<a-entity
  trex-animation
  id="trex"
  gltf-model="#trex-asset"
  position="-88 0 -25"
  rotation="0 66.67 0"
  animation-mixer="clip: idle"
  scale="2.4 2.4 2.4"
  sound__foot1="src: #foot-step-1; volume: 20"
  sound__foot2="src: #foot-step-2; volume: 20"
  sound__benddown="src: #benddown; volume: 20"
  sound__snoring="src: #snoring; volume: 20"
  sound__bendup="src: #bendup; volume: 20"
  sound__roar="src: #roar; volume: 20"
  sound__longsnoring="src: #long-snoring; volume: 20"
>
</a-entity>
