<!-- Miscs -->
<a-entity
  id="electric-fence"
  gltf-model="#electric-fence-asset"
  position="14 0.44 -18.5"
  rotation="-0.01 270 0"
  scale="1.3 1.3 1.3"
>
</a-entity>
<a-entity
  id="sign"
  gltf-model="#sign-asset"
  position="3.11312 -0.060 50.71745"
  rotation="-0.01 306.89 0"
  scale="0.2 0.2 0.2"
>
</a-entity>
<a-entity
  id="hut-1"
  gltf-model="#hut-asset"
  position="17.00816 -0.15012 -28.0166"
  rotation="-0.01 32.37 0"
  scale="0.04 0.035 0.02"
>
</a-entity>
<a-image
  id="trex-pannel"
  src="#trex-pannel-asset"
  scale="1.5 1.5 1.1"
  position="3.20522 2.7331 50.77762"
  rotation="0 38.01 0"
  material=""
  geometry=""
></a-image>
<a-entity
  id="tunnel-1"
  gltf-model="#tunnel-asset"
  position="11.22974 0.01574 100.917"
  rotation="-0.01 18.97 0"
  scale="4 4 3"
>
</a-entity>
<a-image
  src="#toilet-asset"
  scale="2 2 2"
  position="14.411 1.61078 -26.59977"
  rotation="0 127.65 0"
  material=""
  geometry=""
  visible=""
></a-image>

<!-- Plants and trees-->
<a-entity
  id="tropical-plant-1"
  gltf-model="#tropical-plant-asset"
  position="4.611 0 -12.216"
  rotation="-0.01 50 0"
  scale="0.05 0.05 0.05"
></a-entity>
<a-entity
  id="tropical-plant-2"
  gltf-model="#tropical-plant-asset"
  position="-1.474 0 -18.759"
  rotation="-0.01 50 0"
  scale="0.05 0.05 0.05"
></a-entity>
<a-entity
  id="tropical-plant-3"
  gltf-model="#tropical-plant-asset"
  position="-32.25276 0 -25.91335"
  rotation="-0.01 50 0"
  scale="0.1 0.1 0.1"
></a-entity>
<a-entity
  id="tropical-plant-4"
  gltf-model="#tropical-plant-asset"
  position="-38.61112 0 52.00971"
  rotation="-0.01 50 0"
  scale="0.1 0.1 0.1"
></a-entity>
<a-entity
  id="tropical-plant-5"
  gltf-model="#tropical-plant-asset"
  position="-45.54885 0 -7.22257"
  rotation="-0.01 50 0"
  scale="0.1 0.1 0.1"
></a-entity>

<a-entity
  id="simple-plant-1"
  gltf-model="#simple-plant-asset"
  position="-7.9688 1.116 31.23763"
  rotation="-0.01 50 0"
  scale="1 1 1"
></a-entity>
<a-entity
  id="simple-plant-2"
  gltf-model="#simple-plant-asset"
  position="-6.29883 1.116 44.05949"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-3"
  gltf-model="#simple-plant-asset"
  position="-13.26449 1.116 12.78414"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-4"
  gltf-model="#simple-plant-asset"
  position="-15.76451 0.40363 -6.81099"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-5"
  gltf-model="#simple-plant-asset"
  position="-12.09464 2.50678 -44.0102"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-6"
  gltf-model="#simple-plant-asset"
  position="1.85159 2.50678 -62.56359"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-7"
  gltf-model="#simple-plant-asset"
  position="-16.66357 0.46394 6.41734"
  rotation="-0.01 41.6 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-8"
  gltf-model="#simple-plant-asset"
  position="13.04442 0 48.71225"
  rotation="-0.01 41.6 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-13"
  gltf-model="#simple-plant-asset"
  position="-1.41446 0 58.55786"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-15"
  gltf-model="#simple-plant-asset"
  position="19.861 -0.00862 -24.951"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-16"
  gltf-model="#simple-plant-asset"
  position="15.004 0.09309 -33.840"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="double-rock-1"
  gltf-model="#double-rock-asset"
  position="-16.89542 -0.02112 0.348"
  rotation="-0.01 66.94 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-2"
  gltf-model="#double-rock-asset"
  position="-9.7415 0.71694 -40.08145"
  rotation="-0.01 119.99999999999999 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-3"
  gltf-model="#double-rock-asset"
  position="-8.64369 0.71694 48.62671"
  rotation="-0.01 50 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-5"
  gltf-model="#double-rock-asset"
  position="-13.234 0.10204 22.814"
  rotation="-0.01 98.83 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-6"
  gltf-model="#double-rock-asset"
  position="-13.17565 0.3955 -28.07512"
  rotation="-0.01 98.61 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-8"
  gltf-model="#double-rock-asset"
  position="15.84671 0 53.46855"
  rotation="-0.01 59.99999999999999 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-9"
  gltf-model="#double-rock-asset"
  position="2.68108 0 57.63683"
  rotation="-0.01 90 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-10"
  gltf-model="#double-rock-asset"
  position="-13.25665 0.71694 -30.67314"
  rotation="-0.01 50 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="palms-1"
  gltf-model="#palms-asset"
  position="-4.65446 -0.55116 -55.43395"
  rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-2"
  gltf-model="#palms-asset"
  position="5.15991 -0.55116 -74.1582"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-3"
  gltf-model="#palms-asset"
  position="-3.86059 -0.55116 64.07333"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-4"
  gltf-model="#palms-asset"
  position="-13.55442 -0.55116 23.57977"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-5"
  gltf-model="#palms-asset"
  position="-14.187 -0.55116 14.026"
  rotation="-0.01 90.000 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-6"
  gltf-model="#palms-asset"
  position="-15.49123 -0.55116 -33.59231"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-7"
  gltf-model="#palms-asset"
  position="-17.864 -0.24117 -7.099"
  rotation="-0.01 288.580 0"
  scale="0.080 0.080 0.080"
></a-entity>
<a-entity
  id="palms-8"
  gltf-model="#palms-asset"
  position="-15.98447 -0.55116 40.40478"
  rotation="-0.01 22.62 0"
  scale="0.06 0.06 0.06"
></a-entity>
