<!-- Trees and plants -->

<!-- <a-entity
  id="double-rock"
  gltf-model="#double-rock-asset"
  position="0.90618 0 65.13794"
  rotation="-0.01 50 0"
  scale="2.5 2.5 2.5"
></a-entity>
<a-entity
  id="double-rock"
  gltf-model="#double-rock-asset"
  position="-50.9757 -6.93689 82.53481"
  rotation="-0.01 50 0"
  scale="2.5 2.5 2.5"
></a-entity>
<a-entity
  id="double-rock"
  gltf-model="#double-rock-asset"
  position="-7.25809 0.11669 47.26015"
  rotation="-0.01 50 0"
  scale="2.5 2.5 2.5"
></a-entity>
<a-entity
  id="palms"
  gltf-model="#palms-asset"
  position="-17.47692 -0.55116 -15.18898"
  rotation="-0.01 50 0"
  scale="0.08 0.08 0.08"
></a-entity>
<a-entity
  id="palms"
  gltf-model="#palms-asset"
  position="-17.47692 -0.55116 -15.18898"
  rotation="-0.01 50 0"
  scale="0.08 0.08 0.08"
></a-entity>
<a-entity
  id="palms"
  gltf-model="#palms-asset"
  position="-17.47692 -0.55116 -15.18898"
  rotation="-0.01 50 0"
  scale="0.08 0.08 0.08"
></a-entity>
<a-entity
  id="simple-tree"
  gltf-model="#simple-tree-asset"
  position="1.61313 0.11669 57.6177"
  rotation="-0.01 50 0"
  scale="0.01 0.01 0.01"
></a-entity>
<a-entity
  id="simple-tree"
  gltf-model="#simple-tree-asset"
  position="-11.83012 0.11669 37.77121"
  rotation="-0.01 50 0"
  scale="0.01 0.01 0.01"
></a-entity>
<a-entity
  id="simple-tree"
  gltf-model="#simple-tree-asset"
  position="-11.83012 0.11669 37.77121"
  rotation="-0.01 50 0"
  scale="0.01 0.01 0.01"
></a-entity>
<a-entity
  id="simple-plant"
  gltf-model="#simple-plant-asset"
  position="-14.94052 0.68646 24.79848"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant"
  gltf-model="#simple-plant-asset"
  position="-14.94052 0.68646 24.79848"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant"
  gltf-model="#simple-plant-asset"
  position="-14.94052 0.68646 24.79848"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant"
  gltf-model="#simple-plant-asset"
  position="-14.94052 0.68646 24.79848"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>

<a-entity
  id="tropical-plant"
  gltf-model="#tropical-plant-asset"
  position="-50.92188 1.38704 -35.62863"
  rotation="-0.01 0 0"
  scale="0.1 0.1 0.1"
></a-entity>
<a-entity
  id="tropical-plant"
  gltf-model="#tropical-plant-asset"
  position="-50.92188 1.38704 -35.62863"
  rotation="-0.01 0 0"
  scale="0.1 0.1 0.1"
></a-entity>

<a-entity
  id="tropical-plant"
  gltf-model="#tropical-plant-asset"
  position="-50.92188 1.38704 -35.62863"
  rotation="-0.01 0 0"
  scale="0.1 0.1 0.1"
></a-entity>

<a-entity
  id="tropical-plant"
  gltf-model="#tropical-plant-asset"
  position="-50.92188 1.38704 -35.62863"
  rotation="-0.01 0 0"
  scale="0.1 0.1 0.1"
></a-entity> -->

<!-- Miscs -->
<a-entity
  id="electric-fence"
  gltf-model="#electric-fence-asset"
  position="14 0.30 -18.5"
  rotation="-0.01 270 0"
  scale="1.3 1.3 1.3"
>
</a-entity>
<a-entity
  id="hut-1"
  gltf-model="#hut-asset"
  position="11.04081 0.01574 -22.26585"
  rotation="-0.01 20 0"
  scale="0.005 0.005 0.005"
>
</a-entity>
<a-entity
  id="tunnel-1"
  gltf-model="#tunnel-asset"
  position="11.64767 0.01574 101.57461"
  rotation="-0.01 18.97 0"
  scale="4 4 3"
>
</a-entity>

<!-- Plants and trees-->
<a-entity
  id="simple-plant-1"
  gltf-model="#simple-plant-asset"
  position="-7.9688 1.116 31.23763"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-2"
  gltf-model="#simple-plant-asset"
  position="-6.29883 1.116 44.05949"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-3"
  gltf-model="#simple-plant-asset"
  position="-13.26449 1.116 12.78414"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-4"
  gltf-model="#simple-plant-asset"
  position="-15.76451 1.116 -10.33077"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-5"
  gltf-model="#simple-plant-asset"
  position="-12.09464 2.50678 -44.0102"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-6"
  gltf-model="#simple-plant-asset"
  position="-1.75587 2.50678 -64.21"
  rotation="-0.01 50 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="simple-plant-7"
  gltf-model="#simple-plant-asset"
  position="-15.1475 1.70234 -19.72456"
  rotation="-0.01 41.6 0"
  scale="10 10 10"
></a-entity>
<a-entity
  id="double-rock-1"
  gltf-model="#double-rock-asset"
  position="-17.67817 -0.02112 0.34818"
  rotation="-0.01 50 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-2"
  gltf-model="#double-rock-asset"
  position="-8.25546 0.71694 -39.9861"
  rotation="-0.01 50 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-3"
  gltf-model="#double-rock-asset"
  position="-8.64369 0.71694 48.62671"
  rotation="-0.01 50 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-5"
  gltf-model="#double-rock-asset"
  position="-13.8509 0.10204 -19.59678"
  rotation="-0.01 98.83 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-6"
  gltf-model="#double-rock-asset"
  position="-12.41177 0.3955 -24.75732"
  rotation="-0.01 90 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="palms-1"
  gltf-model="#palms-asset"
  position="-4.65446 -0.55116 -55.43395"
  rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-2"
  gltf-model="#palms-asset"
  position="5.15991 -0.55116 -74.1582"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-3"
  gltf-model="#palms-asset"
  position="-3.86059 -0.55116 64.07333"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-4"
  gltf-model="#palms-asset"
  position="-13.55442 -0.55116 23.57977"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-5"
  gltf-model="#palms-asset"
  position="-17.63199 -0.55116 7.55168"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-6"
  gltf-model="#palms-asset"
  position="-15.49123 -0.55116 -33.59231"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-7"
  gltf-model="#palms-asset"
  position="-18.44739 -0.24117 -12.66524"
  rotation="-0.01 40.39 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-8"
  gltf-model="#palms-asset"
  position="-15.98447 -0.55116 40.40478"
  rotation="-0.01 22.62 0"
  scale="0.06 0.06 0.06"
></a-entity>
