<!-- Miscs -->
<a-entity id="trex-electric-fence" gltf-model="#electric-fence-asset" position="14 0.44 -18.5" rotation="-0.01 270 0"
  scale="1.3 1.3 1.3">
</a-entity>
<a-entity id="trex-sign" gltf-model="#sign-asset" position="3.11312 -0.060 50.71745" rotation="-0.01 306.89 0"
  scale="0.2 0.2 0.2">
  <a-image id="trex-trex-pannel" src="#trex-pannel-asset" scale="7.2 7.2 7.2" position="0.579 14.00407 -0.179"
    rotation="0 90 0" material="" geometry=""></a-image>
</a-entity>
<a-entity id="trex-tunnel-1" gltf-model="#tunnel-asset" position="11.22974 0.01574 100.917" rotation="-0.01 18.97 0"
  scale="4 4 3">
</a-entity>

<!-- Plants and trees-->
<a-entity id="trex-grass-1" gltf-model="#grass-asset" position="-18.19185 0.93579 -12.64392" rotation="0 -116.31 0"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="trex-grass-2" gltf-model="#grass-asset" position="-18.97542 0.90562 -16.71808"
  rotation="0 -116.31000000000002 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="trex-grass-3" gltf-model="#grass-asset" position="-16.61871 0.87881 -20.99074" rotation="0 -116.31 0"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="trex-tropical-plant-3" gltf-model="#tropical-plant-asset" position="-32.25276 0 -25.91335"
  rotation="-0.01 50 0" scale="0.1 0.1 0.1"></a-entity>
<a-entity id="trex-tropical-plant-4" gltf-model="#tropical-plant-asset" position="-38.61112 0 52.00971"
  rotation="-0.01 50 0" scale="0.1 0.1 0.1"></a-entity>
<a-entity id="trex-tropical-plant-5" gltf-model="#tropical-plant-asset" position="-45.54885 0 -7.22257"
  rotation="-0.01 50 0" scale="0.1 0.1 0.1"></a-entity>

<a-entity id="trex-simple-plant-1" gltf-model="#simple-plant-asset" position="-7.9688 1.116 31.23763"
  rotation="-0.01 50 0" scale="1 1 1"></a-entity>
<a-entity id="trex-simple-plant-2" gltf-model="#simple-plant-asset" position="-6.29883 1.116 44.05949"
  rotation="-0.01 50 0" scale="10 10 10"></a-entity>
<a-entity id="trex-simple-plant-3" gltf-model="#simple-plant-asset" position="-13.26449 1.116 12.78414"
  rotation="-0.01 50 0" scale="10 10 10"></a-entity>
<a-entity id="trex-simple-plant-4" gltf-model="#simple-plant-asset" position="-15.76451 0.40363 -6.81099"
  rotation="-0.01 50 0" scale="10 10 10"></a-entity>
<a-entity id="trex-simple-plant-6" gltf-model="#simple-plant-asset" position="1.85159 0.798 -62.56359"
  rotation="-0.01 50 0" scale="10 10 10"></a-entity>
<a-entity id="trex-simple-plant-7" gltf-model="#simple-plant-asset" position="-16.66357 0.46394 6.41734"
  rotation="-0.01 41.6 0" scale="10 10 10"></a-entity>
<a-entity id="trex-simple-plant-13" gltf-model="#simple-plant-asset" position="-1.92696 0 58.68837"
  rotation="-0.01 50 0" scale="10 10 10"></a-entity>
<a-entity id="trex-double-rock-1" gltf-model="#double-rock-asset" position="-28.78578 -0.02112 2.09479"
  rotation="-0.01 66.94 0" scale="15 15 15"></a-entity>
<a-entity id="trex-double-rock-2" gltf-model="#double-rock-asset" position="-9.7415 0.71694 -40.08145"
  rotation="-0.01 119.99999999999999 0" scale="5 5 5"></a-entity>
<a-entity id="trex-double-rock-3" gltf-model="#double-rock-asset" position="-8.64369 0.71694 48.62671"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="trex-double-rock-5" gltf-model="#double-rock-asset" position="-29.46832 0.10204 -7.98794"
  rotation="-0.01 98.83 0" scale="9 12 9"></a-entity>
<a-entity id="trex-double-rock-6" gltf-model="#double-rock-asset" position="-13.17565 0.3955 -28.07512"
  rotation="-0.01 98.61 0" scale="5 5 5"></a-entity>
<a-entity id="trex-double-rock-8" gltf-model="#double-rock-asset" position="17.74681 0 54.76835"
  rotation="-0.01 59.99999999999999 0" scale="5 5 5"></a-entity>
<a-entity id="trex-double-rock-9" gltf-model="#double-rock-asset" position="2.68108 0 57.63683" rotation="-0.01 90 0"
  scale="5 5 5"></a-entity>
<a-entity id="trex-double-rock-10" gltf-model="#double-rock-asset" position="-13.25665 0.71694 -30.67314"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="trex-double-rock-11" gltf-model="#double-rock-asset" position="16.57001 0.71694 -9.72841"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="trex-double-rock-12" gltf-model="#double-rock-asset" position="19.59886 0.71694 29.62787"
  rotation="-0.01 150 0" scale="5 5 5"></a-entity>
<a-entity id="trex-double-rock-13" gltf-model="#double-rock-asset" position="20.18293 0.71694 28.33562"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="trex-palms-1" gltf-model="#palms-asset" position="-4.65446 -0.55116 -55.43395" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-2" gltf-model="#palms-asset" position="5.15991 -0.55116 -74.1582" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-3" gltf-model="#palms-asset" position="-3.86059 -0.55116 64.07333" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-4" gltf-model="#palms-asset" position="-13.55442 -0.55116 23.57977" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-5" gltf-model="#palms-asset" position="-14.187 -0.55116 14.026" rotation="-0.01 90.000 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-6" gltf-model="#palms-asset" position="-15.49123 -0.55116 -33.59231" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-7" gltf-model="#palms-asset" position="-17.864 1.365 -7.099" rotation="-0.01 288.580 -1.330"
  scale="0.080 0.080 0.080"></a-entity>
<a-entity id="trex-palms-8" gltf-model="#palms-asset" position="-15.98447 -0.55116 40.40478" rotation="-0.01 22.62 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-9" gltf-model="#fir-tree-asset" position="-44.22173 -0.987 -53.2288" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-10" gltf-model="#fir-tree-asset" position="23.74429 -0.9868 33.58093" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-11" gltf-model="#fir-tree-asset" position="38.836 -0.987 9.99815" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-12" gltf-model="#fir-tree-asset" position="19.56215 -4.86162 -10.2463" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-13" gltf-model="#fir-tree-asset" position="57.28694 -3.70983 -27.86065" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-palms-14" gltf-model="#fir-tree-asset" position="37.52301 -3.12806 -51.29379" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>

<a-box position="-84.270 1.645 41.756" color="#000" depth="60.000" height="40.000" width="10"></a-box>