<a-light id="ambiant-light" type="ambient" light="intensity: 1"></a-light>
<a-entity id="point-2"
  light="type: point; intensity: 1.8; distance: 50; decay: 3.1;color: #6293e3; groundColor: #000000"
  position="-6.54648 12.2142 20.498"></a-entity>
<a-entity id="point-3"
  light="type: point; intensity: 1.2; distance: 50; decay: 3.1; color: #6293e3; groundColor: #000000"
  position="-8.45352 12.2142 -34.30863"></a-entity>
<!-- <a-entity id="point-4" light="type: point; intensity: 1; distance: 50; decay: 3.1; color: #6293e3; groundColor: #000000"
  position="0 17.807 -21.852"></a-entity> -->
<a-entity id="point-4" light="type: point; intensity: 1; distance: 50; decay: 3.1; color: #6293e3; groundColor: #000000"
  position="-19.691 9.864 -19.408"></a-entity>