<a-entity
  trex-car-tour
  id="trex-car"
  gltf-model="#car-asset"
  position="18.6 -0.29 85"
  rotation="0 0 0"
  scale="1 1 1"
>
  <a-image
    id="rendering"
    src="#rendering-asset"
    scale="0.25 0.25 0.25"
    position="-0.8315 1.86335 -0.00893"
    rotation="0 90 0"
    material=""
    geometry=""
    visible=""
  ></a-image>
  <a-entity
    light="type: point; intensity: 1.02; distance: 50; decay: 20"
    position="-0.44065 2.20847 -0.09711"
  ></a-entity>
  <a-box
    button-control
    hoverable
    color="blue"
    position="-0.88824 0.96107 0.09701"
    material=""
    geometry=""
    scale="0.02 0.02 0.02"
  ></a-box>
  <a-entity
    id="rig"
    movement-controls
    position="-0.4 1.0 0.5"
    rotation="0 90 0"
  >
    <a-entity id="hands">
      <a-entity id="trex-scene-camera" camera position="0 1.6 0" look-controls>
        <a-entity
          id="log"
          text="value: HELLO; color: red; width: 0.5"
          position="0.8 0.3 -0.40"
        ></a-entity>
      </a-entity>
      <a-entity
        id="leftHand"
        sphere-collider="objects: a-box"
        super-hands
        hand-controls="hand: left; handModelStyle: highPoly; color: #ffcccc"
      ></a-entity>
      <a-entity
        fps-counter="for90fps: false"
        id="rightHand"
        rotation="10 0 0"
        sphere-collider="objects: a-box"
        super-hands
        hand-controls="hand: right; handModelStyle: highPoly; color: #ffcccc"
      ></a-entity>
    </a-entity>
  </a-entity>
</a-entity>

<a-curve id="parcours" type="Spline" curve="closed:false" visible="true" scale=>
  <a-curve-point
    id="checkpoint1"
    position="18.6, 0.1, 85"
    visible="true"
  ></a-curve-point>
  <a-curve-point
    id="checkpoint2"
    position="4.6, 0.1, 47"
    visible="true"
  ></a-curve-point>
  <a-curve-point
    id="checkpoint3"
    position="-4.7, 0.1, 12.8"
    visible="true"
  ></a-curve-point>
  <a-curve-point
    id="checkpoint4"
    position="-4.7, 0.1, -18"
    visible="true"
  ></a-curve-point>
  <a-curve-point
    id="checkpoint4"
    position="2.8, 0.1, -41"
    visible="true"
  ></a-curve-point>
  <a-curve-point
    id="checkpoint4"
    position="30, 0.1, -94"
    visible="true"
  ></a-curve-point>
</a-curve>
<a-draw-curve
  curveref="#parcours"
  material="shader: line; color: white;"
></a-draw-curve>
<a-entity
  geometry-merger="preserveOriginal: false"
  clone-along-curve="curve: #parcours; spacing: 8; scale: 0.08 0.08 0.08; rotation: 90 0 0;"
  geometry="primitive:cylinder ; height:100"
  material="color: #95a5a6"
></a-entity>
