<a-entity
  visible="true"
  raptor-head-animation=""
  id="raptor-head"
  gltf-model="#raptor-head-asset"
  position="-5.415 1.842 -7.437"
  rotation="-29.760 -102.620 0"
  scale="0.700 0.700 0.700"
  sound__ambiant="src: #raptor-ambiant; volume: 10; loop: false"
  sound__bendup="src: #raptor-bendup; volume: 10; loop: false"
  sound__benddown="src: #raptor-benddown; volume: 10; loop: false"
  sound__headanimation="src: #raptor-head-animation; volume: 10; loop: false"
>
</a-entity>
<a-entity
  visible="false"
  raptor-animation=""
  id="raptor"
  gltf-model="#raptor-asset"
  position="-9 1.796 8.597"
  rotation="0 -182 0"
  scale="0.600 0.600 0.600"
  sound__bodyroar="src: #raptor-body-roar; volume: 5; loop: false"
>
</a-entity>
