<!-- Plants and trees-->
<a-entity
  id="grass-1"
  gltf-model="#grass-asset"
  position="-5.55983 0.75025 -24.96756"
  rotation="0 -116.31000000000002 0"
  scale="0.02 0.02 0.02"
>
</a-entity>
<a-entity
  id="grass-2"
  gltf-model="#grass-asset"
  position="-7.33342 1.097 -6.43311"
  rotation="0 -116.31 0"
  scale="0.02 0.02 0.02"
>
</a-entity>
<a-entity
  id="grass-3"
  gltf-model="#grass-asset"
  position="-9.10423 0.40731 3.65704"
  rotation="0 -116.31 0"
  scale="0.02 0.02 0.02"
>
</a-entity>
<a-entity
  id="grass-4"
  gltf-model="#grass-asset"
  position="-4.25221 0.66366 9.61523"
  rotation="0 -116.31 0"
  scale="0.02 0.02 0.02"
>
</a-entity>
<a-entity
  id="grass-5"
  gltf-model="#grass-asset"
  position="-10.29784 0.79952 -12.5552"
  rotation="0 -116.31 0"
  scale="0.02 0.02 0.02"
>
</a-entity>
<a-entity
  id="grass-6"
  gltf-model="#grass-asset"
  position="-3.93468 0.79952 -30.54774"
  rotation="0 -116.31 0"
  scale="0.02 0.02 0.02"
>
</a-entity>
<a-entity
  id="grass-7"
  gltf-model="#grass-asset"
  position="-4.13957 0.86824 -45.16503"
  rotation="0 -116.31 0"
  scale="0.02 0.02 0.02"
>
</a-entity>
<a-entity
  id="tropical-plant-01"
  gltf-model="#tropical-plant-asset"
  position="-19.71252 0 0.23208"
  rotation="-0.01 50 0"
  scale="0.05 0.05 0.05"
></a-entity>
<a-entity
  id="tropical-plant-02"
  gltf-model="#tropical-plant-asset"
  position="-16.4026 0 36.02377"
  rotation="-0.01 50 0"
  scale="0.05 0.05 0.05"
></a-entity>
<a-entity
  id="tropical-plant-04"
  gltf-model="#tropical-plant-asset"
  position="-45.93994 0 40.06398"
  rotation="-0.01 50 0"
  scale="0.1 0.1 0.1"
></a-entity>
<a-entity
  id="simple-plant-01"
  gltf-model="#simple-plant-asset"
  position="-7.9688 1.116 31.23763"
  rotation="-0.01 50 0"
  scale="1 1 1"
></a-entity>
<a-entity
  id="simple-plant-02"
  gltf-model="#simple-plant-asset"
  position="-6.52073 0 -28.28354"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-03"
  gltf-model="#simple-plant-asset"
  position="-9.084 0 -4.845"
  rotation="-0.01 50 0"
  scale="7 10 7"
></a-entity>
<a-entity
  id="simple-plant-04"
  gltf-model="#simple-plant-asset"
  position="-10.53337 0 4.8073"
  rotation="-0.01 50 0"
  scale="10 7 7"
></a-entity>
<a-entity
  id="simple-plant-05"
  gltf-model="#simple-plant-asset"
  position="-10.34306 0 -24.20623"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-06"
  gltf-model="#simple-plant-asset"
  position="-3.98643 0 -11.06608"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-07"
  gltf-model="#simple-plant-asset"
  position="-10.56573 0 23.13287"
  rotation="-0.01 41.6 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-08"
  gltf-model="#simple-plant-asset"
  position="-4.25175 0 -44.79547"
  rotation="-0.01 59.93 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-013"
  gltf-model="#simple-plant-asset"
  position="-8.28957 0 -39.34577"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-015"
  gltf-model="#simple-plant-asset"
  position="-4.01151 -0.00862 -23.40277"
  rotation="-0.01 33.27 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-016"
  gltf-model="#simple-plant-asset"
  position="-6.39209 0.09309 10.83206"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-17"
  gltf-model="#simple-plant-asset"
  position="-3.4965 0 -33.30549"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-18"
  gltf-model="#simple-plant-asset"
  position="-2.941 0 -49.09401"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-19"
  gltf-model="#simple-plant-asset"
  position="15.91361 0 -55.94686"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-20"
  gltf-model="#simple-plant-asset"
  position="-4.08993 0 -16.65745"
  rotation="-0.01 50 0"
  scale="7 7 7"
></a-entity>
<a-entity
  id="simple-plant-21"
  gltf-model="#simple-plant-asset"
  position="-2.46418 0.87379 2.84378"
  rotation="-0.01 50 0"
  scale="4 4 4"
></a-entity>
<a-entity
  id="double-rock-01"
  gltf-model="#double-rock-asset"
  position="-6.79842 0 46.18785"
  rotation="-0.01 50 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-05"
  gltf-model="#double-rock-asset"
  position="-2.70008 -1.298 -7.50981"
  rotation="0 180 -16.46"
  scale="3.51 4.04 7.96"
></a-entity>
<a-entity
  id="double-rock-06"
  gltf-model="#double-rock-asset"
  position="18.97335 0 -65.30046"
  rotation="-0.01 98.61 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-08"
  gltf-model="#double-rock-asset"
  position="-2.76528 0 -37.74721"
  rotation="-0.01 69.55 0"
  scale="3 3 3"
></a-entity>
<a-entity
  id="double-rock-09"
  gltf-model="#double-rock-asset"
  position="-6.09897 0 3.03764"
  rotation="-0.01 104 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-010"
  gltf-model="#double-rock-asset"
  position="-4.96871 0 -16.381"
  rotation="-0.01 50 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-11"
  gltf-model="#double-rock-asset"
  position="-4.42063 0 15.24247"
  rotation="-0.01 52.35 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-12"
  gltf-model="#double-rock-asset"
  position="-2.67369 0.3475 -6.2737"
  rotation="-0.01 97.63 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="double-rock-13"
  gltf-model="#double-rock-asset"
  position="-5.86582 0 24.58616"
  rotation="-0.01 69.55 0"
  scale="5 5 5"
></a-entity>
<a-entity
  id="palms-02"
  gltf-model="#palms-asset"
  position="26.77232 -0.55116 -60.36171"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-03"
  gltf-model="#palms-asset"
  position="-3.63053 0 -40.41284"
  rotation="-0.01 197.18 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-04"
  gltf-model="#palms-asset"
  position="-8.80803 -0.55116 46.08108"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-05"
  gltf-model="#palms-asset"
  position="-9.59382 -0.55116 12.31159"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-06"
  gltf-model="#palms-asset"
  position="-20.60262 -0.55116 27.22991"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-08"
  gltf-model="#palms-asset"
  position="-7.94407 -0.55116 0.59537"
  rotation="-0.01 22.62 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-09"
  gltf-model="#palms-asset"
  position="14.60239 -0.55116 -63.53404"
  rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="palms-10-sound"
  gltf-model="#palms-asset"
  position="-6.01859 -0.55116 -16.55222"
  rotation="-0.01 30.52 0"
  scale="0.06 0.06 0.06"
></a-entity>
<a-entity
  id="small-fence-3"
  gltf-model="#small-fence-asset"
  position="-34.51109 0.749 33.53645"
  rotation=""
  scale="2 0.7 0.5"
></a-entity>
<a-entity
  id="small-fence-4"
  gltf-model="#small-fence-asset"
  position="1.10023 0.749 -12.38873"
  rotation="0 90 0"
  scale="7.5 0.7 0.5"
></a-entity>
<a-entity
  id="small-fence-5"
  gltf-model="#small-fence-asset"
  position="-10.6076 0.749 33.53645"
  rotation=""
  scale="2 0.7 0.5"
></a-entity>
<a-entity
  id="small-fence-6"
  gltf-model="#small-fence-asset"
  position="-44.5538 0.749 -55.65588"
  rotation="0 180 0"
  scale="7.5 0.700 0.5"
></a-entity>
<a-entity
  id="tunnel-1"
  gltf-model="#tunnel-asset"
  position="17.02022 0.01574 -124.83536"
  rotation="-0.01 180 0"
  scale="4 4 5"
>
</a-entity>
<a-entity
  id="building-1"
  gltf-model="#building-asset"
  position="25.455 0 5.950"
  rotation="0 -90 0"
  scale="0.020 0.020 0.020"
>
</a-entity>
<a-entity
  id="sign"
  gltf-model="#sign-asset"
  position="2.287 -0.060 38.765"
  rotation="-0.01 306.89 0"
  scale="0.2 0.2 0.2"
>
  <a-image
    id="raptor-pannel"
    src="#raptor-pannel-asset"
    scale="7.2 7.2 7.2"
    position="0.579 14.00407 -0.179"
    rotation="0 90 0"
    material=""
    geometry=""
  ></a-image>
</a-entity>
<a-image
  id="nopics"
  src="#nopics-asset"
  scale="6.7 0.54 1"
  position="1.79424 1.58106 -8.53782"
  rotation="-36.51 90 0"
  material=""
  geometry=""
></a-image>
