<!-- Plants and trees-->
<a-entity id="raptor-tropical-plant-01" gltf-model="#tropical-plant-asset" position="-19.71252 0 0.23208"
  rotation="-0.01 50 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="raptor-tropical-plant-02" gltf-model="#tropical-plant-asset" position="-19.71861 0 28.58701"
  rotation="-0.01 50 0" scale="0.05 0.05 0.05"></a-entity>
<a-entity id="raptor-tropical-plant-04" gltf-model="#tropical-plant-asset" position="-45.93994 0 40.06398"
  rotation="-0.01 50 0" scale="0.1 0.1 0.1"></a-entity>
<a-entity id="raptor-simple-plant-01" gltf-model="#simple-plant-asset" position="-7.9688 1.116 31.23763"
  rotation="-0.01 50 0" scale="1 1 1"></a-entity>
<a-entity id="raptor-simple-plant-02" gltf-model="#simple-plant-asset" position="-6.52073 0 -28.28354"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-03" gltf-model="#simple-plant-asset" position="-9.084 0 -4.845" rotation="-0.01 50 0"
  scale="7 10 7"></a-entity>
<a-entity id="raptor-simple-plant-04" gltf-model="#simple-plant-asset" position="-10.53337 0 4.8073"
  rotation="-0.01 50 0" scale="10 7 7"></a-entity>
<a-entity id="raptor-simple-plant-05" gltf-model="#simple-plant-asset" position="-10.34306 0 -24.20623"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-06" gltf-model="#simple-plant-asset" position="-3.98643 0.41768 -11.06608"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-07" gltf-model="#simple-plant-asset" position="-5.26148 -0.4458 23.31447"
  rotation="-0.01 41.6 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-08" gltf-model="#simple-plant-asset" position="-4.25175 0 -44.79547"
  rotation="-0.01 59.93 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-013" gltf-model="#simple-plant-asset" position="-8.28957 0 -39.34577"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-015" gltf-model="#simple-plant-asset" position="-4.01151 -0.00862 -23.40277"
  rotation="-0.01 33.27 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-016" gltf-model="#simple-plant-asset" position="-6.39209 0.09309 10.83206"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-17" gltf-model="#simple-plant-asset" position="-3.4965 0 -33.30549"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-18" gltf-model="#simple-plant-asset" position="-2.941 0 -49.09401"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-19" gltf-model="#simple-plant-asset" position="15.91361 0 -55.94686"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-20" gltf-model="#simple-plant-asset" position="-4.08993 0 -16.65745"
  rotation="-0.01 50 0" scale="7 7 7"></a-entity>
<a-entity id="raptor-simple-plant-21" gltf-model="#simple-plant-asset" position="-2.46418 0.87379 2.84378"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="raptor-double-rock-01" gltf-model="#double-rock-asset" position="-25.35205 0 46.18785"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="raptor-double-rock-05" gltf-model="#double-rock-asset" position="-2.70008 -1.298 -7.50981"
  rotation="0 180 -16.46" scale="3.51 4.04 7.96"></a-entity>
<a-entity id="raptor-double-rock-06" gltf-model="#double-rock-asset" position="18.97335 0 -65.30046"
  rotation="-0.01 98.61 0" scale="5 5 5"></a-entity>
<a-entity id="raptor-double-rock-08" gltf-model="#double-rock-asset" position="-2.76528 0 -37.74721"
  rotation="-0.01 69.55 0" scale="3 3 3"></a-entity>
<a-entity id="raptor-double-rock-09" gltf-model="#double-rock-asset" position="-6.09897 0 3.03764"
  rotation="-0.01 104 0" scale="5 5 5"></a-entity>
<a-entity id="raptor-double-rock-010" gltf-model="#double-rock-asset" position="-4.96871 0 -16.381"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="raptor-double-rock-11" gltf-model="#double-rock-asset" position="-0.9954 0 -54.60484"
  rotation="-0.01 52.35 0" scale="5 5 5"></a-entity>
<a-entity id="raptor-double-rock-12" gltf-model="#double-rock-asset" position="-2.67369 -0.74652 -6.2737"
  rotation="-0.01 97.63 0" scale="5 5 5"></a-entity>
<a-entity id="raptor-double-rock-13" gltf-model="#double-rock-asset" position="-16.05301 0 82.77849"
  rotation="-0.01 10 0" scale="5 8 8"></a-entity>
<a-entity id="raptor-double-rock-14" gltf-model="#double-rock-asset" position="26.93156 1.79969 47.49778"
  rotation="-0.01 69.55 0" scale="5 5 5"></a-entity>
<a-entity id="raptor-double-rock-15" gltf-model="#double-rock-asset" position="34.26657 1.73306 65.21611"
  rotation="-0.01 160 0" scale="8 8 5"></a-entity>
<a-entity id="raptor-palms-02" gltf-model="#palms-asset" position="26.77232 -0.55116 -60.36171" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="raptor-palms-03" gltf-model="#palms-asset" position="-3.63053 0 -40.41284" rotation="-0.01 197.18 0"
  scale="0.06 0.06 0.06"></a-entity>
<!-- <a-entity id="raptor-palms-04" gltf-model="#palms-asset" position="-8.80803 -0.55116 46.08108" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity> -->
<a-entity id="raptor-palms-05" gltf-model="#palms-asset" position="-9.59382 -0.55116 12.31159" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="raptor-palms-06" gltf-model="#palms-asset" position="-18.36537 -0.55116 26.93667" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="raptor-palms-08" gltf-model="#palms-asset" position="-7.94407 -0.55116 0.59537" rotation="-0.01 22.62 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="raptor-palms-09" gltf-model="#palms-asset" position="14.60239 -0.55116 -63.53404" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="raptor-palms-10-sound" gltf-model="#palms-asset" position="-6.01859 -0.55116 -16.55222"
  rotation="-0.01 90 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="raptor-small-fence-3" gltf-model="#small-fence-asset" position="-34.51109 0.749 33.53645" rotation=""
  scale="2 0.7 0.5"></a-entity>
<a-entity id="raptor-small-fence-4" gltf-model="#small-fence-asset" position="1.1 0.53407 -12.389" rotation="0 90 0"
  scale="7.5 0.7 0.5"></a-entity>
<a-entity id="raptor-small-fence-5" gltf-model="#small-fence-asset" position="-10.6076 0.749 33.53645" rotation=""
  scale="2 0.7 0.5"></a-entity>
<a-entity id="raptor-small-fence-6" gltf-model="#small-fence-asset" position="-49.65674 0.749 -55.65588"
  rotation="0 180 0" scale="7.5 0.700 0.5"></a-entity>
<a-entity id="raptor-tunnel-1" gltf-model="#tunnel-asset" position="17.02022 0.01574 -124.83536" rotation="-0.01 180 0"
  scale="4 4 5">
</a-entity>
<a-entity id="raptor-building-1" gltf-model="#building-asset" position="27.23769 3.0383 7.81865" rotation="0 -90 0"
  scale="12 12 12">
</a-entity>

<a-entity id="raptor-big-wall-1" gltf-model="#big-wall-asset" position="24.95439 -9.357 28.97397" rotation="0 0 0"
  scale="-8 8 8"></a-entity>
<a-entity id="raptor-big-wall-3" gltf-model="#big-wall-asset" position="72.65593 -9.357 -18.4573" rotation="0 0 0"
  scale="8 8 8"></a-entity>
<a-entity id="raptor-big-wall-4" gltf-model="#big-wall-asset" position="24.92726 -9.35732 -18.6352" rotation="0 90 0"
  scale="8 8 8"></a-entity>

<a-entity id="raptor-sign" gltf-model="#sign-asset" position="1.982 -0.060 38.765" rotation="-0.01 306.89 0"
  scale="0.2 0.2 0.2">
  <a-image id="raptor-raptor-pannel" src="#raptor-pannel-asset" scale="7.2 7.2 7.2" position="0.579 14.00407 -0.179"
    rotation="0 90 0" material="" geometry=""></a-image>
</a-entity>
<a-entity id="rapto-palms-01" gltf-model="#fir-tree-asset" position="29.85444 -5.3171 51.91314" rotation="-0.01 160 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="rapto-palms-02" gltf-model="#fir-tree-asset" position="59.15412 -7.58591 -43.25201"
  rotation="-0.01 22.62 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="rapto-palms-03" gltf-model="#fir-tree-asset" position="41.49008 -0.55116 -41.07976" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="rapto-palms-04" gltf-model="#fir-tree-asset" position="30.64609 -8.48066 44.40945" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="rapto-palms-05" gltf-model="#fir-tree-asset" position="25.97228 -2.2992 -25.38663" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="rapto-palms-06" gltf-model="#fir-tree-asset" position="-17.58858 -5.37458 77.76473" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="rapto-grass-1" gltf-model="#low-grass-asset" position="-7.57847 0.828 -38.36957" rotation="90 95 0"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="rapto-grass-2" gltf-model="#low-grass-asset" position="-6.23605 0.727 -8.97049" rotation="90 90 0.53"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="rapto-grass-3" gltf-model="#low-grass-asset" position="-5.86145 0.82751 17.73503" rotation="90 95 4.47"
  scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="function-car-3" gltf-model="#function-car-asset" position="-16.46208 0.07485 71.54846" rotation="0 0 0"
  scale="1.5 1.5 1.5">
</a-entity>
<a-entity id="electric-pole" gltf-model="#electric-pole-asset" position="0.96681 5.01146 38.46309" rotation="0 90 0"
  scale="5 5 5">
</a-entity>
<a-entity id="electric-booth" gltf-model="#electric-booth-asset" position="-28.69637 0.00952 64.98204" rotation="0 45 0"
  scale="-0.15 0.15 0.15">
</a-entity>
<a-entity id="raptor-lampadaire-1" gltf-model="#lampadaire-asset" position="-19.25467 2.98302 61.54821" rotation="0 0 0"
  scale="3 3 3"></a-entity>