<a-entity id="meg" sound__passing="src: #meg-passing; volume: 10; loop: false"
  sound__bite="src: #meg-bite; volume: 14; loop: false" meg-animation animation-mixer="clip: Swim_InPlace"
  gltf-model="#meg-asset" animation-mixer="clip: Idle" position="-10.932 1.6821 50" rotation="0 1 0"
  scale="0.014 0.014 0.014">
  <a-sphere id="meg-box" visible="true"
    material="alphaTest: 0; blending: normal; color: #060606; depthTest: true; depthWrite: true; fog: true; flatShading: false; metalness: 1; shader: flat"
    geometry="depth: 20; height: 20; width: 20" scale="100 100 150" position="-66.43477 213.92478 -80.03457"
    color="#000" depth="20" height="20" width="20"></a-sphere>
</a-entity>
<a-entity id="shark" animation-mixer="clip: Take 001" gltf-model="#shark-asset" animation-mixer="clip: Idle"
  position="-10.942 3.151 50" rotation="0 90 0" scale="0.14 0.14 0.14">
</a-entity>