<a-entity id="lagoon-dome" sound__hit="src: #meg-hit; volume: 20; loop: false" gltf-model="#dome-asset"
  position="-0.32643 1.78772 -0.85186" rotation="0 90 0.33" scale="0.015 0.015 0.015">
</a-entity>
<a-entity id="lagoon-cliff-1" gltf-model="#cliff-asset" position="0.09998 -1.02728 -16.57469" rotation="-0.01 -45 20"
  scale="8 8 8"></a-entity>
<a-entity id="lagoon-cliff-2" gltf-model="#cliff-asset" position="2.94488 0.8615 -12.01696" rotation="-0.01 -18.86 0"
  scale="5 5 5"></a-entity>
<a-entity id="lagoon-fishes" gltf-model="#fishes-asset" animation-mixer="clip: Take 01"
  position="-0.49746 3.01252 -11.99017" rotation="0 0 0" scale="1 1 1"></a-entity>
<a-entity id="lagoon-floor" gltf-model="#floor-asset" position="-0.37875 3.90355 -2.16064" rotation="90 0 0"
  scale="0.026 0.026 0.026"></a-entity>
<a-entity id="lagoon-station" sound__ambiant1="src: #meg-ambiant1; volume: 8; loop: false" gltf-model="#station-asset"
  position="17.7632 -2.2198 8.32168" rotation="0 67.15 0" scale="0.008 0.008 0.008"></a-entity>
<a-entity id="lagoon-pipe" gltf-model="#pipe-asset" position="15.89026 -12.15983 9.59436" rotation="0 90 0"
  scale="0.07 0.07 0.05"></a-entity>
<a-entity id="lagoon-door" gltf-model="#door-asset" position="-0.32847 1.97969 1.3816" rotation="0 0 0"
  scale="0.02 0.02 0.02"></a-entity>
<a-box id="dome-box" scale="5 5 5" position="1.82516 5.7914 -0.65418" color="#000" depth="400" height="220" width="200">
</a-box>