<a-entity id="quetza" quetza-animation gltf-model="#quetza-asset" animation-mixer="clip: Idle" position="-15 29.8 -35"
  rotation="0 90 0" scale="2.8 2.8 2.8" sound__leave="src: #quetza-leave; volume: 40; loop: false"
  sound__walking="src: #quetza-walking; volume: 28; loop: false"
  sound__roar1="src: #quetza-roar1; volume: 28; loop: false" sound__roar2="src: #quetza-roar2; volume: 30; loop: false"
  sound__ambiant1="src: #quetza-ambiant-1; volume: 28; loop: false"
  sound__ambiant2="src: #quetza-ambiant-2; volume: 28; loop: false"
  sound__passing="src: #quetza-passing; volume: 50; loop: false">
</a-entity>
<a-entity id="pteranodon" pteranodon-animation gltf-model="#pteranodon-asset" position="-33.384 24.399 1.828"
  rotation="0 90 0" scale="13 13 13" sound__passing="src: #ptero-passing; volume: 24; loop: false"></a-entity>