<a-entity id="aviary-cage" gltf-model="#cage-asset" position="7.64686 28.047 4.22561" rotation="0 90 0" scale="1 1 1">
</a-entity>
<a-entity id="aviary-wall" gltf-model="#wall-asset" position="8.87109 4.55545 5.68068" rotation="0 90 0"
  scale="0.2 0.2 0.2"></a-entity>
<a-entity id="aviary-cliff-1" gltf-model="#cliff-asset" position="32.22949 3.29471 -16.17613" rotation="0 130 -2"
  scale="0.2 0.3 0.2" sound__ambiant1="src: #ptero-ambiant-1; volume: 20; loop: false"
  sound__ambiant2="src: #ptero-ambiant-2; volume: 20; loop: false"
  sound__ambiant3="src: #ptero-ambiant-3; volume: 20; loop: false"></a-entity>
<a-entity id="aviary-cliff-2" gltf-model="#cliff-asset" position="-23.0246 -1.94862 -15.20889" rotation="0 138.15 -2"
  scale="0.3 0.3 0.3"></a-entity>
<a-entity id="aviary-cliff-3" gltf-model="#cliff-asset" position="2.87408 -10 -13.07774" rotation="-0.01 50 0"
  scale="0.1 0.2 0.1"></a-entity>
<a-entity id="aviary-scafold-1" gltf-model="#scafold-asset" position="-1.81434 28.05798 5.61114" rotation="0 0 0"
  scale="1 1.16 1"></a-entity>
<a-entity id="aviary-scafold-2" gltf-model="#scafold-asset" position="-2.26825 13.80798 5.44236" rotation="0 0 0"
  scale="1 1.16 1"></a-entity>
<a-entity id="aviary-door" gltf-model="#door-asset" position="7.6735 29.37076 5.47872" rotation="90 90 90"
  scale="0.75 1 0.76"></a-entity>
<a-entity id="aviary-floor" gltf-model="#floor-asset" position="12.884 28.05 -6.95194" rotation="0 90 0"
  scale="0.007 0.006 0.0065"></a-entity>
<a-entity id="interior-light" light="type: directional; intensity: 0.67; distance: 1; decay: 1; angle: 180; penumbra: 0"
  position="4.22538 30.09121 3.52884" visible="" rotation="0 0 0"></a-entity>