<a-entity id="visitors-house" gltf-model="#visitors-house-asset" position="0 -2.34238 0" rotation="0 90 0"
  scale="2.5 2.5 2.5">
  <a-curvedimage id="visitors-gallery-1" geometry="thetaLength: 270; height: 6.5; radius: 20; segmentsHeight: 18" position="-0.06075 3.12104 -0.13722" src="#gallery-1-asset" height="3.0" radius="5.7" theta-length="72"
    rotation="0 224.83 0" scale="0.626 0.626 0.626"></a-curvedimage>
</a-entity>

<a-entity id="visitors-terminal" gltf-model="#terminal-asset" position="-14.43761 -0.01836 -5.47607" rotation="0 -110.83 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="visitors-corridor" gltf-model="#corridor-asset" position="-72.79917 8.34358 0.75281" rotation="0 90 0"
  scale="5 5 5"></a-entity>
<a-entity id="visitors-girl-1" animation-mixer="clip: Idle 3" gltf-model="#girl-1-asset"
  position="-59.51173 0.23256 -11.50685" rotation="0 260 0" scale="1.7 1.7 1.7"></a-entity>
<a-entity id="visitors-girl-2" animation-mixer="clip: idle" gltf-model="#girl-2-asset"
  position="-14.16627 0.12602 -11.0875" rotation="0 50 0" scale="0.7 0.7 0.7"></a-entity>
<a-entity id="visitors-men-1" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.4" gltf-model="#men-1-asset"
  position="-16.33308 0.21851 7.10641" rotation="0 100 0" scale="1.45 1.45 1.45"></a-entity>
<a-entity id="visitors-men-2" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.6" gltf-model="#men-2-asset"
  position="6.94106 0.22932 -21.9194" rotation="0 160 0" scale="1.5 1.5 1.5"></a-entity>
<a-entity id="visitors-men-3" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.8" gltf-model="#men-2-asset"
  position="-58.9578 0.21434 -9.50609" rotation="0 280 0" scale="1.5 1.5 1.5"></a-entity>
<a-entity id="visitors-men-4" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.2" gltf-model="#men-3-asset"
  position="-13.7384 0.21434 -11.7427" rotation="0 50 0" scale="1.5 1.5 1.5"></a-entity>

<a-entity id="visitors-turnstiles" gltf-model="#turnstiles-asset" position="-53.55159 0.22224 2.58925" rotation="0 0 0"
  scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-turnstiles-2" gltf-model="#turnstiles-asset" position="-53.55159 0.22224 12.35651"
  rotation="0 0 0" scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-turnstiles-3" gltf-model="#turnstiles-asset" position="-53.55159 0.22224 9.1019" rotation="0 0 0"
  scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-turnstiles-4" gltf-model="#turnstiles-asset" position="-53.55159 0.22224 5.89611"
  rotation="0 0 0" scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-turnstiles" gltf-model="#turnstiles-asset" position="-53.55159 0.22224 18.57898" rotation="0 0 0"
  scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-turnstiles-5" gltf-model="#turnstiles-asset" position="-53.552 0.22224 -0.75935" rotation="0 0 0"
  scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-turnstiles-6" gltf-model="#turnstiles-asset" position="-53.552 0.22224 -4.03834" rotation="0 0 0"
  scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-turnstiles-7" gltf-model="#turnstiles-asset" position="-53.55159 0.22224 -7.49603"
  rotation="0 0 0" scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-turnstiles-8" gltf-model="#turnstiles-asset" position="-53.55159 0.22224 -10.5688"
  rotation="0 0 0" scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-turnstiles-9" gltf-model="#turnstiles-asset" position="-53.55159 0.22224 -13.99194"
  rotation="0 0 0" scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-turnstiles-10" gltf-model="#turnstiles-asset" position="-52.18065 0.22224 -18.52309"
  rotation="0 180 0" scale="0.016 0.016 0.016"></a-entity>
<a-entity id="visitors-door" gltf-model="#door-asset" position="-3.61096 0.11034 -29.84509" rotation="0 5.39 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="visitors-door-2" gltf-model="#door-asset" position="22.01535 0.11 -20.29287" rotation="0 -49.11 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="visitors-door-3" gltf-model="#door-asset" position="29.39686 0.05169 6.41229" rotation="0 -103.38 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="visitors-door-4" gltf-model="#door-asset" position="12.10096 0.11 27.54489" rotation="0 -157.86 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="visitors-door-5" gltf-model="#door-asset" position="-14.83797 0.11 26.26309" rotation="1.69 -211.28 0"
  scale="0.05 0.05 0.05"></a-entity>