<a-entity id="visitors-house" class="dispose" gltf-model="#visitors-house-asset" position="0 -2.34238 0"
  rotation="0 90 0" scale="2.5 2.5 2.5">
  <a-curvedimage id="visitors-gallery-1" geometry="thetaLength: 270; height: 6.5; radius: 20; segmentsHeight: 18"
    position="-0.06075 3.12104 -0.13722" src="#gallery-1-asset" height="3.0" radius="5.7" theta-length="72"
    rotation="0 224.83 0" scale="0.626 0.626 0.626"></a-curvedimage>
</a-entity>

<a-entity id="visitors-stego-skeleton" class="performance dispose" gltf-model="#stego-skeleton-asset"
  position="-3.60939 1.37416 2.58862" rotation="0 -40 0" scale="0.019 0.019 0.019"></a-entity>
<a-entity id="visitors-allo-skeleton" class="dispose" gltf-model="#allo-skeleton-asset"
  position="4.50586 -1.76765 -7.18963" rotation="0 0 0" scale="0.024 0.024 0.024"></a-entity>

<a-entity id="visitors-terminal" class="dispose" gltf-model="#terminal-asset" position="-14.43761 -0.01836 -5.47607"
  rotation="0 -110.83 0" scale="0.05 0.05 0.05">
  <a-image id="visitors-pres" src="#visitors-pres-asset" scale="32 16 10" position="-0.05575 46.56972 -7.50028"
    rotation="-14.21 3.15 0"></a-image>
</a-entity>
<a-entity id="visitors-main-checkpoint" class="dispose" checkpoint-animation animation-mixer="clip: Take 001"
  gltf-model="#checkpoint-asset" position="-28.13816 1.1 1.95606" rotation="0 110 0" scale="4 4 4"></a-entity>

<a-entity id="visitors-girl-2" class="performance dispose" animation-mixer="clip: idle" gltf-model="#girl-2-asset"
  position="-14.16627 0.12602 -11.0875" rotation="0 50 0" scale="0.6 0.6 0.6"></a-entity>
<a-entity id="visitors-men-3" class="performance dispose" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.8"
  gltf-model="#men-2-asset" position="-54.17653 0.21434 10.33873" rotation="0 0 0" scale="1.35 1.35 1.35"></a-entity>
<a-entity id="visitors-men-4" class="performance dispose" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.2"
  gltf-model="#men-3-asset" position="-13.7384 0.21434 -11.7427" rotation="0 50 0" scale="1.35 1.35 1.35"></a-entity>

<a-entity id="visitors-turnstiles-mesh" class="performance dispose" gltf-model="#turnstiles-asset" instanced-mesh>
</a-entity>
<a-entity id="visitors-turnstiles" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 14.49901" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-0" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 12.82348" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-1" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 -3.52536" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-2" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 -5.12405" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-3" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 -6.7091" rotation="0 -90" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-4" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 -8.30646" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-5" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 -9.94832" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-6" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 -11.58933" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-7" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 -13.2227" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-8" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 -14.86327" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-9" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.00754 1.68944 -16.47792" rotation="0 -90" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-11" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 11.15184" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-12" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 9.5322" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-13" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 7.92292" rotation="0 -90" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-14" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 6.27814" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-15" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 4.61594" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-16" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 3.00396" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-17" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 1.38682" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-18" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 -0.24575" rotation="0 -90 0" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-19" instanced-mesh-member="mesh:#visitors-turnstiles-mesh"
  position="-35.03387 1.68944 -1.88408" rotation="0 -90" scale="0.018 0.018 0.018"></a-entity>
<a-entity id="visitors-turnstiles-big-1" class="performance dispose" gltf-model="#turnstiles-big-asset"
  position="-33.83759 0.21419 -18.7271" rotation="0 180 0" scale="0.022 0.018 0.022"></a-entity>
<a-entity id="visitors-turnstiles-big-2" class="performance dispose" gltf-model="#turnstiles-big-asset"
  position="-33.83759 0.214 16.66362" rotation="0 -180 0" scale="0.022 0.018 0.022"></a-entity>
<a-entity id="visitors-door-mesh" class="dispose" class="spino-surface" gltf-model="#door-2-asset"
  instanced-mesh></a-entity>
<a-entity id="visitors-door" instanced-mesh-member="mesh:#visitors-door-mesh" position="-15.17085 -0.143 -24.73088"
  rotation="0 30.540000000000003 0" scale="0.05 0.05 0.08">
  <a-troika-text id="visitors-door-text" troika-text="color: #d6d6d6" scale="12 12 12" position="0.156 139.787 18.107"
    rotation="9.0000 0" value="COLD MOUNTAIN" font="/assets/font/Exo-Regular.ttf">
  </a-troika-text>
  <a-entity id="visitors-door-checkpoint-cm" class="dispose" checkpoint-animation animation-mixer="clip: Take 001"
    gltf-model="#checkpoint-asset" position="-2.81157 22.701 30.57404" rotation="0 110 0" scale="70 90 70"></a-entity>
</a-entity>
<a-entity id="visitors-door-2" instanced-mesh-member="mesh:#visitors-door-mesh" position="11.64471 -0.143 -26.44088"
  rotation="0 -21.82 0" scale="0.05 0.05 0.08">
  <a-troika-text id="visitors-door-2-text" troika-text="color: #d6d6d6" scale="12 12 12" position="0.156 139.787 18.107"
    rotation="9.0000 0" value="ANCIENT SANDS" font="/assets/font/Exo-Regular.ttf">
  </a-troika-text>
  <a-entity id="visitors-door-checkpoint-as" class="dispose" checkpoint-animation animation-mixer="clip: Take 001"
    gltf-model="#checkpoint-asset" position="-2.81157 22.701 30.57404" rotation="0 110 0" scale="70 90 70"></a-entity>
</a-entity>
<a-entity id="visitors-door-3" instanced-mesh-member="mesh:#visitors-door-mesh" position="28.29273 -0.143 -5.16934"
  rotation="0 -80.36 0" scale="0.05 0.05 0.08">
  <a-troika-text id="visitors-door-3-text" troika-text="color: #d6d6d6" scale="12 12 12" position="0.156 139.787 18.107"
    rotation="9.0000 0" value="GIANT COASTS" font="/assets/font/Exo-Regular.ttf">
  </a-troika-text>
  <a-entity id="visitors-door-checkpoint-gc" class="dispose" class="dispose" checkpoint-animation
    animation-mixer="clip: Take 001" gltf-model="#checkpoint-asset" position="-2.81157 22.701 30.57404"
    rotation="0 110 0" scale="70 90 70"></a-entity>
</a-entity>
<a-entity id="visitors-door-4" instanced-mesh-member="mesh:#visitors-door-mesh" position="21.27688 -0.143 19.16588"
  rotation="0 -130.75 0" scale="0.05 0.05 0.08">
  <a-troika-text id="visitors-door-4-text" troika-text="color: #d6d6d6" scale="12 12 12" position="0.156 139.787 18.107"
    rotation="9.0000 0" value="SWAMP THINGS" font="/assets/font/Exo-Regular.ttf">
  </a-troika-text>
  <a-entity id="visitors-door-checkpoint-st" class="dispose" checkpoint-animation animation-mixer="clip: Take 001"
    gltf-model="#checkpoint-asset" position="-2.81157 22.701 30.57404" rotation="0 110 0" scale="70 90 70"></a-entity>
</a-entity>
<a-entity id="visitors-door-5" instanced-mesh-member="mesh:#visitors-door-mesh" position="-2.52079 -0.14344 28.84695"
  rotation="1.69 177.31 0" scale="0.05 0.05 0.08">
  <a-troika-text id="visitors-door-5-text" troika-text="color: #d6d6d6" scale="12 12 12" position="0.156 139.787 18.107"
    rotation="9.0000 0" value="VALLEY OF WONDERS" font="/assets/font/Exo-Regular.ttf">
  </a-troika-text>
  <a-entity id="visitors-door-checkpoint-vw" class="dispose" checkpoint-animation animation-mixer="clip: Take 001"
    gltf-model="#checkpoint-asset" position="-2.81157 22.701 30.57404" rotation="0 110 0" scale="70 90 70"></a-entity>
</a-entity>

<a-entity id="visitors-door-main" class="dispose" gltf-model="#door-asset" position="-63.26823 -0.143 -0.14394"
  rotation="0 90 0" scale="0.07 0.07 0.08">
</a-entity>
<a-box id="visitors-door-box-main" class="dispose" geometry="depth: 10; height: 10; width: 10" scale="0.1 2.17 6.93"
  position="-87.76264 3.87567 0.11295" color="#000" depth="20" height="20" width="20"></a-box>

<a-entity id="visitors-wait-fence-long-1" gltf-model="#wait-fence-long-asset" position="-39.31087 0.11 17.27887"
  rotation="1.69 90 0" scale="0.015 0.015 0.015"></a-entity>
<a-entity id="visitors-wait-fence-long-2" gltf-model="#wait-fence-long-asset" position="-42.57891 0.11 7.11714"
  rotation="1.69 90 0" scale="0.015 0.015 0.015"></a-entity>
<a-entity id="visitors-wait-fence-long-3" gltf-model="#wait-fence-long-asset" position="-45.85204 0.11 17.51413"
  rotation="1.69 90 0" scale="0.015 0.015 0.015"></a-entity>
<a-entity id="visitors-wait-fence-long-4" gltf-model="#wait-fence-long-asset" position="-48.9958 0.11 6.91725"
  rotation="1.69 90 0" scale="0.015 0.015 0.015"></a-entity>
<a-entity id="visitors-wait-fence-long-5" gltf-model="#wait-fence-long-asset" position="-53.11368 0.11 17.63848"
  rotation="1.69 90 0" scale="0.015 0.015 0.015"></a-entity>

<a-entity id="visitors-fern-1" class="performance dispose" gltf-model="#forest-fern-1-asset"
  position="-5.22447 1.42972 -6.47894" rotation="1.69 90 0" scale="2 2 2"></a-entity>
<a-entity id="visitors-fern-2" class="performance dispose" gltf-model="#forest-fern-1-asset"
  position="5.47919 1.42972 3.31831" rotation="1.69 90 0" scale="2 2 2"></a-entity>
<a-entity id="visitors-fern-3" class="performance dispose" gltf-model="#forest-fern-1-asset"
  position="1.98383 1.42972 -7.7993" rotation="1.69 90 0" scale="2 2 2"></a-entity>
<a-entity id="visitors-low-grass-mesh" class="performance dispose" class="spino-surface" gltf-model="#low-grass-asset"
  instanced-mesh></a-entity>
<a-entity id="visitors-low-grass-1" instanced-mesh-member="mesh:#visitors-low-grass-mesh"
  position="-3.52007 1.50136 -9.29724" rotation="0 -90 0" scale="1 1 1"></a-entity>
<a-entity id="visitors-low-grass-2" instanced-mesh-member="mesh:#visitors-low-grass-mesh"
  position="1.75251 1.50136 7.09173" rotation="0 90 0" scale="1 1 1"></a-entity>
<a-entity id="visitors-low-grass-3" instanced-mesh-member="mesh:#visitors-low-grass-mesh"
  position="6.47033 1.50136 -6.1666" rotation="0 -90 0" scale="1 1 1"></a-entity>
<a-entity id="visitors-low-grass-4" instanced-mesh-member="mesh:#visitors-low-grass-mesh"
  position="9.45465 1.50136 1.18897" rotation="0 180 0" scale="1 1 1"></a-entity>
<a-entity id="visitors-low-grass-5" instanced-mesh-member="mesh:#visitors-low-grass-mesh"
  position="-8.08038 1.50136 2.49563" rotation="0 90 0" scale="1 1 1"></a-entity>
<a-entity id="visitors-forest-rock-1" class="performance dispose" gltf-model="#forest-rock-1-asset"
  position="-5.52452 1.43035 6.66685" rotation="1.69 90 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="visitors-pine-large-1" class="performance dispose" gltf-model="#forest-pine-large-asset"
  position="-1.69685 3.89915 -7.37634" rotation="1.69 90 0" scale="0.03 0.03 0.03"></a-entity>