<a-light id="visitors-ambiant-light" visible="true" type="ambient" light="intensity: 1.3;color: #d9d9d9"></a-light>
<!-- <a-light id="edmon-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#edmon-directionaltarget">
  <a-entity id="edmon-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="visitors-light-2" light="distance: 200; decay: 200; intensity: 0.8; penumbra: 0; angle: 0; color: #ffffff"
  type="directional" position="-21.32229 51.3081 -35.80161" rotation="-90 0 0" target="#visitors-directionaltarget-2">
  <a-entity id="visitors-directionaltarget-2" position="69.9143 -36.22811 -64.08131"></a-entity>
</a-light>