<a-light id="visitors-ambiant-light" visible="true" type="ambient" light="intensity: 1;color:#c2d9ff"></a-light>
<!-- <a-light id="edmon-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#edmon-directionaltarget">
  <a-entity id="edmon-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="visitors-light-2" light="distance: 200; decay: 200; intensity: 0.8; penumbra: 0; angle: 0"
  type="directional" position="-4.70184 16.63448 -25.10744" rotation="-90 0 0" target="#visitors-directionaltarget-2">
  <a-entity id="visitors-directionaltarget-2" position="-63.82632 -89.12645 -20.0799"></a-entity>
</a-light>