<a-light id="sarco-ambiant-light" visible="true" type="ambient" light="intensity: 1.570;color:#c2d9ff"></a-light>
<!-- <a-light id="sarco-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#sarco-directionaltarget">
  <a-entity id="sarco-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="sarco-light-2" light="distance: 200; decay: 200; intensity: 1.570; penumbra: 0; angle: 0"
  type="directional" position="5.77452 40 -26.99516" rotation="-90 0 0" target="#sarco-directionaltarget-2">
  <a-entity id="sarco-directionaltarget-2" position="-91.28233 -86.55498 -36.54726"></a-entity>
</a-light>