<a-entity id="sarco-female" class="sarco-surface" gltf-model="#sarco-asset"
  animation-mixer="clip: Sarcosuchus_Sneak_Idle; timeScale: 0.5" position="-28.74663 -0.20167 14.3827"
  rotation="0 160 0" scale="0.018 0.018 0.018">
</a-entity>
<a-entity id="sarco-male" sarco-animation gltf-model="#sarco-asset" animation-mixer="clip: Sarcosuchus_Sneak_Idle"
  position="-18.969 -0.23326 0.161" rotation="0 0 0" scale="0.018 0.018 0.018">
</a-entity>
<a-entity id="sarco-bird" class="sarco-surface" gltf-model="#bird-asset"
  animation-mixer="clip: Take 001;startFrame: 10500" position="-18.96 0.307 14.287" rotation="0 180 0"
  scale="2.5 2.5 2.5">
</a-entity>