<a-entity id="sarco-female" class="sarco-surface" gltf-model="#sarco-asset"
  animation-mixer="clip: Sarcosuchus_Sneak_Idle; timeScale: 0.5" position="-28.74663 -0.20167 14.3827"
  rotation="0 160 0" scale="0.020 0.020 0.020">
</a-entity>
<a-entity id="sarco-male" sarco-animation gltf-model="#sarco-asset" animation-mixer="clip: Sarcosuchus_Sneak_Idle"
  position="-18.969 -0.23326 0.161" rotation="0 0 0" scale="0.019 0.019 0.019"
  sound__dive="src: #sarco-dive; volume: 20" sound__openmouse="src: #sarco-open-mouse; volume: 20"
  sound__roar="src: #sarco-roar; volume: 20" sound__swimrestart="src: #sarco-swim-restart; volume: 15"
  sound__swimstop="src: #sarco-swim-stop; volume: 12" sound__walk="src: #sarco-walk; volume: 20; loop: true">
</a-entity>
<a-entity id="sarco-bird" class="sarco-surface" gltf-model="#bird-asset"
  animation-mixer="clip: Take 001;startFrame: 10500" position="-18.96 0.307 14.287" rotation="0 180 0"
  scale="2.5 2.5 2.5" sound__birdend="src: #sarco-bird-end; volume: 12"
  sound__birdstart="src: #sarco-bird-start; volume: 12">
</a-entity>