<a-plane id="sarco-water" class="sarco-surface" position="-112.03784 0 6.56656" rotation="-90 0 0" width="200"
  height="200" color="#7BC8A4" water material="color: white; transparent: true; opacity: 0.0"></a-plane>


<a-entity id="sarco-palm-tree-long" class="sarco-surface" gltf-model="#palm-tree-long-asset"
  position="-16.10572 -1.17123 -21.87558" rotation="0 90 0" scale="4 4 4"></a-entity>
<a-entity id="sarco-tall-bush-8" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-44.94531 -2.23515 8.95014" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="sarco-tall-bush-5" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-39.58786 -0.56368 -6.13888" rotation="0 180 0" scale="1 1 1"></a-entity>
<a-entity id="sarco-tall-bush-11" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-37.21088 -2.23515 13.38879" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="sarco-tall-bush-12" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-35.23324 -2.23515 -16.96882" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="sarco-tall-bush-7" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-31.99443 -0.56368 -7.08557" rotation="0 50 0" scale="1 1 1"></a-entity>
<a-entity id="sarco-tall-bush-13" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-24.86879 -0.78315 -18.90164" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="sarco-tall-bush-2" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-27.38998 -0.56368 -13.96785" rotation="0 180 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="sarco-tall-bush" class="sarco-surface" gltf-model="#tall-bush-asset" position="-30.32814 -2.80979 19.7156"
  rotation="0 50 0" scale="1 1 1"></a-entity>
<a-entity id="sarco-tall-bush-10" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-20.57988 -2.23515 22.30424" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="sarco-tall-bush-9" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-24.3628 -2.23515 17.91973" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="sarco-tall-bush-4" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-16.01723 -0.53477 -8.45589" rotation="0 180 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="sarco-tall-bush-3" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-14.37486 -0.53477 -6.62473" rotation="0 180 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="sarco-tall-bush-6" class="sarco-surface" gltf-model="#tall-bush-asset"
  position="-15.15457 -0.56368 11.8501" rotation="0 0 0" scale="0.5 0.5 0.5"></a-entity>

<a-entity id="sarco-swamp-rock" class="sarco-surface" gltf-model="#swamp-rock-asset"
  position="-32.31018 -0.3816 11.7756" rotation="0 20 0" scale="1.1 1.1 1.1"
  sound__deepdive="src: #sarco-deep-dive; volume: 20"></a-entity>
<a-entity id="sarco-swamp-rock-2" class="sarco-surface" gltf-model="#swamp-rock-asset"
  position="-33.02383 0.86462 0.47876" rotation="0 180 0" scale="0.5 1 1"></a-entity>
<a-entity id="sarco-swamp-rock-4" class="sarco-surface" gltf-model="#swamp-rock-asset"
  position="-23.97453 -0.47081 11.99573" rotation="0 119.99999999999999 0" scale="1 1 1"></a-entity>
<a-entity id="sarco-swamp-dead-tree" class="sarco-surface dead-tree" gltf-model="#swamp-dead-tree-asset"
  position="-24.54761 0.04744 14.93321" rotation="0 -662.24 0" scale="2 2 -2"></a-entity>
<a-entity id="sarco-swamp-dead-tree-2" class="sarco-surface dead-tree" gltf-model="#swamp-dead-tree-asset"
  position="-27.13386 0.07785 8.04164" rotation="0 90 0" scale="-1 1 -1"></a-entity>
<a-entity id="sarco-swamp-dead-tree-3" class="sarco-surface dead-tree" gltf-model="#swamp-dead-tree-asset"
  position="-3.61043 0.02918 -2.86703" rotation="0.83 80.5 6.69" scale="1.5 1.5 -1.5"></a-entity>
<a-entity id="sarco-swamp-grass-14" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-24.70209 -0.08444 3.16733" rotation="0 90 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="sarco-swamp-grass" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-26.53887 -0.263 1.07055" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-2" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-25.85294 -0.263 -2.52977" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-3" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-25.3944 -0.263 11.53847" rotation="0 -50 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-4" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-23.88321 -0.263 10.35338" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-5" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-25.44409 -0.263 -6.5999" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-6" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-27.50006 -0.263 8.53288" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-7" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-13.03067 -0.263 -4.05397" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-8" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-17.80982 -0.263 7.94355" rotation="0 0 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-9" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-15.87825 -0.263 7.93738" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-10" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-17.22756 -0.263 0.39082" rotation="0 180 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-11" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-20.76134 -0.263 0.76244" rotation="0 0 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-12" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-13.72178 -0.08444 4.33333" rotation="0 120 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="sarco-swamp-grass-13" class="sarco-surface performance" gltf-model="#swamp-grass-asset"
  position="-16.09471 -0.08444 3.72721" rotation="0 -59.99999999999999 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="sarco-palm-tree-long-2" class="sarco-surface" gltf-model="#palm-tree-long-asset"
  position="-34.18768 -1.17123 -9.81038" rotation="0 140 0" scale="4 4 4"></a-entity>
<a-entity id="sarco-window-support-3" gltf-model="#window-support-asset" position="-12.15027 0.06225 5.26177"
  rotation="0 -90 0" scale="2.66 -2.56 0.8"></a-entity>
<a-entity id="sarco-under-wall" gltf-model="#under-wall-asset" position="-12.07627 0.06535 4.78764" rotation="0 0 0"
  scale="0.02 -0.02 0.025"></a-entity>

<a-entity id="sarco-long-sea-plant-1" animation-mixer="clip:  Take 001; startFrame: 400; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-25.12267 -13.38898 11.93173"
  rotation="0 140 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="sarco-long-sea-plant-2" animation-mixer="clip:  Take 001; startFrame: 800; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-20.72134 -13.38898 3.88209"
  rotation="0 0 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="sarco-long-sea-plant-3" animation-mixer="clip:  Take 001; startFrame: 1200; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-29.1436 -13.38898 5.89965"
  rotation="0 20 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="sarco-long-sea-plant-4" animation-mixer="clip:  Take 001; startFrame: 1600; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-26.96873 -13.38898 1.73105"
  rotation="0 140 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="sarco-long-sea-plant-5" animation-mixer="clip:  Take 001; startFrame: 2000; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-22.96965 -13.38898 -1.18299"
  rotation="0 150 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="sarco-long-sea-plant-6" animation-mixer="clip:  Take 001; startFrame: 2400; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-20.00437 -13.38898 -5.19825"
  rotation="0 0 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="sarco-small-sea-plant-1" animation-mixer="clip: Sway; startFrame: 400; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#small-sea-plant-asset" position="-28.48134 -13.3152 11.47225"
  rotation="0 0 0" scale="1 1 1">
</a-entity>
<a-entity id="sarco-small-sea-plant-2" animation-mixer="clip: Sway; startFrame: 800; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#small-sea-plant-asset" position="-25.36009 -13.3152 -2.43194"
  rotation="0 50 0" scale="1 1 1">
</a-entity>
<a-entity id="sarco-small-sea-plant-3" animation-mixer="clip: Sway; startFrame: 1200; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#small-sea-plant-asset" position="-22.66031 -13.3152 14.27679"
  rotation="0 90 0" scale="1 1 1">
</a-entity>
<a-entity id="sarco-small-sea-plant-4" animation-mixer="clip: Sway; startFrame: 1600; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#small-sea-plant-asset" position="-26.51674 -13.3152 -7.21071"
  rotation="0 80 0" scale="1 1 1">
</a-entity>
<a-entity id="sarco-small-sea-plant-5" animation-mixer="clip:Sway; startFrame: 2000; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#small-sea-plant-asset" position="-31.17327 -13.3152 3.56977"
  rotation="0 140 0" scale="1 1 1">
</a-entity>
<a-entity id="sarco-small-sea-plant-6" animation-mixer="clip: Sway; startFrame: 2400; timeScale: 0.5"
  class="sarco-underwater" visible="false" gltf-model="#small-sea-plant-asset" position="-29.38344 -13.3152 16.69337"
  rotation="0 0 0" scale="1 1 1">
</a-entity>
<a-entity id="sarco-swamp-grass-101" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-23.69649 -13.27 2.07659" visible="false" rotation="0 90 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-102" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-21.49778 -13.27 -2.98147" visible="false" rotation="0 90 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-103" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-25.14409 -13.27 12.08972" visible="false" rotation="0 -50 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-104" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-23.91257 -13.27 10.34187" rotation="0 90 0" scale="0.013 0.013 0.013">
</a-entity>
<a-entity id="sarco-swamp-grass-105" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-17.65415 -13.27 -5.49608" visible="false" rotation="0 90 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-106" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-21.49981 -13.27 3.02415" visible="false" rotation="0 90 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-107" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-20.72714 -13.27 11.65138" visible="false" rotation="0 90 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-108" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-12.89409 -13.27 13.01801" visible="false" rotation="0 0 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-109" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-15.27293 -13.27 5.3579" visible="false" rotation="0 90 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-1010" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-15.64495 -13.27 2.65833" visible="false" rotation="0 20 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-1011" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-15.67657 -13.27 17.36325" visible="false" rotation="0 20 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-1012" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-15.00317 -13.27 -8.15576" visible="false" rotation="0 110 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="sarco-swamp-grass-1013" visible="false" class="sarco-underwater performance"
  gltf-model="#swamp-grass-asset" position="-18.44312 -13.27 -9.71585" visible="false" rotation="0 40 0"
  scale="0.013 0.013 0.013"></a-entity>