<a-light id="deinocheirus-ambiant-light" visible="true" type="ambient"
  light="intensity: 5;color: #303030; decay: 1"></a-light>
<!-- <a-light id="dimetrodon-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#dimetrodon-directionaltarget">
  <a-entity id="dimetrodon-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="deinocheirus-light-2"
  light="distance: 200; decay: 200; intensity: 0.76; penumbra: 0; angle: 0; groundColor: #e4863a; color: #a1a1a1"
  type="directional" position="-40.64427 20.898 10.40115" rotation="-90 0 0" target="#deinocheirus-directionaltarget-2">
  <a-entity id="deinocheirus-directionaltarget-2" position="31.68742 5.72093 -33.994"></a-entity>
</a-light>

<a-light id="deinocheirus-light-3"
  light="distance: 200; decay: 200; intensity: 1.25; penumbra: 0; angle: 0; groundColor: #e4863a; color: #a1a1a1"
  type="directional" position="-28.48444 20.898 22.93605" rotation="-90 0 0" target="#deinocheirus-directionaltarget-2">
  <a-entity id="deinocheirus-directionaltarget-3" position="28.13913 15.53095 -33.994"></a-entity>
</a-light>

<a-light id="deinocheirus-light-4"
  light="distance: 200; decay: 200.01; intensity: 1.54; penumbra: 0; angle: 0; groundColor: #e4863a; color: #a1a1a1"
  type="directional" position="-33.97913 28.24754 -23.54072" rotation="-90 0 0"
  target="#deinocheirus-directionaltarget-3">
  <a-entity id="deinocheirus-directionaltarget-4" position="31.53674 -75.62094 -44.528"></a-entity>
</a-light>