<a-entity id="deinocheirus" visible="true" deinocheirus-animation animation-mixer="clip: Eat; timeScale: 0.4"
  gltf-model="#deinocheirus-asset" sound__eat="src: #deinocheirus-eat; volume: 20"
  sound__check="src: #deinocheirus-check; volume: 20" sound__leavefar="src: #deinocheirus-leave-far; volume: 20"
  sound__walk="src: #deinocheirus-walk; volume: 20; loop: true" position="-68.111 -5 0.817" rotation="0 0 0"
  scale="1.8 1.8 1.8" material="light: false">
</a-entity>
<a-entity id="deinocheirus-snake" deinocheirus-snake-animation visible="true"
  animation-mixer="clip: Snake Armature|Walk" gltf-model="#snake-asset"
  sound__enter="src: #deinocheirus-snake-enter; volume: 20" position="-18.096 -0.139 -2.647" rotation="0 -190 0"
  scale="0.8 0.8 0.8">
</a-entity>