body {
  font-family: 'Tribeca', Verdana, Tahoma;
  margin: 0;
}

.scene-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 1200px);
  height: 50%;
  overflow: hidden;
}

html.a-fullscreen .a-canvas {
  position: absolute !important;
}

@media screen and (max-width: 1670px) {
  .scene-wrapper {
    width: calc(100% - 1000px);
  }
}

@media screen and (max-width: 1390px) {
  .scene-wrapper {
    width: calc(100% - 800px);
  }
}

.scene-wrapper .scene-border-inner {
  border: 2px solid #54545a;
  box-shadow: 2px 2px 6px #ddd inset;
  border-radius: 6px;
  background-color: #54545a;
  height: calc(100% - 5px);
}

.scene-wrapper .scene-content {
  background-color: black;
  padding: 5px;
  margin: 8px;
  width: calc(100% - 26px);
  height: calc(100% - 26px);
  border-radius: 6px;
}

.scene-wrapper a-scene {
  padding: 5px;
  width: 100%;
  height: 100%;
}

#console {
  font-family: Arial, Helvetica, sans-serif;
}

.console-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.apple-icon {
  position: absolute;
  top: 20;
  left: 20;
  width: 80px;
  height: 60px;
}

.jp-icon {
  position: absolute;
  top: 100;
  left: 20;
  width: 80px;
  height: 60px;
}

/* ----- Right Part ----- */

.buffer {
  position: absolute;
  left: -10000px;
  top: -10000px;
}

.command-history,
.command-input,
.entered-command {
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
}

.main-terminal {
  padding: 5px;
  margin: 8px;
  background-color: #203085;
  width: 100%;
  height: calc(100% - 26px);
}

.main-terminal .inner-wrap {
  height: 100%;
  width: 450px;
  overflow: hidden;
}

.main-terminal #system-output {
  color: #ccc;
}

.system-output td {
  width: 185px;
}

@media screen and (max-width: 1670px) {
  .main-terminal .inner-wrap {
    width: 360px;
  }
}

#cmd-border-inner {
  background-color: #54545a;
  word-wrap: break-word;
}

.cmd-view {
  font-family: 'Courier';
  font-weight: 700;
  font-size: 15px;
  color: #cccccc;
  word-wrap: break-word;
}

.cursor {
  font-size: 15px;
  border: solid 1px #5fde5f;
}

.active-cursor {
  background: #5fde5f;
}

/* Left wrapper */
.left-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  background-color: black;
}

/* ----- Left Part ----- */

#console h2 {
  font-size: 100%;
  margin: 0;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* right wrapper */
.right-wrapper {
  z-index: 10;
  flex: 1;
  height: 50%;
  background-color: black;
}

#tour-initiated {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

#tour-initiated .big-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  color: white;
  transform: scale(-1);
  writing-mode: vertical-rl;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: #1a4d39;
}
#tour-initiated .big-right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  color: white;
  writing-mode: vertical-rl;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background-color: #1a4d39;
}
#tour-initiated .border-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #1a4d39;
}
#tour-initiated .border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #1a4d39;
}
#tour-initiated .small-top {
  font-size: 18px;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
}
#tour-initiated .small-bottom {
  font-size: 18px;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}
#tour-initiated .small-top div,
#tour-initiated .small-bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100%;
  background-color: #1a4d39;
}

@media screen and (max-width: 1670px) {
  #window {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .left-wrapper {
    width: 1000px;
  }
}

@media screen and (max-width: 1390px) {
  #window {
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .left-wrapper {
    width: 800px;
  }
}

#window {
  z-index: 9999;
  width: 1080px;
  height: 797px;
  background: #7b7a7b;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
.border-inner {
  border: 2px solid #54545a;
  box-shadow: 2px 2px 6px #ddd inset;
  border-radius: 6px;
  overflow: hidden;
}
.main-border-inner {
  display: flex;
  justify-content: space-between;
  border: 2px solid #54545a;
  box-shadow: 2px 2px 6px #ddd inset;
  border-radius: 6px;
  height: 99.5%;
  overflow: hidden;
}

.bordered {
  box-shadow: 2px 3px 5px #ddd;
  border-radius: 6px;
}
#inner-window {
  margin: 12px 8px 0px 8px;
  height: 770px;
}

#col-left {
  float: left;
  width: 574px;
  margin: 12px 0 0 12px;
}
#col-right {
  float: right;
  margin: 12px 12px 0 0;
  width: 454px;
}
#wrap-map {
  position: relative;
}
#wrap-paddock-screen {
  width: 100%;
}
#vehicleScreen,
#glitches-screen {
  padding: 12px 16px 10px 16px;
}
#sys-icons-inner {
  height: 15px;
  background: url(sprite.png) 0 -69px no-repeat transparent;
  width: 410px;
  border: 2px solid #555;
  border-radius: 4px;
  padding: 46px 15px 0px 0;
}
#vehicle-schema-inner {
  height: 319px;
  background: url(sprite.png) 0 -197px no-repeat #515151;
  width: 392px;
  margin: 10px 10px 0;
  border-right: 3px solid #000;
  position: relative;
}
#vehicle-schema-inner > em {
  color: #fff;
  display: inline-block;
  padding: 4px 21px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
}
#vehicle-schema-inner > em:nth-child(2) {
  color: #949494;
}
#vehicle-schema-inner > span {
  color: #cecbcb;
  position: absolute;
  top: 232px;
  font-size: 10px;
  left: 198px;
}
#vehicle-schema-inner > strong {
  color: #fff;
  position: absolute;
  top: 193px;
  left: 104px;
  font-size: 22px;
}
#car-speed {
  width: 30px;
  text-align: center;
}
#vehicle-schema-inner > strong#not-responding {
  top: 190px;
  left: 200px;
  font-size: 20px;
  background: #fd4330;
  padding: 3px 10px;
  display: none;
  font-style: italic;
}

#vehicle-schema-inner > div {
  color: #fff;
  position: absolute;
  top: 226px;
  left: 42px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 23px;
}
#vehicle-schema-inner > div:hover {
  color: #ddd;
  cursor: pointer;
}
#sys-icons-inner span {
  display: inline-block;
  margin: 0px 8px 0px 4px;
  font-size: 11px;
  float: right;
}
#sys-icons {
  padding: 2px 10px 5px;
}
.tabs-header {
  padding: 0 2px;
  border: 2px solid #54545a;
  background-color: #777777;
  display: inline-block;
  border-bottom: none;
  border-radius: 4px 4px 0 0px;
  margin-left: 6px;
  cursor: pointer;
}
.tabs-header span {
  display: inline-block;
  color: #c7c7c7;
  font-size: 13px;
  text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px,
    rgba(0, 0, 0, 0.5) 1px 1px 1px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 2px 5px;
  border: 2px solid #555;
  box-shadow: 1px 1px 3px #fff inset;
  border-radius: 2px;
}
.tabs-header span:hover {
  color: #fff;
}
.tabs-header span.active {
  border: none;
  color: #a7a7a7;
  font-size: 16px;
  box-shadow: none;
  text-shadow: #e0e0e0 1px 1px 0;
  font-weight: nor;
}
#vehicle-schema {
  background: #5c6571;
}
#glitches-list ul {
  margin: 6px;
  padding: 3px 5px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 5px #555 inset;
  border: 2px solid #555;
  height: 174px;
}
#glitches-list ul li {
  display: block;
  height: 28px;
  line-height: 28px;
  font-weight: bold;
  font-style: italic;
  font-size: 13px;
  background: url(sprite.png) 0 -156px no-repeat transparent;
  padding: 0 0 0 83px;
}
#glitches-list ul li.failed {
  background-position: 0 -131px;
}
#buttons {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 413px;
}
#buttons span {
  background: #a1a699;
  border: 1px solid #555;
  display: block;
  float: left;
  width: 134px;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  text-shadow: -1px -1px 2px #000, 1px 1px 3px #fff;
  color: #a1a699;
  cursor: default;
}
#buttons #start-tour {
  cursor: pointer;
}
#buttons span.active {
  cursor: pointer;
  background: #818679;
  text-shadow: none;
  color: #000;
}
#buttons span.half {
  width: 66px;
}
#buttons #start-tour:hover {
  background: #919689;
  text-shadow: none;
  color: #ccc;
}

#wrap-paddock-screenSecond {
  margin: 12px;
}
#paddock-screen {
  background: url(sprite.png) 0 0 no-repeat transparent;
  height: 30px;
  padding: 10px 15px 10px 175px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  font-style: italic;
  margin: 6px 8px 4px 20px;
}
.sidebar {
  width: 50px;
  display: inline-block;
  color: #fff;
  vertical-align: top;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}
.sidebar span {
  font-size: 14px;
  line-height: 18px;
}
.sidebar > div {
  background-color: #000;
  padding: 1px;
  margin-bottom: 15px;
}
.sidebar > div > h2 {
  display: block;
  background: #fff;
  color: #000;
  text-transform: lowercase;
  padding: 2px;
}
#fence-map {
  width: 465px;
  height: 573px;
  display: inline-block;
  background: url(map.jpg) 0 0 no-repeat transparent;
  box-shadow: 0px 0px 2px 2px #000 inset;
  border-radius: 4px;
}
#fence-map > div {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#marker {
  background: url(sprite.png) -425px -140px no-repeat transparent;
  width: 103px;
  height: 57px;
  position: absolute;
  left: -81px;
  top: 174px;
}
#yellow-table {
  background: #e2e206;
  padding: 10px 12px;
  margin: 7px 0 4px;
  color: #fff;
}
#yellow-table > div {
  display: inline-block;
  vertical-align: top;
}
#yellow-table > div div {
  background: #000;
  font-size: 11px;
  padding: 5px;
  width: 50px;
  text-align: center;
  line-height: 11px;
}
div#yellow-table-middle {
  margin: 0 5px;
}
#yellow-table > div#yellow-table-middle div {
  width: 401px;
}
#yellow-table > div span {
  font-size: 35px;
  background: #000;
  display: block;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  line-height: 45px;
}
#yellow-table-middle div:nth-child(1) {
  font-size: 25px;
  background: #000;
  margin-bottom: 7px;
  font-weight: bold;
  line-height: 30px;
  font-style: italic;
}
#yellow-table-middle div:nth-child(2) {
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
  background: #000;
}

.vehicle-track {
  width: 96px;
  overflow: hidden;
  height: 20px;
  top: 120px !important;
  left: 0px !important;
}
.vehicle-track > div {
  width: 1000px;
  position: relative;
  left: -216px;
}
.vehicle-track > div > span {
  display: inline-block;
  margin: 2px 9px;
  border-radius: 30px;
  background: #fff;
  height: 14px;
  width: 14px;
}
.vehicle-track#track2 {
  width: 51px;
  left: auto !important;
  right: 0;
}

#tour-running {
  width: 240px;
  height: 65px;
  position: absolute;
  bottom: 6px;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  line-height: 33px;
  font-size: 22px;
  text-align: center;
  left: 165px;
  padding: 3px;
}
#tour-running > div {
  background: url(sprite.png) -300px -531px no-repeat #002d07;
  height: 32px;
}

#fences {
  position: absolute;
  width: 574px;
  height: 573px;
  overflow: hidden;
}
#fences > div {
  width: 574px;
  height: 573px;
  position: absolute;
  background-repeat: no-repeat;
  top: 0px;
  left: 53px;
}
#fences > div.hidden {
  background: none !important;
}
#fence0 {
  background-image: url(fence/p0.png);
}
#fence1 {
  background: url(fence/p1.png) 80px 276px no-repeat transparent;
}
#fence2 {
  background: url(fence/p2.png) 288px 224px no-repeat transparent;
}
#fence3 {
  background: url(fence/p3.png) 142px 166px no-repeat transparent;
}
#fence4 {
  background: url(fence/p4.png) 12px 151px no-repeat transparent;
}
#fence5 {
  background: url(fence/p5.png) 49px 68px no-repeat transparent;
}
#fence6 {
  background: url(fence/p6.png) 191px 7px no-repeat transparent;
}
#fence7 {
  background: url(fence/p7.png) 166px 99px no-repeat transparent;
}

.gif#fence0 {
  background-image: url(fence/p0.gif);
}
.gif#fence1 {
  background: url(fence/p1.gif) 80px 276px no-repeat transparent;
}
.gif#fence2 {
  background: url(fence/p2.gif) 288px 224px no-repeat transparent;
}
.gif#fence3 {
  background: url(fence/p3.gif) 142px 166px no-repeat transparent;
}
.gif#fence4 {
  background: url(fence/p4.gif) 12px 151px no-repeat transparent;
}
.gif#fence5 {
  background: url(fence/p5.gif) 49px 68px no-repeat transparent;
}
.gif#fence6 {
  background: url(fence/p6.gif) 191px 7px no-repeat transparent;
}
.gif#fence7 {
  background: url(fence/p7.gif) 166px 99px no-repeat transparent;
}

#unarmed {
  background: #c60000;
  position: absolute;
  left: 257px;
  top: 396px;
  display: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  padding: 3px 10px;
  font-size: 15px;
  letter-spacing: 1px;
}
#yellow-table > div.exclamationmark div {
  color: #c60000;
  background-color: transparent;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  font-style: italic;
}

.mobileWarning {
  display: none;
  padding: 30px 20px;
  font-size: 20px;
  line-height: 27px;
}
