#static-loading,
#console {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

#static-loading,
#main-scene-wrapper {
  display: none;
}

#main-scene-wrapper .scene-content.fullscreen {
  width: 100vw;
  height: 100vh;
}

#console {
  display: none;
}

#static-loading img.loader-logo {
  width: 400px;
}

#static-loading img#loading-logo {
  width: 130px;
}

#put-headset,
#loading-infos {
  margin: 10px 0;
  display: none;
  font-family: 'Tribeca', Verdana, Tahoma;
  font-size: 22px;
  color: white;
}

#loading-infos {
  display: block;
}

#explains-logo {
  display: none;
  width: 800px;
}

/* VR logo replacement */

#enter-vr {
  display: none;
  font-size: 40px;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  border: 1px solid white;
  padding: 10px 18px 18px 18px;
}
#enter-vr:hover {
  border-color: #f7d23f;
}
