@import url(//fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap);

html,
body {
  overflow: hidden;
  font-family: 'Exo', Verdana, Tahoma;
  margin: 0;
  font-size: clamp(16px, 1vw, 40px);
}

#click-wrapper {
  position: absolute;
  cursor: default;
  top: 4rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.click-container {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 0.2rem;
  color: #fff;
}

#static-loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

#main-scene-wrapper {
  position: relative;
}

#main-scene-wrapper .scene-content.fullscreen {
  width: 100vw;
  height: 100vh;
}

#static-loading img.loader-logo {
  width: 25rem;
}

@media screen and (max-width: 800px) {
  #static-loading img.loader-logo {
    width: 200px;
  }
}

#static-loading img#loading-logo {
  width: 11.25rem;
}

#see-faq,
#loading-infos {
  margin: 0.625rem 0;
  display: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.375rem;
  color: white;
  text-align: center;
}

#loading-infos span {
  font-size: 1.2rem;
}

#see-faq {
  margin: 0 0 10px 0;
  display: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: white;
  padding: 0.313rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#loading-infos {
  display: block;
}

/* VR logo replacement */

.vr-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#enter,
#enter-vr {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: none;
  font-size: 1.875rem;
  text-decoration: none;
  color: white;
  margin-top: 1.25rem;
  border: 1px solid white;
  padding: 1.125rem;
}
#enter:hover,
#enter-vr:hover {
  border-color: #ec652b;
}
