<a-entity id="spino-tall-bush" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-30.55411 -2.80979 21.52154" rotation="0 50 0" scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-2" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-27.38998 -0.56368 -13.96785" rotation="0 180 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="spino-tall-bush-3" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-14.43516 -0.53477 -4.28968" rotation="0 180 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="spino-tall-bush-4" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-17.15055 -0.53477 -6.97155" rotation="0 180 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="spino-tall-bush-5" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-39.58786 -0.56368 -6.13888" rotation="0 180 0" scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-6" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-16.65773 -0.56368 15.39368" rotation="0 0 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="spino-tall-bush-7" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-31.99443 -0.56368 -7.08557" rotation="0 50 0" scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-8" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-43.10504 -2.23515 18.60653" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-9" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-46.27079 -2.23515 10.52755" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-10" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-47.12393 -2.23515 1.20364" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-11" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-28.87556 -2.23515 30.33243" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-12" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-35.23324 -2.23515 -16.96882" rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-13" class="spino-surface" gltf-model="#tall-bush-asset"
  position="-30.60457 -0.78315 14.88435" rotation="0 -40 0" scale="0.4 0.4 0.4"></a-entity>
<a-entity id="spino-swamp-rock" class="spino-surface" gltf-model="#swamp-rock-asset"
  position="-31.4323 -0.47081 11.52858" rotation="0 20 0" scale="1 1 1"></a-entity>
<a-entity id="spino-swamp-rock-2" class="spino-surface" gltf-model="#swamp-rock-asset"
  position="-33.02383 0.86462 0.47876" rotation="0 180 0" scale="0.5 1 1"></a-entity>
<a-entity id="spino-swamp-rock-4" class="spino-surface" gltf-model="#swamp-rock-asset"
  position="-19.69261 -0.47081 -6.30993" rotation="0 90 0" scale="1 1 1"></a-entity>
<a-entity id="spino-swamp-dead-tree" class="spino-surface" gltf-model="#swamp-dead-tree-asset"
  position="-20.19461 0.04744 -1.45596" rotation="0 -662.24 0" scale="1.29 1.28 -0.088"></a-entity>
<a-entity id="spino-swamp-dead-tree-2" class="spino-surface" gltf-model="#swamp-dead-tree-asset"
  position="-10.3579 0.07785 -1.95029" rotation="0 90 0" scale="-1 1 -1"></a-entity>
<a-entity id="spino-swamp-dead-tree-3" class="spino-surface" gltf-model="#swamp-dead-tree-asset"
  position="-28.51888 0.02918 19.41208" rotation="0.83 -45 6.69" scale="1.5 1.5 -1.5"></a-entity>
<a-entity id="spino-swamp-grass" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-26.53887 -0.263 1.07055" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-2" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-25.85294 -0.263 -2.52977" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-3" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-25.34252 -0.263 11.59103" rotation="0 -50 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-4" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-23.91257 -0.263 10.34187" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-5" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-26.10484 -0.263 -5.57472" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-6" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-27.50006 -0.263 8.53288" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-7" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-27.09318 -0.263 11.4302" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-8" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-12.89409 -0.263 13.01801" rotation="0 0 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-9" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-15.87825 -0.263 7.93738" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-10" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-10.87732 -0.263 -0.88561" rotation="0 20 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-11" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-13.819 -0.263 0.58309" rotation="0 0 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-12" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-13.86975 -0.08444 4.30233" rotation="0 120 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-grass-13" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-15.77817 -0.08444 5.46476" rotation="0 -59.99999999999999 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-grass-14" class="spino-surface" gltf-model="#swamp-grass-asset"
  position="-24.70209 -0.08444 3.16733" rotation="0 90 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-palm-tree-long" class="spino-surface" gltf-model="#palm-tree-long-asset"
  position="-33.00336 -1.17123 -13.12076" rotation="0 140 0" scale="4 4 4"></a-entity>
<a-entity id="spino-palm-tree-long-2" class="spino-surface" gltf-model="#palm-tree-long-asset"
  position="-24.14184 -1.17123 5.36494" rotation="0 140 0" scale="4 4 4"></a-entity>

<a-entity id="spino-window-support-3" gltf-model="#window-support-asset" position="-12.15027 0.06225 5.26177"
  rotation="0 -90 0" scale="2.66 -2.56 0.8"></a-entity>
<a-entity id="spino-under-wall" gltf-model="#under-wall-asset" position="-12.07627 0.06535 4.78764" rotation="0 0 0"
  scale="0.02 -0.02 0.025"></a-entity>

<a-plane id="spino-water" class="spino-surface" position="-112.03784 0 6.56656" rotation="-90 0 0" width="200"
  height="200" color="#7BC8A4" water material="color: white; transparent: true; opacity: 0.0"></a-plane>
<a-entity id="long-sea-plant-1" animation-mixer="clip:  Take 001; startFrame: 400; timeScale: 0.5"
  class="spino-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-23.65036 -13.38898 11.39674"
  rotation="0 140 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="long-sea-plant-2" animation-mixer="clip:  Take 001; startFrame: 800; timeScale: 0.5"
  class="spino-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-19.65666 -13.38898 7.78058"
  rotation="0 0 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="long-sea-plant-3" animation-mixer="clip:  Take 001; startFrame: 1200; timeScale: 0.5"
  class="spino-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-28.99448 -13.38898 8.6647"
  rotation="0 20 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="long-sea-plant-4" animation-mixer="clip:  Take 001; startFrame: 1600; timeScale: 0.5"
  class="spino-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-24.714 -13.38898 0.68759"
  rotation="0 140 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="long-sea-plant-5" animation-mixer="clip:  Take 001; startFrame: 2000; timeScale: 0.5"
  class="spino-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-22.96965 -13.38898 -1.12882"
  rotation="0 150 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="long-sea-plant-6" animation-mixer="clip:  Take 001; startFrame: 2400; timeScale: 0.5"
  class="spino-underwater" visible="false" gltf-model="#long-sea-plant-asset" position="-20.00437 -13.38898 -5.19825"
  rotation="0 0 0" scale="0.02 0.02 0.02">
</a-entity>
<a-entity id="small-sea-plant-1" animation-mixer="clip: Sway; startFrame: 400; timeScale: 0.5" class="spino-underwater"
  visible="false" gltf-model="#small-sea-plant-asset" position="-28.48134 -13.3152 11.47225" rotation="0 0 0"
  scale="1 1 1">
</a-entity>
<a-entity id="small-sea-plant-2" animation-mixer="clip: Sway; startFrame: 800; timeScale: 0.5" class="spino-underwater"
  visible="false" gltf-model="#small-sea-plant-asset" position="-23.18516 -13.3152 -2.66978" rotation="0 50 0"
  scale="1 1 1">
</a-entity>
<a-entity id="small-sea-plant-3" animation-mixer="clip: Sway; startFrame: 1200; timeScale: 0.5" class="spino-underwater"
  visible="false" gltf-model="#small-sea-plant-asset" position="-22.66031 -13.3152 14.27679" rotation="0 90 0"
  scale="1 1 1">
</a-entity>
<a-entity id="small-sea-plant-4" animation-mixer="clip: Sway; startFrame: 1600; timeScale: 0.5" class="spino-underwater"
  visible="false" gltf-model="#small-sea-plant-asset" position="-22.35932 -13.3152 -6.06238" rotation="0 80 0"
  scale="1 1 1">
</a-entity>
<a-entity id="small-sea-plant-5" animation-mixer="clip:Sway; startFrame: 2000; timeScale: 0.5" class="spino-underwater"
  visible="false" gltf-model="#small-sea-plant-asset" position="-31.8259 -13.3152 7.50046" rotation="0 140 0"
  scale="1 1 1">
</a-entity>
<a-entity id="small-sea-plant-6" animation-mixer="clip: Sway; startFrame: 2400; timeScale: 0.5" class="spino-underwater"
  visible="false" gltf-model="#small-sea-plant-asset" position="-29.38344 -13.3152 16.69337" rotation="0 0 0"
  scale="1 1 1">
</a-entity>
<a-entity id="spino-swamp-grass-101" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-23.69649 -13.27 2.07659" visible="false" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-102" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-21.49778 -13.27 -2.98147" visible="false" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-103" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-25.14409 -13.27 12.08972" visible="false" rotation="0 -50 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-104" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-23.91257 -13.27 10.34187" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-105" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-17.65415 -13.27 -5.49608" visible="false" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-106" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-21.49981 -13.27 3.02415" visible="false" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-107" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-20.79596 -13.27 11.73475" visible="false" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-108" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-12.89409 -13.27 13.01801" visible="false" rotation="0 0 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-109" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-15.27293 -13.27 5.3579" visible="false" rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-1010" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-15.64495 -13.27 2.65833" visible="false" rotation="0 20 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-1011" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-15.67657 -13.27 17.36325" visible="false" rotation="0 20 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-1012" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-15.00317 -13.27 -8.15576" visible="false" rotation="0 110 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-1013" visible="false" class="spino-underwater" gltf-model="#swamp-grass-asset"
  position="-18.44312 -13.27 -9.71585" visible="false" rotation="0 40 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-rock-101" class="spino-underwater" gltf-model="#swamp-rock-asset"
  position="-31.19396 -12.17964 -1.62773" rotation="0 180 0" scale="2 2.4 2"></a-entity>
<a-entity id="spino-swamp-rock-102" class="spino-underwater" gltf-model="#swamp-rock-asset"
  position="-28.95515 -12.23414 -7.30706" rotation="0 64.65 0" scale="2 2.4 2"></a-entity>