<a-entity id="spino-tall-bush" gltf-model="#tall-bush-asset" position="30.04364 -1.15219 -17.93406" rotation="0 180 0"
  scale="1 1 1"></a-entity>
<a-entity id="spino-swamp-rock" gltf-model="#swamp-rock-asset" position="22.78824 -0.47081 6.48055" rotation="0 90 0"
  scale="1 1 1"></a-entity>
<a-entity id="spino-swamp-dead-tree" gltf-model="#swamp-dead-tree-asset" position="10.43012 0.28658 2.15083"
  rotation="0 90 0" scale="1 1 1"></a-entity>
<a-entity id="spino-swamp-grass" gltf-model="#swamp-grass-asset" position="25.55056 0.08469 -11.66219" rotation="0 90 0"
  scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-trees" gltf-model="#swamp-trees-asset" position="32.15475 0.41111 -9.99653" rotation="0 90 0"
  scale="0.01 0.01 0.01"></a-entity>

<a-plane id="spino-water" position="56.0507 0 -0.38383" rotation="-90 0 0" width="200" height="200" color="#7BC8A4"
  water material="color: white; transparent: true; opacity: 0.0"></a-plane>