<a-light id="spino-ambiant-light" visible="true" type="ambient" light="intensity: 0.5;color:#c2d9ff"></a-light>
<!-- <a-light id="spino-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#spino-directionaltarget">
  <a-entity id="spino-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="spino-light-2" light="distance: 200; decay: 200; intensity: 0.4; penumbra: 0; angle: 0" type="directional"
  position="3.77104 40 -32.15244" rotation="-90 0 0" target="#spino-directionaltarget-2">
  <a-entity id="spino-directionaltarget-2" position="-105.97295 -70.00791 -36.54726"></a-entity>
</a-light>