<a-entity id="spino-tall-bush" gltf-model="#tall-bush-asset" position="-30.55411 -2.80979 21.52154" rotation="0 50 0"
  scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-2" gltf-model="#tall-bush-asset" position="-22.85005 -0.56368 -10.08148"
  rotation="0 180 0" scale="0.5 0.5 0.5"></a-entity>
<a-entity id="spino-tall-bush-3" gltf-model="#tall-bush-asset" position="-14.43516 -0.53477 -4.28968" rotation="0 180 0"
  scale="0.5 0.5 0.5"></a-entity>
<a-entity id="spino-tall-bush-4" gltf-model="#tall-bush-asset" position="-17.15055 -0.53477 -6.97155" rotation="0 180 0"
  scale="0.5 0.5 0.5"></a-entity>
<a-entity id="spino-tall-bush-5" gltf-model="#tall-bush-asset" position="-39.58786 -0.56368 -6.13888" rotation="0 180 0"
  scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-6" gltf-model="#tall-bush-asset" position="-16.65773 -0.56368 15.39368" rotation="0 0 0"
  scale="0.5 0.5 0.5"></a-entity>
<a-entity id="spino-tall-bush-7" gltf-model="#tall-bush-asset" position="-31.99443 -0.56368 -7.08557" rotation="0 50 0"
  scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-8" gltf-model="#tall-bush-asset" position="-43.10504 -2.23515 18.60653" rotation="0 -40 0"
  scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-9" gltf-model="#tall-bush-asset" position="-46.27079 -2.23515 10.52755" rotation="0 -40 0"
  scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-10" gltf-model="#tall-bush-asset" position="-47.12393 -2.23515 1.20364" rotation="0 -40 0"
  scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-11" gltf-model="#tall-bush-asset" position="-28.87556 -2.23515 30.33243"
  rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="spino-tall-bush-12" gltf-model="#tall-bush-asset" position="-35.23324 -2.23515 -16.96882"
  rotation="0 -40 0" scale="1 1 1"></a-entity>
<a-entity id="spino-swamp-rock" gltf-model="#swamp-rock-asset" position="-31.4323 -0.47081 11.52858" rotation="0 20 0"
  scale="1 1 1"></a-entity>
<a-entity id="spino-swamp-rock-2" gltf-model="#swamp-rock-asset" position="-33.02383 0.86462 0.47876" rotation="0 180 0"
  scale="0.5 1 1"></a-entity>
<a-entity id="spino-swamp-rock-4" gltf-model="#swamp-rock-asset" position="-20.45186 -0.47081 -6.30993"
  rotation="0 90 0" scale="1 1 1"></a-entity>
<a-entity id="spino-swamp-dead-tree" gltf-model="#swamp-dead-tree-asset" position="-28.09273 0.04744 -5.54511"
  rotation="0 -662.24 0" scale="1.29 1.28 0.88"></a-entity>
<a-entity id="spino-swamp-dead-tree-2" gltf-model="#swamp-dead-tree-asset" position="-10.3579 0.07785 -1.95029"
  rotation="0 90 0" scale="-1 1 -1"></a-entity>
<a-entity id="spino-swamp-grass" gltf-model="#swamp-grass-asset" position="-26.53887 -0.263 1.07055" rotation="0 90 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-2" gltf-model="#swamp-grass-asset" position="-25.85294 -0.263 -2.52977"
  rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-3" gltf-model="#swamp-grass-asset" position="-23.88861 -0.263 9.81168" rotation="0 0 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-4" gltf-model="#swamp-grass-asset" position="-23.91257 -0.263 10.34187"
  rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-5" gltf-model="#swamp-grass-asset" position="-26.10484 -0.263 -5.57472"
  rotation="0 90 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-6" gltf-model="#swamp-grass-asset" position="-27.50006 -0.263 8.53288" rotation="0 90 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-7" gltf-model="#swamp-grass-asset" position="-27.09318 -0.263 11.4302" rotation="0 90 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-8" gltf-model="#swamp-grass-asset" position="-12.89409 -0.263 13.01801" rotation="0 0 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-9" gltf-model="#swamp-grass-asset" position="-16.0242 -0.263 9.978" rotation="0 90 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-10" gltf-model="#swamp-grass-asset" position="-10.87732 -0.263 -0.88561"
  rotation="0 20 0" scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-11" gltf-model="#swamp-grass-asset" position="-13.819 -0.263 0.58309" rotation="0 0 0"
  scale="0.013 0.013 0.013"></a-entity>
<a-entity id="spino-swamp-grass-12" gltf-model="#swamp-grass-asset" position="-13.41571 -0.08444 4.30233"
  rotation="0 120 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-grass-13" gltf-model="#swamp-grass-asset" position="-15.27858 -0.08444 5.46476"
  rotation="0 -60 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-grass-14" gltf-model="#swamp-grass-asset" position="-24.70209 -0.08444 3.16733"
  rotation="0 90 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-grass-15" gltf-model="#swamp-grass-asset" position="-38.0501 -0.08444 -2.7103"
  rotation="0 90 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-grass-16" gltf-model="#swamp-grass-asset" position="-38.72186 -0.08444 1.82589"
  rotation="0 90 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-grass-17" gltf-model="#swamp-grass-asset" position="-38.20311 -0.08444 7.76458"
  rotation="0 90 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-grass-18" gltf-model="#swamp-grass-asset" position="-38.86116 -0.08444 12.69134"
  rotation="0 90 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-grass-19" gltf-model="#swamp-grass-asset" position="-24.83423 -0.08444 20.97034"
  rotation="0 90 0" scale="0.01 0.01 0.01"></a-entity>
<a-entity id="spino-swamp-tree" gltf-model="#swamp-dead-tree-1-asset" position="-32.86674 -0.06264 7.06166"
  rotation="0 140 0" scale="0.1 0.1 0.1"></a-entity>

<a-entity id="spino-window-support" gltf-model="#window-support-asset" position="-11.4646 0.116 3.14626"
  rotation="0 -90 0" scale="-1.8 1.29 0.88"></a-entity>
<a-entity id="spino-window-support-1" gltf-model="#window-support-asset" position="-11.46348 0.118 5.92206"
  rotation="0 -90 0" scale="1.8 1.29 0.88"></a-entity>
<a-entity id="spino-wall" gltf-model="#wall-asset" position="-0.27876 1.55543 4.71966" rotation="90 90 0"
  scale="1.8 1.5 1.5"></a-entity>
<a-entity id="spino-terminal" gltf-model="#terminal-asset" position="-8.88232 0.04569 6.82921"
  rotation="0 -119.99999999999999 0" scale="0.3 0.3 0.3"></a-entity>
<a-entity id="spino-door" gltf-model="#door-asset" position="-0.50739 0.08575 4.55021" rotation="0 -90 0"
  scale="0.025 0.025 0.025"></a-entity>

<a-plane id="spino-water" position="-60.04242 0 2.19421" rotation="-90 0 0" width="100" height="100" color="#7BC8A4"
  water material="color: white; transparent: true; opacity: 0.0"></a-plane>