@import url(//fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap);
@keyframes slide {
  to {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.6;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }

  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }

  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }

  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.main-page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

/*------------- LOADING PART -------------*/
.loading-website {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-website .title {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loading-website .title:first-child {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.loading-website .button {
  font-size: 18px;
  margin-top: 10px;
  opacity: 0;
  cursor: pointer;
  padding: 3px 5px 5px 5px;
  border: 1px solid white;
  color: white;
}

.loading-website .button:hover {
  border-color: #f7d23f;
}

.loading-website .title.opacity {
  animation: fadein 5s;
  opacity: 1;
}

.loading-website .subtitle.opacity {
  animation: fadein 5s;
  opacity: 1;
}

.loading-website .button.opacity {
  animation: fadein 5s;
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  .legal {
    font-size: 12px !important;
  }

  .loading-website .title,
  .loading-website .subtitle {
    font-size: 14px !important;
  }

  .loading-website .button {
    font-size: 14px !important;
  }
}

/*------------- FIXED MENU PART -------------*/
.fixed-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 15;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100vw;
  background-color: black;
}

.fixed-menu .subsection {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 10px;
}

.fixed-menu .subsection span {
  font-size: 14px;
}

.fixed-menu img {
  width: 26px;
  margin-bottom: 5px;
}

/*------------- MAIN PART -------------*/
#main-section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

.main-infos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vr-status {
  position: absolute;
  top: 32px;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: white;
}

.img-on,
.img-off {
  width: 60px;
  margin-bottom: 10px;
}

.vr-on,
.vr-off {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vr-on {
  display: none;
}

.jp-icon-large {
  display: inline-block;
  width: 400px;
  opacity: 0;
}

.jp-icon-large.opacity {
  animation: fadein 5s;
  opacity: 1;
}

.main-park-open-wrapper {
  border-top: 1px solid white;
  padding-top: 10px;
  color: white;
  margin-top: 10px;
  font-size: 30px;
  width: 100%;
  overflow: hidden;
}

.main-park-open {
  width: 100%;
  text-align: center;
}

.main-park-open.slide {
  animation: 1s slide 1s forwards;
  transform: translateX(-100%);
}

.main-choices {
  margin-top: 40px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: white;
}

.main-choices.centered {
  justify-content: center;
}

.main-choices .ticket-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page-wrapper .button {
  text-align: center;
  border: 2px solid white;
  padding: 8px;
  width: 150px;
}

.main-page-wrapper .button:hover {
  cursor: pointer;
  border: 2px solid #f7d23f;
}

.main-choices .ticket-wrapper input {
  height: 38px;
  font-size: 18px;
  padding: 0 9px;
  width: 150px;
}

.main-choices .ticket-wrapper .error {
  font-size: 16px;
  color: #f02828;
  position: absolute;
  top: -24px;
}

#ticket-error,
#vr-error {
  display: none;
}

#vr-error {
  top: -40px;
}

#use-ticket {
  margin-top: 10px;
}

.language-wrapper {
  display: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: white;
}

.language-wrapper .title {
  margin: 10px 0;
  text-align: center;
}

.language-wrapper .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.language-wrapper .button {
  margin: 0 10px;
}

.legal {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  color: white;
}

.main-bottom-menu {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 30px;
  left: calc(100vw / 2 - 150px);
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  width: 300px;
}

.main-bottom-menu img {
  width: 60px;
  margin-bottom: 5px;
}

.icon-item {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-item span {
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.icon-item:hover {
  cursor: pointer;
}

.icon-item:hover span {
  border-bottom: 2px solid #f7d23f;
}

@media screen and (max-width: 1140px) {
  #main-section .jp-icon-large {
    width: 280px;
  }

  .main-choices {
    width: 340px;
  }
}

/*------------- INFOS PART -------------*/
#jt-section {
  background-image: url('../images/jt-background.jpg');
  background-repeat: repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: blue;
  padding-top: 20px;
}

@media screen and (max-width: 1600px) {
  #jt-section .jt-icon-large {
    width: 200px;
  }
}

@media screen and (max-width: 1140px) {
  #jt-section .jt-icon-large {
    width: 240px;
  }

  #jt-section .jt-content {
    justify-content: center;
    margin-top: 20px;
  }
  .jt-content .jt-preview {
    display: none;
  }

  .jt-content .jt-text {
    text-align: center;
    width: 100vw;
    font-size: 14px;
  }

  .jt-content .jt-text ul {
    padding-left: 0px;
    list-style-type: none;
  }
}

.jt-icon-large {
  z-index: 10;
  display: inline-block;
  width: 400px;
}

.jt-title {
  z-index: 10;
  margin-top: 10px;
  color: white;
  font-size: 23px;
  padding-top: 10px;
  border-top: 1px solid white;
}

.jt-content {
  z-index: 10;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: white;
  width: 1100px;
  min-height: 286px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.jt-preview {
  opacity: 1;
  border: 2px solid white;
}

.jt-preview.opacity {
  animation: fadein 3s;
  opacity: 1;
}

.jt-text.slide {
  animation: 1s slide 0s forwards;
  transform: translateX(300%);
}

.jt-preview,
.jt-text {
  width: 530px;
}

.jt-content .jt-text a {
  color: #f7d23f;
}

.jt-text strong {
  color: #f02828;
}

.jt-text ul {
  margin: 0;
  padding-left: 20px;
}

.jt-text li {
  padding-bottom: 10px;
}

.jt-text-title {
  color: #f7d23f;
  font-weight: bold;
  margin-bottom: 5px;
}

/*------------- MAP PART -------------*/
#map-section {
  background-image: url('../images/console-background-large.jpg');
  background-repeat: repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2667c2;
  padding-top: 20px;
}

#map-section.screen {
  animation: turn-on 3s linear;
  animation-fill-mode: forwards;
}

#map-section::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 100;
  pointer-events: none;
}

#map-section::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 80%, rgba(0, 0, 0, 0.25) 20%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 4px, 15px 100%;
  pointer-events: none;
  z-index: 99;
}

#map-section::after {
  animation: flicker 0.3s infinite;
}

.map-icon-large {
  z-index: 10;
  display: inline-block;
  width: 400px;
}

.map-title {
  z-index: 10;
  margin-top: 10px;
  color: white;
  font-size: 23px;
  padding-top: 10px;
  border-top: 1px solid white;
}

.map-content {
  position: relative;
  z-index: 10;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: white;
  width: 1100px;
  min-height: 286px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.map-wrapper {
  position: relative;
  top: 32px;
  left: 7px;
  height: 300px;
  overflow: hidden;
}

.map {
  position: absolute;
  top: -180px;
  left: -110px;
  z-index: 10;
  display: inline-block;
  width: 650px;
}

.map-wrapper,
.map-text {
  width: 520px;
}

.map-text {
  position: relative;
}

.map-text ul {
  margin: 0;
  padding-left: 20px;
}

.map-text li {
  padding-bottom: 10px;
}

.map-console {
  height: 100% !important;
}

.map-window {
  position: relative;
  left: 0;
  top: 0;
  width: 553px;
  height: 338px;
}

.map-window-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 553px;
  height: 338px;
}

@media screen and (max-width: 1600px) {
  .map-icon-large {
    width: 200px;
  }
}

@media screen and (max-width: 1140px) {
  #map-section .map-icon-large {
    width: 240px;
  }
  .map-wrapper,
  .map-text {
    width: 100vw;
    height: 300px;
  }
  #map-section .map-content {
    justify-content: center;
  }
  .map-content .map-window {
    display: none;
  }
}
