<a-light id="lagoon-ambiant-light" visible="true" type="ambient" light="intensity: 1;color:#c2d9ff"></a-light>
<a-light id="lagoon-sun-light" position="6.42736 7.40359 -2.81524" visible="true" type="ambient"
  light="intensity: 0.13;color:#c2d9ff; type: directional"></a-light>
<a-light id="lagoon-light"
  light="distance: 200; decay: 200.01 intensity: 1; penumbra: 0; angle: 0; groundColor: #e4863a; color: #a1a1a1"
  type="directional" position="0.78452 -0.47121 5.924" rotation="-90 0 0" target="#lagoon-directionaltarget">
  <a-entity id="lagoon-directionaltarget"
    animation="property: position; to: 18 31.276 -100.000; dir: alternate; dur: 6000; loop: true"
    position="-24.47576 31.276 -100.000"></a-entity>
</a-light>