<a-entity id="brachio" brachio-animation gltf-model="#brachio-asset"
  sound__foot="src: #brachio-step; volume: 180; rolloffFactor: 9; loop: true"
  sound__roar="src: #brachio-roar; volume: 180; rolloffFactor: 9; loop: true" position="-67.748 0.002 -75.678"
  rotation="0 -90 0" scale="0.024 0.024 0.024">
</a-entity>
<a-entity id="trice" rotation="0 -23.37 0" position="-12.86387 0 -199.34134" animation-mixer="clip: Triceratops_Sleep"
  gltf-model="#trice-female-asset" scale="0.020 0.020 -0.020">
</a-entity>
<a-entity id="trice-2" sound__blow="src: #trice-blow; volume: 20; loop: false" rotation="0 60 0"
  position="41.0612 0 -200.90238" animation-mixer="clip: Triceratops_Sleep" gltf-model="#trice-male-asset"
  scale="0.020 0.020 -0.020">
</a-entity>
<a-entity id="trice-3" rotation="0 -120 0" position="21.14474 0 -212.87518" animation-mixer="clip: Triceratops_Sleep"
  gltf-model="#trice-male-asset" scale="0.020 0.020 -0.020">
</a-entity>
<a-entity id="trice-4" sound__snoring="src: #trice-snoring; volume: 15; loop: false"
  sound__roar="src: #trice-roar1; volume: 15; loop: false" sound__run="src: #trice-run; volume: 15; loop: true"
  sound__impact="src: #trice-impact; volume: 15; loop: false" sound__walk="src: #trice-walk; volume: 20; loop: true"
  visible="false" rotation="0 90 0" position="-20.0998 0 -95.95944" trice-animation
  animation-mixer="clip: Triceratops_Stun; timeScale: 0.4" gltf-model="#trice-male-asset" scale="0.020 0.020 -0.020">
</a-entity>
<a-entity id="trice-5" sound__walk="src: #trice-walk; volume: 20; loop: true" visible="false" rotation="-0.93 -90 0"
  position="0.66932 0.07589 -96.07475" animation-mixer="clip: Triceratops_Stun; timeScale: 1"
  gltf-model="#trice-male-asset" scale="0.020 0.020 -0.020">
</a-entity>