<a-entity id="gate-low-grass-01" gltf-model="#low-grass-asset" position="21.47051 0.187 2.66751" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-02" gltf-model="#low-grass-asset" position="25.55827 0.187 -8.52894" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-03" gltf-model="#low-grass-asset" position="20.95984 0.187 -22.66697" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-04" gltf-model="#low-grass-asset" position="27.17838 0.187 -34.04565" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-05" gltf-model="#low-grass-asset" position="22.60229 0.187 -46.93313" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-06" gltf-model="#low-grass-asset" position="-2.49633 0.187 3.26904" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-07" gltf-model="#low-grass-asset" position="-7.78764 0.187 -4.1144" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-08" gltf-model="#low-grass-asset" position="-1.9901 0.187 -13.32658" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-09" gltf-model="#low-grass-asset" position="-6.91468 0.187 -26.21198" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-10" gltf-model="#low-grass-asset" position="-23.85062 0.187 -25.64513" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-20" gltf-model="#low-grass-asset" position="-5.67801 0.187 -51.63323" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-21" gltf-model="#low-grass-asset" position="21.47051 0.187 -67.11879" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-22" gltf-model="#low-grass-asset" position="25.55827 0.187 -78.23584" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-23" gltf-model="#low-grass-asset" position="20.95984 0.187 -86.82355" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-24" gltf-model="#low-grass-asset" position="22.9099 0.187 -56.60747" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-25" gltf-model="#low-grass-asset" position="22.60229 0.187 -97.29667" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-26" gltf-model="#low-grass-asset" position="-2.49633 0.187 -56.96048" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-27" gltf-model="#low-grass-asset" position="-7.78764 0.187 -69.65504" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-28" gltf-model="#low-grass-asset" position="-1.9901 0.187 -79.47403" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-29" gltf-model="#low-grass-asset" position="-6.91468 0.187 -92.76095" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-30" gltf-model="#low-grass-asset" position="-2.58212 0.187 -111.62153" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-31" gltf-model="#low-grass-asset" position="21.47051 0.187 -106.48489" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-32" gltf-model="#low-grass-asset" position="25.55827 0.187 -120.06871" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-33" gltf-model="#low-grass-asset" position="20.95984 0.187 -133.07005" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-34" gltf-model="#low-grass-asset" position="22.9099 0.187 -145.71479" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-35" gltf-model="#low-grass-asset" position="22.60229 0.187 -155.84984" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-36" gltf-model="#low-grass-asset" position="-2.49633 0.187 -122.74895" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-37" gltf-model="#low-grass-asset" position="-7.78764 0.187 -129.73762" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-38" gltf-model="#low-grass-asset" position="-1.9901 0.187 -139.01046" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-39" gltf-model="#low-grass-asset" position="-6.91468 0.187 -146.93767" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-40" gltf-model="#low-grass-asset" position="-2.94925 0.187 -160.11518" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-41" gltf-model="#low-grass-asset" position="22.46945 0.187 -170.43557" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-42" gltf-model="#low-grass-asset" position="30.14257 0.187 -186.03631" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-43" gltf-model="#low-grass-asset" position="25.22087 0.187 -202.61888" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-44" gltf-model="#low-grass-asset" position="3.25458 0.187 -209.06425" rotation="0 0.31 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-45" gltf-model="#low-grass-asset" position="-11.10071 0.187 -191.31954" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-46" gltf-model="#low-grass-asset" position="-33.01939 0.187 -203.73218" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-47" gltf-model="#low-grass-asset" position="-5.95211 0.187 -178.29384" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-48" gltf-model="#low-grass-asset" position="-3.21041 0.187 -168.24017" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-49" gltf-model="#low-grass-asset" position="33.75267 0.187 -181.44505" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-51" gltf-model="#low-grass-asset" position="33.64591 0.187 2.66751" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-52" gltf-model="#low-grass-asset" position="37.74654 0.187 -8.52894" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-53" gltf-model="#low-grass-asset" position="33.39755 0.187 -22.66697" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-54" gltf-model="#low-grass-asset" position="40.23245 0.187 -34.04565" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-55" gltf-model="#low-grass-asset" position="36.65137 0.187 -46.93313" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-56" gltf-model="#low-grass-asset" position="-23.91394 0.187 3.26904" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-57" gltf-model="#low-grass-asset" position="-29.97054 0.187 -4.1144" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-58" gltf-model="#low-grass-asset" position="-24.01615 0.187 -13.32658" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-59" gltf-model="#low-grass-asset" position="-17.28894 0.187 -26.21198" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-60" gltf-model="#low-grass-asset" position="-33.37916 0.187 -31.11462" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-61" gltf-model="#low-grass-asset" position="45.71595 0.187 -67.11879" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-62" gltf-model="#low-grass-asset" position="38.67405 0.187 -78.23584" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-63" gltf-model="#low-grass-asset" position="35.62696 0.187 -95.28766" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-64" gltf-model="#low-grass-asset" position="40.01586 0.187 -54.33079" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-65" gltf-model="#low-grass-asset" position="43.32582 0.187 -102.154" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-66" gltf-model="#low-grass-asset" position="-26.44398 0.187 -56.96048" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-67" gltf-model="#low-grass-asset" position="-30.90973 0.187 -68.03609" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-68" gltf-model="#low-grass-asset" position="-24.9517 0.187 -79.47403" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-69" gltf-model="#low-grass-asset" position="-22.67352 0.187 -89.74707" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-70" gltf-model="#low-grass-asset" position="-28.0028 0.187 -111.62153" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-71" gltf-model="#low-grass-asset" position="42.43246 0.187 -110.21239" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-72" gltf-model="#low-grass-asset" position="43.28812 0.187 -120.06871" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-73" gltf-model="#low-grass-asset" position="52.35822 0.187 -140.1077" rotation="0 80 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-74" gltf-model="#low-grass-asset" position="38.48663 0.187 -145.71479" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-75" gltf-model="#low-grass-asset" position="37.00674 0.187 -158.98824" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-76" gltf-model="#low-grass-asset" position="-27.27993 0.187 -120.37293" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-77" gltf-model="#low-grass-asset" position="-29.17472 0.187 -129.73762" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-78" gltf-model="#low-grass-asset" position="-24.79838 0.187 -139.01046" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-79" gltf-model="#low-grass-asset" position="-18.85854 0.187 -146.93767" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-80" gltf-model="#low-grass-asset" position="-34.68982 0.187 -148.57831" rotation="0 80 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-81" gltf-model="#low-grass-asset" position="48.69589 0.187 -162.5109" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-82" gltf-model="#low-grass-asset" position="42.19384 0.187 -178.92291" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-83" gltf-model="#low-grass-asset" position="37.07669 0.187 -204.90389" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-84" gltf-model="#low-grass-asset" position="4.54048 0.187 -223.91979" rotation="0 -15.57 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-85" gltf-model="#low-grass-asset" position="-25.02659 0.187 -189.61207" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-86" gltf-model="#low-grass-asset" position="-7.89233 0.187 -218.08829" rotation="0 240 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-87" gltf-model="#low-grass-asset" position="-31.40565 0.187 -173.0869" rotation="0 110 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-88" gltf-model="#low-grass-asset" position="16.23651 0.187 -233.88192"
  rotation="0 -39.86 0" scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-89" gltf-model="#low-grass-asset" position="45.31241 0.187 -188.70539" rotation="0 46.24 0"
  scale="2 1 2"></a-entity>

<!-- Plants and trees-->
<a-entity id="gate-rock-01" gltf-model="#forest-rock-1-asset" position="8.51633 -0.03348 -191.8192"
  rotation="-0.01 10.37 0" scale="1.2 1.2 1.2"></a-entity>
<a-entity id="gate-simple-plant-01" gltf-model="#simple-plant-asset" position="-13.88661 -0.18272 76.98718"
  rotation="-0.01 50 0" scale="8 8 8"></a-entity>
<a-entity id="gate-simple-plant-02" gltf-model="#simple-plant-asset" position="-9.68467 -0.34722 -61.26951"
  rotation="-0.01 50 0" scale="8 8 8"></a-entity>
<a-entity id="gate-simple-plant-03" gltf-model="#simple-plant-asset" position="-15.13918 0 -65.9879"
  rotation="-0.01 50 0" scale="7 10 7"></a-entity>
<a-entity id="gate-simple-plant-04" gltf-model="#simple-plant-asset" position="-5.77695 0 -41.25991"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-05" gltf-model="#simple-plant-asset" position="28.82204 0 -101.10315"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-06" gltf-model="#simple-plant-asset" position="-8.2911 0 -35.82392"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-07" gltf-model="#simple-plant-asset" position="22.65131 0 -105.98536"
  rotation="-0.01 41.6 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-08" gltf-model="#simple-plant-asset" position="-10.64733 -0.4355 -41.54164"
  rotation="-0.01 59.93 0" scale="6 6 6"></a-entity>
<a-entity id="gate-simple-plant-013" gltf-model="#simple-plant-asset" position="-16.3481 0 -57.84333"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-015" gltf-model="#simple-plant-asset" position="-9.86128 -0.00862 -34.06035"
  rotation="-0.01 33.27 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-016" gltf-model="#simple-plant-asset" position="-6.72256 0.09309 -38.44256"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-17" gltf-model="#simple-plant-asset" position="-15.08964 0 -61.5084"
  rotation="-0.01 50 0" scale="6 6 6"></a-entity>
<a-entity id="gate-simple-plant-18" gltf-model="#simple-plant-asset" position="-10.94833 0 -59.36156"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-19" gltf-model="#simple-plant-asset" position="28.72524 0 -64.17718"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-20" gltf-model="#simple-plant-asset" position="24.88744 0 -16.03858"
  rotation="-0.01 64.74 0" scale="8 8 8"></a-entity>
<a-entity id="gate-simple-plant-21" gltf-model="#simple-plant-asset" position="21.61583 0 -105.17372"
  rotation="-0.01 -7.32 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-31" gltf-model="#simple-plant-asset" position="-7.48231 -0.16198 -154.80081"
  rotation="-0.01 50 0" scale="8 8 8"></a-entity>
<a-entity id="gate-simple-plant-32" gltf-model="#simple-plant-asset" position="-12.18003 -0.34722 -192.18245"
  rotation="-0.01 50 0" scale="8 8 8"></a-entity>
<a-entity id="gate-simple-plant-33" gltf-model="#simple-plant-asset" position="10.35985 -0.57223 -214.12449"
  rotation="-0.01 50 0" scale="7 10 7"></a-entity>
<a-entity id="gate-simple-plant-34" gltf-model="#simple-plant-asset" position="10.90096 0 -208.96489"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-35" gltf-model="#simple-plant-asset" position="33.15321 0 -209.88873"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-36" gltf-model="#simple-plant-asset" position="31.36004 0 -200.4926"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-37" gltf-model="#simple-plant-asset" position="32.71589 0 -212.65711"
  rotation="-0.01 41.6 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-38" gltf-model="#simple-plant-asset" position="32.4092 -0.4355 -196.79382"
  rotation="-0.01 59.93 0" scale="6 6 6"></a-entity>
<a-entity id="gate-double-rock-01" gltf-model="#double-rock-asset" position="-10.26536 0 23.52987" rotation="-0.01 50 0"
  scale="10 8 8"></a-entity>
<a-entity id="gate-palms-01" gltf-model="#fir-tree-asset" position="29.26058 -5.81817 -30.82245" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-02" gltf-model="#fir-tree-asset" position="25.56176 -8.62355 -106.49748" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-03" gltf-model="#fir-tree-asset" position="19.80598 -0.17909 -69.78492"
  rotation="-0.01 -24.24 0" scale="0.06 0.07 0.06"></a-entity>
<a-entity id="gate-palms-04" gltf-model="#fir-tree-asset" position="-39.27596 -0.55116 -66.2937" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-05" gltf-model="#fir-tree-asset" position="-20.19213 -0.55116 -4.22741" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-06" gltf-model="#fir-tree-asset" position="-6.21947 -6.32016 -93.13499" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-07" gltf-model="#fir-tree-asset" position="29.99304 -0.24117 -65.85433" rotation="-0.01 160 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-08" gltf-model="#fir-tree-asset" position="40.43535 -2.80685 -66.89397"
  rotation="-0.01 22.62 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-09" gltf-model="#fir-tree-asset" position="-28.353 -0.55116 -24.83523" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-10" gltf-model="#fir-tree-asset" position="-13.01 -0.9868 -34.09111" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-11" gltf-model="#fir-tree-asset" position="-11.59139 -0.987 -61.01624" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-12" gltf-model="#fir-tree-asset" position="41.08214 -0.9868 -122.15695" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-13" gltf-model="#fir-tree-asset" position="27.04636 -8.83297 -16.92882" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>

<a-entity id="gate-palms-14" gltf-model="#fir-tree-asset" position="-27.62717 -5.81817 43.31014" rotation="-0.01 0 -15"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-15" gltf-model="#fir-tree-asset" position="-15.71329 -5.81817 21.66395" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-16" gltf-model="#fir-tree-asset" position="-8.88032 -5.81817 89.9943" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-17" gltf-model="#fir-tree-asset" position="-41.19511 -5.81817 69.18589" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-18" gltf-model="#fir-tree-asset" position="38.74492 -5.81817 45.22405" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-19" gltf-model="#fir-tree-asset" position="62.24729 -5.81817 92.55784" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-20" gltf-model="#fir-tree-asset" position="27.94328 -5 81.91762" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-21" gltf-model="#fir-tree-asset" position="-12.29712 -0.987 -118.2857" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-22" gltf-model="#fir-tree-asset" position="27.58824 -0.9868 -143.94598" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-23" gltf-model="#fir-tree-asset" position="-9.70522 -8.83297 -158.25141" rotation="-0.01 50 0"
  scale="0.06 0.06 0.06"></a-entity>

<a-entity id="gate-palms-24" gltf-model="#fir-tree-asset" position="31.84478 -5.81817 -180.76291" rotation="-0.01 0 -15"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-25" gltf-model="#fir-tree-asset" position="-33.71662 -5.81817 -145.92719"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-26" gltf-model="#fir-tree-asset" position="-35.25353 -5.81817 -104.9189" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-27" gltf-model="#fir-tree-asset" position="59.90914 -5.81817 -162.65385" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-28" gltf-model="#fir-tree-asset" position="35.5286 -5.81817 -213.19875" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-29" gltf-model="#fir-tree-asset" position="-14.03434 -5.81817 -195.577" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-30" gltf-model="#fir-tree-asset" position="7.67286 -5 -211.68973" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-31" gltf-model="#fir-tree-asset" position="56.16178 -5.81817 -201.95709" rotation="-0.01 0 -15"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-32" gltf-model="#fir-tree-asset" position="-29.92975 -5.81817 -182.80182"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-33" gltf-model="#fir-tree-asset" position="-17.23166 -5.81817 -212.11161" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-34" gltf-model="#fir-tree-asset" position="21.03019 -5.81817 -228.53221" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-35" gltf-model="#fir-tree-asset" position="-2.75652 -5.81817 -220.99612" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-36" gltf-model="#fir-tree-asset" position="52.86403 -5.81817 -210.61677" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-37" gltf-model="#fir-tree-asset" position="60.26888 -5 -191.90677" rotation="-0.01 110 0"
  scale="0.06 0.06 0.06"></a-entity>
<a-entity id="picnic-1" gltf-model="#picnic-asset" position="-19.79602 0.07849 55.60797" rotation="0 90 0"
  scale="0.6 0.7 0.6"></a-entity>
<a-entity id="picnic-2" gltf-model="#picnic-asset" position="-13.36999 0.10018 70.21693" rotation="0 90 0"
  scale="0.6 0.6 0.6"></a-entity>

<!-- <a-entity id="gate-tall-bush-3" class="performance" gltf-model="#tall-bush-asset" position="52.25803 -3.55616 43.16692"
  rotation="-0.01 0 0" scale="2.4 4 6"></a-entity>
<a-entity id="gate-tall-bush-4" class="performance" gltf-model="#tall-bush-asset" position="40.30053 -3.47162 78.89107"
  rotation="-0.01 337.46 0" scale="2 4 6"></a-entity>
<a-entity id="gate-tall-bush-10" class="performance" gltf-model="#tall-bush-asset"
  position="-55.56431 -8.05873 -131.99687" rotation="-0.01 0 0" scale="6 6 6"></a-entity>
<a-entity id="gate-tall-bush-13" class="performance" gltf-model="#tall-bush-asset"
  position="59.63224 -3.34623 -117.83523" rotation="-0.01 110 0" scale="4.85 2.59 3.4"></a-entity> -->

<a-entity id="gate-billboard-1" gltf-model="#billboard-asset" position="30.90424 5.41024 12.47209" rotation="0 90 0"
  scale="0.07 0.095 0.07">
  <a-image id="gate-nt-pannel" src="#nt-pannel-asset" scale="252.88 112.02 300" position="-15.76475 58.59778 0.60573"
    rotation="0 -90 0.16" material="; alphaTest: 0; opacity: 1; shader: standard; emissive: #000000" geometry="">
  </a-image>
</a-entity>

<a-entity id="big-wall-1" gltf-model="#big-wall-asset" position="19.26766 0.07071 11.421" rotation="0 0 0"
  scale="-8 8 15"></a-entity>
<a-entity id="big-wall-2" gltf-model="#big-wall-asset" position="-49.30811 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="big-wall-3" gltf-model="#big-wall-asset" position="113.47429 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="big-wall-4" gltf-model="#big-wall-asset" position="-1.19083 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="gate-big-door" sound__gateopen="src: #gate-open; volume: 20"
  sound__gateclose="src: #gate-close; volume: 20" gltf-model="#big-door-asset" position="8.94262 10 10.01273"
  rotation="90 0 0" scale="0.02 0.02 0.02"></a-entity>

<a-entity id="small-light-1" gltf-model="#small-light-asset" position="19.52966 10.603 12.543" rotation="90 0 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="small-light-2" gltf-model="#small-light-asset" position="-1.50598 10.6026 12.69951" rotation="90 0 0"
  scale="0.05 0.05 0.05"></a-entity>
<a-entity id="lampadaire-1" gltf-model="#lampadaire-asset" position="-23.01333 2.98302 48.11172" rotation="0 0 0"
  scale="3 3 3"></a-entity>
<a-entity id="lampadaire-2" gltf-model="#lampadaire-asset" position="-18.3175 2.98302 70.0705" rotation="0 0 0"
  scale="3 3 3"></a-entity>