<a-entity id="forest-scene-1" gltf-model="#forest-scene-asset" position="7.45799 0 -188.93458" rotation="0 0 0"
  scale="2 2 2"></a-entity>

<a-entity id="big-wall-1" gltf-model="#big-wall-asset" position="19.26766 0.07071 11.421" rotation="0 0 0"
  scale="-8 8 15"></a-entity>
<a-entity id="big-wall-2" gltf-model="#big-wall-asset" position="-49.30811 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="big-wall-3" gltf-model="#big-wall-asset" position="113.47429 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="big-wall-4" gltf-model="#big-wall-asset" position="-1.19083 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="gate-big-door" sound__gateopen="src: #gate-open; volume: 20"
  sound__gateclose="src: #gate-close; volume: 20" gltf-model="#big-door-asset" position="8.94262 10 10.01273"
  rotation="90 0 0" scale="0.02 0.02 0.02"></a-entity>

<a-entity id="gate-corridor" gltf-model="#corridor-asset" position="9.15533 5.65322 67.53643" rotation="0 90 0"
  scale="2.8 2.8 2.8">
</a-entity>
<a-entity id="gate-fountain" sound__fountain="src: #trice-fountain; volume: 15; loop: true" gltf-model="#fountain-asset"
  position="8.61068 -0.67145 -188.22422" rotation="0 0 0" scale="0.04 0.04 0.04">
</a-entity>
<a-entity id="gate-waterfall" animation-mixer="clip: Animation" gltf-model="#waterfall-asset"
  position="7.71691 -1.69365 -187.5388" rotation="0 0 0" scale="0.25 0.25 0.25"></a-entity>

<a-box id="gate-box-1" scale="0.01 0.05 0.3" position="21.17052 5.7914 71.3782" color="#000" depth="400" height="220"
  width="200">
</a-box>
<a-box id="gate-box-2" scale="0.01 0.05 0.01" position="-1.43422 5.7914 56.23818" color="#000" depth="400" height="220"
  width="200">
</a-box>
<a-box id="gate-box-3" scale="0.01 0.05 0.01" position="-1.43422 5.7914 33.78428" color="#000" depth="400" height="220"
  width="200">
</a-box>
<a-box id="gate-box-4" scale="0.01 0.05 0.01" position="-1.43422 5.7914 78.71978" color="#000" depth="400" height="220"
  width="200">
</a-box>

<a-box id="gate-box-5" scale="0.08 0.01 0.3" position="9.55808 12.50112 71.63029" color="#000" depth="400" height="220"
  width="200">
</a-box>