<a-entity id="brachio" brachio-animation gltf-model="#brachio-asset"
  sound__foot="src: #brachio-step; volume: 180; rolloffFactor: 9; loop: true"
  sound__roar="src: #brachio-roar; volume: 180; rolloffFactor: 9; loop: true" position="-67.748 0.002 -75.678"
  rotation="0 -90 0" scale="0.020 0.020 -0.020">
</a-entity>
<a-entity id="trice" rotation="0 -23.37 0" position="-11.44316 0 -203.1938" trice-animation animation-mixer="clip: Triceratops_Sleep" gltf-model="#trice-asset"
  scale="0.020 0.020 -0.020">
</a-entity>
<a-entity id="trice-2" rotation="0 60 0" position="41.0612 0 -200.90238" trice-animation animation-mixer="clip: Triceratops_Sleep" gltf-model="#trice-asset"
  scale="0.020 0.020 -0.020">
</a-entity>
<a-entity id="trice-3" rotation="0 -120 0" position="21.11983 0 -211.85118" trice-animation animation-mixer="clip: Triceratops_Sleep" gltf-model="#trice-asset"
  scale="0.020 0.020 -0.020">
</a-entity>