<a-entity id="gate-low-grass-01" gltf-model="#low-grass-asset" position="21.47051 0.187 2.66751" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-02" gltf-model="#low-grass-asset" position="25.55827 0.187 -8.52894" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-03" gltf-model="#low-grass-asset" position="20.95984 0.187 -22.66697" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-04" gltf-model="#low-grass-asset" position="27.17838 0.187 -34.04565" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-05" gltf-model="#low-grass-asset" position="22.60229 0.187 -46.93313" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-06" gltf-model="#low-grass-asset" position="-2.49633 0.187 3.26904" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-07" gltf-model="#low-grass-asset" position="-7.78764 0.187 -4.1144" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-08" gltf-model="#low-grass-asset" position="-1.9901 0.187 -13.32658" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-09" gltf-model="#low-grass-asset" position="-5.22293 0.187 -26.49147" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-10" gltf-model="#low-grass-asset" position="-23.85062 0.187 -25.64513" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-20" gltf-model="#low-grass-asset" position="-4.42466 0.187 -48.2255" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-21" gltf-model="#low-grass-asset" position="21.47051 0.187 -67.11879" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-22" gltf-model="#low-grass-asset" position="25.55827 0.187 -78.23584" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-23" gltf-model="#low-grass-asset" position="20.95984 0.187 -86.82355" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-24" gltf-model="#low-grass-asset" position="22.9099 0.187 -56.60747" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-25" gltf-model="#low-grass-asset" position="22.60229 0.187 -97.29667" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-26" gltf-model="#low-grass-asset" position="-2.60409 0.187 -59.83149" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-27" gltf-model="#low-grass-asset" position="-7.78764 0.187 -69.65504" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-28" gltf-model="#low-grass-asset" position="-1.9901 0.187 -79.47403" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-29" gltf-model="#low-grass-asset" position="-6.91468 0.187 -92.76095" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-30" gltf-model="#low-grass-asset" position="-2.58212 0.187 -111.62153" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-31" gltf-model="#low-grass-asset" position="21.47051 0.187 -106.48489" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-32" gltf-model="#low-grass-asset" position="25.55827 0.187 -120.06871" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-33" gltf-model="#low-grass-asset" position="20.95984 0.187 -133.07005" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-34" gltf-model="#low-grass-asset" position="22.9099 0.187 -145.71479" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-35" gltf-model="#low-grass-asset" position="22.60229 0.187 -155.84984" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-36" gltf-model="#low-grass-asset" position="-2.49633 0.187 -122.74895" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-37" gltf-model="#low-grass-asset" position="-7.78764 0.187 -129.73762" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-38" gltf-model="#low-grass-asset" position="-1.9901 0.187 -139.01046" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-39" gltf-model="#low-grass-asset" position="-6.91468 0.187 -146.93767" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-40" gltf-model="#low-grass-asset" position="-2.94925 0.187 -160.11518" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-41" gltf-model="#low-grass-asset" position="22.46945 0.187 -170.43557" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-42" gltf-model="#low-grass-asset" position="30.14257 0.187 -186.03631" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-43" gltf-model="#low-grass-asset" position="26.72361 0.187 -205.41121" rotation="0 70 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-44" gltf-model="#low-grass-asset" position="3.1838 0.187 -208.68892" rotation="0 0.31 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-45" gltf-model="#low-grass-asset" position="-10.99004 0.187 -190.28016" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-46" gltf-model="#low-grass-asset" position="-33.01939 0.187 -203.73218" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-47" gltf-model="#low-grass-asset" position="-8.03404 0.187 -176.82415" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-48" gltf-model="#low-grass-asset" position="-3.21041 0.187 -168.24017" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-49" gltf-model="#low-grass-asset" position="33.75267 0.187 -181.44505" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-51" gltf-model="#low-grass-asset" position="33.64591 0.187 2.66751" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-52" gltf-model="#low-grass-asset" position="37.74654 0.187 -8.52894" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-53" gltf-model="#low-grass-asset" position="33.39755 0.187 -22.66697" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-54" gltf-model="#low-grass-asset" position="40.23245 0.187 -34.04565" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-55" gltf-model="#low-grass-asset" position="36.65137 0.187 -46.93313" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-56" gltf-model="#low-grass-asset" position="-23.91394 0.187 3.26904" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-57" gltf-model="#low-grass-asset" position="-29.97054 0.187 -4.1144" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-58" gltf-model="#low-grass-asset" position="-24.01615 0.187 -13.32658" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-59" gltf-model="#low-grass-asset" position="-17.28894 0.187 -26.21198" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-60" gltf-model="#low-grass-asset" position="-33.37916 0.187 -31.11462" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-61" gltf-model="#low-grass-asset" position="45.71595 0.187 -67.11879" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-62" gltf-model="#low-grass-asset" position="38.67405 0.187 -78.23584" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-63" gltf-model="#low-grass-asset" position="35.62696 0.187 -95.28766" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-64" gltf-model="#low-grass-asset" position="40.01586 0.187 -54.33079" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-65" gltf-model="#low-grass-asset" position="43.32582 0.187 -102.154" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-66" gltf-model="#low-grass-asset" position="-26.44398 0.187 -56.96048" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-67" gltf-model="#low-grass-asset" position="-30.90973 0.187 -68.03609" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-68" gltf-model="#low-grass-asset" position="-24.9517 0.187 -79.47403" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-69" gltf-model="#low-grass-asset" position="-22.67352 0.187 -89.74707" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-70" gltf-model="#low-grass-asset" position="-28.0028 0.187 -111.62153" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-71" gltf-model="#low-grass-asset" position="42.43246 0.187 -110.21239" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-72" gltf-model="#low-grass-asset" position="43.28812 0.187 -120.06871" rotation="0 40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-73" gltf-model="#low-grass-asset" position="52.35822 0.187 -140.1077" rotation="0 80 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-74" gltf-model="#low-grass-asset" position="38.48663 0.187 -145.71479" rotation="0 20 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-75" gltf-model="#low-grass-asset" position="37.00674 0.187 -158.98824" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-76" gltf-model="#low-grass-asset" position="-27.27993 0.187 -120.37293" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-77" gltf-model="#low-grass-asset" position="-34.2901 0.187 -129.96614" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-78" gltf-model="#low-grass-asset" position="-24.79838 0.187 -139.01046" rotation="0 180 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-79" gltf-model="#low-grass-asset" position="-18.85854 0.187 -146.93767" rotation="0 120 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-80" gltf-model="#low-grass-asset" position="-34.68982 0.187 -148.57831" rotation="0 80 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-81" gltf-model="#low-grass-asset" position="52.14788 0.187 -163.94321" rotation="0 80 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-82" gltf-model="#low-grass-asset" position="33.64611 0.187 -233.68691" rotation="0 -40 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-83" gltf-model="#low-grass-asset" position="38.11486 0.187 -206.73421" rotation="0 0 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-84" gltf-model="#low-grass-asset" position="3.97904 0.187 -225.28676" rotation="0 -15.57 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-85" gltf-model="#low-grass-asset" position="-25.02659 0.187 -189.61207" rotation="0 60 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-86" gltf-model="#low-grass-asset" position="-8.6407 0.187 -220.47473" rotation="0 240 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-87" gltf-model="#low-grass-asset" position="-31.40565 0.187 -173.0869" rotation="0 110 0"
  scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-88" gltf-model="#low-grass-asset" position="16.23651 0.187 -233.88192"
  rotation="0 -39.86 0" scale="2 1 2"></a-entity>
<a-entity id="gate-low-grass-89" gltf-model="#low-grass-asset" position="45.31241 0.187 -188.70539" rotation="0 46.24 0"
  scale="2 1 2"></a-entity>

<!-- Plants and trees-->
<a-entity id="gate-simple-plant-01" gltf-model="#forest-fern-1-asset" position="-8.684 3.92701 53.53669"
  rotation="-0.01 50 0" scale="6 6 6"></a-entity>
<a-entity id="gate-simple-plant-02" gltf-model="#forest-fern-1-asset" position="-15.94903 -0.34722 -65.4316"
  rotation="-0.01 0 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-03" gltf-model="#forest-fern-1-asset" position="-13.49346 0 -49.53286"
  rotation="-0.01 90 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-04" gltf-model="#forest-fern-1-asset" position="-8.49978 -0.00804 -54.83389"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-05" gltf-model="#forest-fern-1-asset" position="28.89198 0 -71.42896"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-06" gltf-model="#forest-fern-1-asset" position="-20.83941 0 -41.57491"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-07" gltf-model="#forest-fern-1-asset" position="-7.03561 0 -104.46602"
  rotation="-0.01 41.6 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-08" gltf-model="#forest-fern-1-asset" position="-3.94107 0.14653 -39.51649"
  rotation="-0.01 0 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-013" gltf-model="#forest-fern-1-asset" position="-16.3481 0 -57.84333"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-015" gltf-model="#forest-fern-1-asset" position="-30.18288 -0.00862 -19.98042"
  rotation="-0.01 33.27 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-016" gltf-model="#forest-fern-1-asset" position="-7.52845 0.09309 -41.73691"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-17" gltf-model="#forest-fern-1-asset" position="-15.89182 0 -42.83714"
  rotation="-0.01 50 0" scale="6 6 6"></a-entity>
<a-entity id="gate-simple-plant-18" gltf-model="#forest-fern-1-asset" position="-10.66362 0 -61.69994"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-19" gltf-model="#forest-fern-1-asset" position="29.87537 0 -84.92651"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-20" gltf-model="#forest-fern-1-asset" position="16.65639 0 -15.41304"
  rotation="-0.01 64.74 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-21" gltf-model="#forest-fern-1-asset" position="-1.04235 0 -101.41544"
  rotation="-0.01 -50 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-31" gltf-model="#forest-fern-1-asset" position="-18.64038 -0.16198 -161.8573"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-32" gltf-model="#forest-fern-1-asset" position="-16.1095 -0.34722 -182.26003"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-33" gltf-model="#forest-fern-1-asset" position="9.72445 0.03579 -214.45236"
  rotation="-0.01 50 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-34" gltf-model="#forest-fern-1-asset" position="-6.8958 0 -207.51127"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-35" gltf-model="#forest-fern-1-asset" position="39.10184 0 -212.08213"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-36" gltf-model="#forest-fern-1-asset" position="28.89426 0 -175.27285"
  rotation="-0.01 50 0" scale="4 4 4"></a-entity>
<a-entity id="gate-simple-plant-37" gltf-model="#forest-fern-1-asset" position="36.10116 0 -214.77004"
  rotation="-0.01 41.6 0" scale="5 5 5"></a-entity>
<a-entity id="gate-simple-plant-38" gltf-model="#forest-fern-1-asset" position="36.71486 -0.4355 -191.40408"
  rotation="-0.01 59.93 0" scale="6 6 6"></a-entity>
<a-entity id="gate-double-rock-01" gltf-model="#double-rock-asset" position="-10.26536 0 23.52987" rotation="-0.01 50 0"
  scale="10 8 8"></a-entity>
<a-entity id="gate-palms-01" gltf-model="#forest-pine-large-asset" position="29.26058 5.837 -30.82245"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-02" gltf-model="#forest-pine-large-asset" position="41.16374 5.837 -107.60938"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-03" gltf-model="#forest-pine-large-asset" position="19.80598 5.837-69.78492"
  rotation="-0.01 -24.24 0" scale="0.06 0.07 0.06"></a-entity>
<a-entity id="gate-palms-04" gltf-model="#forest-pine-large-asset" position="-37.96983 5.837 -55.8449"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-05" gltf-model="#forest-pine-large-asset" position="-20.19213 5.837 -4.22741"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-06" gltf-model="#forest-pine-large-asset" position="-6.21947 5.837 -93.13499"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-07" gltf-model="#forest-pine-large-asset" position="28.0606 5.837 -69.56561"
  rotation="-0.01 160 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-08" gltf-model="#forest-pine-large-asset" position="36.90504 5.837 -77.65706"
  rotation="-0.01 22.62 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-09" gltf-model="#forest-pine-large-asset" position="-28.353 5.837 -24.83523"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-10" gltf-model="#forest-pine-large-asset" position="-13.01 5.837 -34.09111"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-11" gltf-model="#forest-pine-large-asset" position="-6.26529 5.837 -54.5191"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-12" gltf-model="#forest-pine-large-asset" position="53.47128 5.837 -122.15695"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-13" gltf-model="#forest-pine-large-asset" position="51.11992 6.00421 -27.74432"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>

<a-entity id="gate-palms-14" gltf-model="#forest-pine-large-asset" position="-18.50575 5.837 63.75012"
  rotation="-0.01 0 -15" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-15" gltf-model="#forest-pine-large-asset" position="72.59736 5.837 -205.70476"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-16" gltf-model="#forest-pine-large-asset" position="-0.37018 5.837 23.51437"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-17" gltf-model="#forest-pine-large-asset" position="-4.52963 5.837 64.80092"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-18" gltf-model="#forest-pine-large-asset" position="64.06758 5.837 -88.60017"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-19" gltf-model="#forest-pine-large-asset" position="-2.66496 5.837 85.01538"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-20" gltf-model="#forest-pine-large-asset" position="32.8758 5.837 -241.89784"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-21" gltf-model="#forest-pine-large-asset" position="-12.29712 5.837 -118.2857"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-22" gltf-model="#forest-pine-large-asset" position="25.16829 5.837 -137.75366"
  rotation="-0.01 0 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-23" gltf-model="#forest-pine-large-asset" position="-9.70522 5.837 -158.25141"
  rotation="-0.01 50 0" scale="0.06 0.06 0.06"></a-entity>

<a-entity id="gate-palms-24" gltf-model="#forest-pine-large-asset" position="38.49031 4.73072 -163.54582"
  rotation="-0.01 0 -15" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-25" gltf-model="#forest-pine-large-asset" position="-27.2948 5.837 -142.26087"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-26" gltf-model="#forest-pine-large-asset" position="-35.25353 5.837 -104.9189"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-27" gltf-model="#forest-pine-large-asset" position="61.64473 5.837 -162.63869"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-28" gltf-model="#forest-pine-large-asset" position="46.48427 5.837 -227.98018"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-29" gltf-model="#forest-pine-large-asset" position="-19.72 5.837 -196.77243"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-30" gltf-model="#forest-pine-large-asset" position="1.76498 5.36305 -221.90091"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-31" gltf-model="#forest-pine-large-asset" position="51.67532 5.837 -204.32359"
  rotation="-0.01 0 -15" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-32" gltf-model="#forest-pine-large-asset" position="-29.92975 5.837 -182.80182"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-33" gltf-model="#forest-pine-large-asset" position="-22.58674 5.837 -212.11161"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-34" gltf-model="#forest-pine-large-asset" position="21.03019 5.837 -228.53221"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-35" gltf-model="#forest-pine-large-asset" position="-13.10797 5.837 -228.45913"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-36" gltf-model="#forest-pine-large-asset" position="56.26476 5.837 -210.61677"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="gate-palms-37" gltf-model="#forest-pine-large-asset" position="74.13156 -5 -190.05316"
  rotation="-0.01 110 0" scale="0.06 0.06 0.06"></a-entity>

<!-- <a-entity id="gate-tall-bush-3" class="performance" gltf-model="#tall-bush-asset" position="52.25803 -3.55616 43.16692"
  rotation="-0.01 0 0" scale="2.4 4 6"></a-entity>
<a-entity id="gate-tall-bush-4" class="performance" gltf-model="#tall-bush-asset" position="40.30053 -3.47162 78.89107"
  rotation="-0.01 337.46 0" scale="2 4 6"></a-entity>
<a-entity id="gate-tall-bush-10" class="performance" gltf-model="#tall-bush-asset"
  position="-55.56431 -8.05873 -131.99687" rotation="-0.01 0 0" scale="6 6 6"></a-entity>
<a-entity id="gate-tall-bush-13" class="performance" gltf-model="#tall-bush-asset"
  position="59.63224 -3.34623 -117.83523" rotation="-0.01 110 0" scale="4.85 2.59 3.4"></a-entity> -->

<a-entity id="big-wall-1" gltf-model="#big-wall-asset" position="19.26766 0.07071 11.421" rotation="0 0 0"
  scale="-8 8 15"></a-entity>
<a-entity id="big-wall-2" gltf-model="#big-wall-asset" position="-49.30811 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="big-wall-3" gltf-model="#big-wall-asset" position="113.47429 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="big-wall-4" gltf-model="#big-wall-asset" position="-1.19083 0.07071 11.421" rotation="0 0 0"
  scale="8 8 15"></a-entity>
<a-entity id="gate-big-door" sound__gateopen="src: #gate-open; volume: 20"
  sound__gateclose="src: #gate-close; volume: 20" gltf-model="#big-door-asset" position="8.94262 10 10.01273"
  rotation="90 0 0" scale="0.02 0.02 0.02"></a-entity>

<a-entity id="gate-corridor" gltf-model="#corridor-asset" position="9.15533 5.65322 67.53643" rotation="0 90 0"
  scale="2.8 2.8 2.8">
</a-entity>
<a-entity id="gate-fountain" sound__fountain="src: #trice-fountain; volume: 15; loop: true" gltf-model="#fountain-asset"
  position="8.61068 -0.67145 -188.22422" rotation="0 0 0" scale="0.04 0.04 0.04">
</a-entity>
<a-entity id="gate-waterfall" animation-mixer="clip: Animation" gltf-model="#waterfall-asset"
  position="7.71691 -1.69365 -187.5388" rotation="0 0 0" scale="1 1 1"></a-entity>

<a-box id="gate-box-1" scale="0.01 0.05 0.3" position="21.17052 5.7914 71.3782" color="#000" depth="400" height="220"
  width="200">
</a-box>
<a-box id="gate-box-2" scale="0.01 0.05 0.01" position="-1.43422 5.7914 56.23818" color="#000" depth="400" height="220"
  width="200">
</a-box>
<a-box id="gate-box-3" scale="0.01 0.05 0.01" position="-1.43422 5.7914 33.78428" color="#000" depth="400" height="220"
  width="200">
</a-box>
<a-box id="gate-box-4" scale="0.01 0.05 0.01" position="-1.43422 5.7914 78.71978" color="#000" depth="400" height="220"
  width="200">
</a-box>

<a-box id="gate-box-5" scale="0.08 0.01 0.3" position="9.55808 12.50112 71.63029" color="#000" depth="400" height="220"
  width="200">
</a-box>