<a-entity id="gate-car" gate-car-tour car-controls gltf-model="#car-asset" position="7.988 -0.1 81.899"
  rotation="0 180 0" scale="1 1 1">
  <a-image id="loading-logo" src="#loading-asset" scale="3 2 2" position="-4 -78.5 0.33" rotation="0 90 0"></a-image>
  <!-- Tour images -->
  <a-image id="rendering" src="#rendering-asset" scale="0.23 0.205 0.25" position="-0.765 1.82434 -0.03445"
    rotation="0 90 0" material="" geometry="" visible="false"></a-image>
  <a-image id="gate-screen-default" src="#screen-default-asset" scale="0.23 0.21 0.25" position="-0.765 -100 -0.03445"
    rotation="0 90 0" material="" geometry="" visible="false"></a-image>
  <a-image id="gate-screen-galli" src="#screen-galli-asset" scale="0.26 0.12 0.18" position="-0.85736 1.71106 -0.04106"
    rotation="-29.55 90 0" material="" geometry="" visible="false"></a-image>
  <a-image id="gate-screen-trice" src="#screen-trice-asset" scale="0.26 0.12 0.18" position="-0.85736 1.71106 -0.04106"
    rotation="-29.55 90 0" material="" geometry="" visible="false"></a-image>
  <a-image id="gate-screen-brachio" src="#screen-brachio-asset" scale="0.26 0.12 0.18"
    position="-0.85736 1.71106 -0.04106" rotation="-29.55 90 0" material="" geometry="" visible="false"></a-image>

  <a-plane id="gate-car-back" position="-0.82634 1.69676 -2.13448" rotation="0 0 0" width="4" height="4" color="#000"
    material="" geometry="width: 2; height: 2"></a-plane>

  <a-entity id="gate-interior-light" light="type: spot; intensity: 3.53; distance: 14.99; decay: 4.37; penumbra: 0.27"
    position="1.69626 2.59979 -0.02144" visible="" rotation="-20 90 0"></a-entity>
  <a-entity id="gate-interior-light-2" light="type: spot; intensity: 3.53; distance: 14.99; decay: 4.37; penumbra: 0.27"
    position="0.55626 2.59979 -0.02144" visible="true" rotation="-20 90 0"></a-entity>
  <a-entity id="gate-headlight-light" light="type: spot; angle: 45; distance: 25; intensity: 7; penumbra: 0.27"
    position="-0.76515 1.56139 2.63074" rotation="-13.02 180 0" visible="true"></a-entity>
  <a-entity id="headlight-light-2" light="type: spot; angle: 45; distance: 25; intensity: 7; penumbra: 0.27"
    position="-0.84801 3 1.14304" rotation="48.12 180 0" visible=""></a-entity>
  <a-entity id="headlight-light-3" light="type: spot; angle: 45; distance: 25; intensity: 3; penumbra: 0.27"
    position="-0.81103 2.48903 0.39644" rotation="5 90 0" visible=""></a-entity>
  <a-entity id="headlight-light-4" light="type: spot; angle: 45; distance: 25; intensity: 3; penumbra: 0.27"
    position="-0.71073 2.42094 0.0937" rotation="5 -90 0" visible=""></a-entity>
  <a-entity id="rig" position="4.79496 -0.7 1.0998" rotation="0 180 0">
    <a-entity id="hands">
      <a-entity id="gate-scene-camera" class="camera-entity" camera position="0 1.6 0" user-height="0"
        fps-look-controls="user-height: 0">
      </a-entity>
      <a-entity id="leftHand" sphere-collider="objects: a-box" super-hands
        hand-controls="hand: left; handModelStyle: highPoly; color: #ffcccc"></a-entity>
      <a-entity fps-counter="enabled: true; for90fps: true" id="rightHand" rotation="10 0 0"
        sphere-collider="objects: a-box" super-hands
        hand-controls="hand: right; handModelStyle: highPoly; color: #ffcccc"></a-entity>
    </a-entity>
  </a-entity>
</a-entity>