<!-- Plants and trees-->
<a-entity id="trex-forest-rock-1" gltf-model="#forest-rock-1-asset" position="-25.44415 -0.56431 7.04206"
  rotation="0 -181.77 0" scale="0.54 0.5 0.6"></a-entity>
<a-entity id="trex-forest-rock-2" gltf-model="#forest-rock-2-asset" position="-45.03987 -2.51346 11.60996"
  rotation="0 -127.46 0" scale="0.1 0.1 0.1"></a-entity>
<a-entity id="trex-forest-pine-1" gltf-model="#forest-pine-1-asset" position="-29.63358 -0.58577 3.25077"
  rotation="0 -116.31 0" scale="2.5 2.5 2.5"></a-entity>
<a-entity id="trex-forest-pine-2" gltf-model="#forest-pine-2-asset" position="-26.42015 0.01824 11.57534"
  rotation="0 -116.31 0" scale="0.02 0.02 0.02"></a-entity>
<a-entity id="trex-forest-fern-1" gltf-model="#forest-fern-1-asset" position="-27.81541 0.77255 1.25466"
  rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="trex-forest-plant-1" gltf-model="#forest-plant-1-asset" position="-27.04052 0.112 3.73232"
  rotation="0 -116.31 0" scale="1 1 1"></a-entity>
<a-entity id="trex-forest-fern-2" gltf-model="#forest-fern-2-asset" position="-25.57816 0.93579 -0.28335"
  rotation="0 -116.31 0" scale="1 1 1"></a-entity>
<a-entity id="trex-forest-fern-3" gltf-model="#forest-fern-3-asset" position="-24.82925 0.93579 2.93455"
  rotation="0 -116.31 0" scale="4 4 4"></a-entity>
<a-entity id="trex-forest-ground" gltf-model="#forest-ground-asset" position="-28.28528 -57.812 1.80171"
  rotation="0 100 -2" scale="12 12 12"></a-entity>
<a-entity id="trex-forest-ground-2" gltf-model="#forest-ground-asset" position="-16.35583 -58.4667 16.53462"
  rotation="0 100 -2" scale="12 12 12"></a-entity>
<a-entity id="trex-forest-ground-3" gltf-model="#forest-ground-asset" position="-29.97235 -56.507 -23.08048"
  rotation="0 108 -1.76" scale="12 12 12"></a-entity>
<a-entity id="trex-forest-ground-4" gltf-model="#forest-ground-asset" position="-20.86109 -32.9467 -1.69997"
  rotation="0 108 0" scale="7 7 7"></a-entity>