<a-light id="trex-ambiant-light" visible="true" type="ambient" light="intensity: 20;color: #1c2930"></a-light>
<!-- <a-light id="dimetrodon-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#dimetrodon-directionaltarget">
  <a-entity id="dimetrodon-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="trex-light-2"
  light="distance: 200; decay: 200.01; intensity: 6.282; penumbra: 0; angle: 0; groundColor: #e4863a; color: #98a3a9"
  type="directional" position="3.437 29.80533 -27.336" rotation="-90 0 0" target="#trex-directionaltarget-2">
  <a-entity id="trex-directionaltarget-2" position="-74.651 -116.48221 -33.994"></a-entity>
</a-light>

<a-light id="trex-light-3"
  light="distance: 200; decay: 200.01; intensity: 1.884; penumbra: 0; angle: 0; groundColor: #e4863a; color: #98a3a9"
  type="directional" position="22.91489 28.24754 5.5571" rotation="-90 0 0" target="#trex-directionaltarget-3">
  <a-entity id="trex-directionaltarget-3" position="-123.20879 -3.51728 -44.528"></a-entity>
</a-light>