<!-- Plants and trees-->
<a-sky id="trex-sky" visible="false" position="0 -6.4 0" material="color: #ffffff; fog: true; opacity: 1"
  rotation="0 50 0" scale="-1 0.25 0.8" geometry="radius: 200" src="#360-pane-asset"></a-sky>

<a-entity id="trex-forest-rock-11" gltf-model="#forest-rock-1-asset" position="-22.54055 -1.27124 8.76241"
  rotation="0 0 0" scale="0.4 0.3 0.3"></a-entity>
<a-entity id="trex-forest-rock-12" gltf-model="#forest-rock-1-asset" position="-23.44851 -2.15509 0.07447"
  rotation="0 -60 0" scale="0.63 0.5 0.6"></a-entity>
<a-entity id="trex-forest-rock-13" gltf-model="#forest-rock-1-asset" position="-29.55802 -2.64741 -2.47513"
  rotation="0 160 0" scale="0.63 0.5 0.6"></a-entity>
<a-entity id="trex-forest-rock-14" gltf-model="#forest-rock-1-asset" position="-27.4663 -1.29163 5.44907"
  rotation="0 -201.77 0" scale="0.63 0.5 0.6"></a-entity>

<a-entity id="trex-forest-rock-21" gltf-model="#forest-rock-2-asset" position="-46.51633 -6.17563 -13.40576"
  rotation="0 -170.29 0" scale="0.2 0.2 0.2"></a-entity>
<a-entity id="trex-forest-rock-22" gltf-model="#forest-rock-2-asset" position="-39.10843 -4.82628 28.04748"
  rotation="-11.61 -276.48 0" scale="0.13 0.15 0.13"></a-entity>
<a-entity id="trex-forest-rock-23" gltf-model="#forest-rock-2-asset" position="-23.97509 -6.45707 40.72357"
  rotation="0 -127.46 0" scale="-0.2 0.2 0.2"></a-entity>
<a-entity id="trex-forest-rock-25" gltf-model="#forest-rock-2-asset" position="-45.11106 -3.22374 11.90298"
  rotation="5.51 -126.56000000000002 -22.32" scale="0.12 0.1 0.12"></a-entity>

<a-entity id="trex-forest-pine-11" class="performance" gltf-model="#forest-pine-1-asset"
  position="-38.29926 -1.12991 -11.12238" rotation="0 50 0" scale="5 5 5"></a-entity>
<a-entity id="trex-forest-pine-12" class="performance" gltf-model="#forest-pine-1-asset"
  position="-41.72956 -0.58577 -2.82401" rotation="-5.16 0 0" scale="5 5 5"></a-entity>
<a-entity id="trex-forest-pine-13" class="performance" gltf-model="#forest-pine-1-asset"
  position="-42.90901 -0.58577 6.5173" rotation="0 -116.31000000000002 0" scale="5 5 5"></a-entity>
<a-entity id="trex-forest-pine-14" class="performance" gltf-model="#forest-pine-1-asset"
  position="-26.04788 -1.71436 1.71721" rotation="0 -504.04 0" scale="5 5 5"></a-entity>

<a-entity id="trex-forest-pine-21" class="performance" gltf-model="#forest-pine-2-asset"
  position="-18.93491 -1.13172 22.39917" rotation="0 -116.31 0" scale="0.06 0.06 0.06"></a-entity>
<a-entity id="trex-forest-pine-23" class="performance" gltf-model="#forest-pine-2-asset"
  position="-27.95332 -2.93035 26.4492" rotation="0 64.1 0" scale="0.06 0.08 0.06"></a-entity>
<a-entity id="trex-forest-pine-24" class="performance" gltf-model="#forest-pine-2-asset"
  position="-26.96851 -0.31563 15.98918" rotation="0 -116.31000000000002 0" scale="0.06 0.06 0.06"></a-entity>

<a-entity id="trex-forest-fern-11" class="performance" gltf-model="#forest-fern-1-asset"
  position="-24.19608 -0.09905 11.44725" rotation="0 120 0" scale="3 3 3"></a-entity>
<a-entity id="trex-forest-fern-12" class="performance" gltf-model="#forest-fern-1-asset"
  position="-24.2307 -0.36883 5.31954" rotation="0 0 0" scale="3 3 3"></a-entity>
<a-entity id="trex-forest-fern-13" class="performance" gltf-model="#forest-fern-1-asset"
  position="-36.32536 -0.62814 -2.12698" rotation="0 60 0" scale="4 4 4"></a-entity>
<a-entity id="trex-forest-fern-14" class="performance" gltf-model="#forest-fern-1-asset"
  position="-38.42101 -0.66124 11.34487" rotation="0 0 0" scale="4 4 4"></a-entity>
<a-entity id="trex-forest-fern-15" class="performance" gltf-model="#forest-fern-1-asset"
  position="-28.09852 -0.31682 0.90895" rotation="0 -2.76 0" scale="2 2 2"></a-entity>


<a-entity id="trex-forest-fern-21" class="performance" gltf-model="#forest-fern-3-asset"
  position="-37.97521 -0.84524 -4.11185" rotation="0 120 0" scale="6 6 6"></a-entity>
<a-entity id="trex-forest-fern-22" class="performance" gltf-model="#forest-fern-3-asset"
  position="-24.139 0.09713 16.60631" rotation="0 50 0" scale="6 6 6"></a-entity>
<a-entity id="trex-forest-fern-23" class="performance" gltf-model="#forest-fern-3-asset"
  position="-26.92883 -0.29719 11.23228" rotation="0 -116.31 0" scale="6 6 6"></a-entity>
<a-entity id="trex-forest-fern-24" class="performance" gltf-model="#forest-fern-3-asset"
  position="-23.76539 -0.08624 19.37559" rotation="0 -137.3 0" scale="6 6 6"></a-entity>
<a-entity id="trex-forest-fern-25" class="performance" gltf-model="#forest-fern-3-asset"
  position="-17.61156 -0.6816 17.02342" rotation="0 -116.31000000000002 0" scale="6 6 6"></a-entity>

<a-entity id="trex-forest-ground" gltf-model="#forest-ground-asset" position="-31.18237 -1.25882 -11.63107"
  rotation="-1.32 100 -0.43" scale="-12 12 -12"></a-entity>
<a-entity id="trex-forest-ground-2" gltf-model="#forest-ground-asset" position="-37.82341 -1.147 13.58088"
  rotation="0 110 -1.43" scale="15 10.23 15"></a-entity>
<a-entity id="trex-forest-ground-3" gltf-model="#forest-ground-asset" position="-20.73162 -0.84063 17.83126"
  rotation="0 108 -1.76" scale="12 12 12"></a-entity>
<a-entity id="trex-forest-ground-4" gltf-model="#forest-ground-asset" position="-22.64206 -0.95184 6.8262"
  rotation="0 108 0" scale="7 7 7"></a-entity>