<a-light id="trex-ambiant-light" visible="true" type="ambient" light="intensity: 1;color:#c2d9ff"></a-light>
<!-- <a-light id="dimetrodon-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#dimetrodon-directionaltarget">
  <a-entity id="dimetrodon-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="trex-light-2" light="distance: 200; decay: 200; intensity: 0.7; penumbra: 0; angle: 0" type="directional"
  position="25.21314 18.4106 -11.98769" rotation="-90 0 0" target="#dimetrodon-directionaltarget-2">
  <a-entity id="trex-directionaltarget-2" position="-140.54425 -22.52936 -33.99376"></a-entity>
</a-light>