<a-entity visible="true" trex-animation id="trex" gltf-model="#trex-asset"
  position="30.402093100514705 -0.2 -30.527848333528347" rotation="0 149.8410952594472 0" scale="0.027 0.027 0.027"
  sound__trexroar="src: #trex-roar; volume: 20" sound__trexroar2="src: #trex-roar2; volume: 20"
  sound__trexfootstep="src: #trex-foot-step; volume: 30; loop: true" sound__trexdrink="src: #trex-drink; volume: 20"
  sound__trexleaves="src: #trex-leaves; volume: 30" sound__trexhitting="src: #trex-hitting; volume: 30"
  sound__trexendsnoring="src: #trex-end-snoring; volume: 20">
</a-entity>

<a-entity visible="false" trex-animation id="trex-bis" gltf-model="#trex-bis-asset"
  position="30.402093100514705 -0.2 -30.527848333528347" rotation="0 149.8410952594472 0" scale="0.026 0.026 0.026"
  sound__trexleaves="src: #trex-leaves; volume: 30" sound__trexhitting="src: #trex-hitting; volume: 30"
  sound__trexendsnoring="src: #trex-end-snoring; volume: 20">
</a-entity>