<a-entity id="home-ground" class="dispose" gltf-model="#ground-asset" position="-83.9856 0.223 1.78739" rotation="0 0 0"
  scale="2 1 1">
</a-entity>
<a-entity id="home-wall" class="dispose" gltf-model="#big-wall-asset" position="26.52365 -69.0811 -53.15224"
  rotation="0 0 0" scale="36 30 30"></a-entity>
<a-entity id="home-wall-2" class="dispose" gltf-model="#big-wall-asset" position="26.52534 -69.0811 56.43247"
  rotation="0 0 0" scale="36 30 30"></a-entity>
<a-entity id="home-wall-3" class="dispose" gltf-model="#big-wall-asset" position="24.84202 -69.0811 -52.66606"
  rotation="0 90 0" scale="18 30 30"></a-entity>
<a-entity id="home-wall-4" class="dispose" gltf-model="#big-wall-asset" position="-191.67705 -69.0811 -52.66606"
  rotation="0 90 0" scale="18 30 30"></a-entity>
<a-entity id="home-hotel" class="dispose" gltf-model="#hotel-asset" position="-130.54124 2.0443 -91.4115"
  rotation="0 -56.78 0" scale="1.5 1.5 1.5"></a-entity>
<a-entity id="home-resto-terrace" class="dispose" gltf-model="#resto-terrace-asset" position="-64.4006 0.19846 12.02209"
  rotation="0 0 0" scale="0.3 0.3 0.3"></a-entity>
<a-entity id="home-resto-terrace-2" class="dispose" gltf-model="#resto-terrace-asset"
  position="-81.09749 0.19846 4.80014" rotation="0 0 0" scale="0.3 0.3 0.3"></a-entity>
<a-entity id="home-resto-terrace-3" class="dispose" gltf-model="#resto-terrace-asset" position="-73.18192 0.19846 4.856"
  rotation="0 0 0" scale="0.3 0.3 0.3"></a-entity>
<a-entity id="home-station" class="dispose" gltf-model="#station-asset" position="-32.33357 -0.27847 21.42683"
  rotation="0 180 0" scale="2 2 2">
  <a-box id="home-station-text-box" rotation="0 90 0" scale="3.93 1.04 0.5" position="1.39991 3.20396 3.12829"
    material="blending: none; shader: flat; color: #141414"
    geometry="depth: 1; height: 1; width: 1; primitive: box; segmentsHeight: 10; segmentsWidth: 10; radius: 0.1"
    color="black" side="back">
    <a-troika-text id="home-station-text" troika-text="color: #d6d6d6" scale="0.7 2.14 1" position="0.01181 -0.01952 0"
      value="ENTRANCE" font="/assets/font/AlfaSlabOne-Regular.ttf">
    </a-troika-text>
  </a-box>
</a-entity>
<a-entity id="home-resto-building" class="dispose" gltf-model="#cinema-building-asset"
  position="-64.21771 0.08582 35.93985" rotation="0 0 0" scale="0.1 0.1 0.1">
  <a-box id="home-resto-text-box-2" class="dispose" rotation="0 180 0" scale="80 20 5"
    position="-78.53191 59.34633 -196.21525" material="blending: none; shader: flat; color: #141414"
    geometry="depth: 1; height: 1; width: 1; primitive: box; segmentsHeight: 10; segmentsWidth: 10; radius: 0.1"
    color="black" side="back">
    <a-troika-text id="home-resto-text" troika-text="color: #d6d6d6" scale="0.66 1.9 1" position="-0.00156 -0.00996 0"
      value="STEG HOUSE" font="/assets/font/AlfaSlabOne-Regular.ttf">
    </a-troika-text>
  </a-box>
</a-entity>
<a-entity id="home-cinema-2-building" class="dispose" gltf-model="#cinema-building-2-asset"
  position="-70.32454 0.17537 -26.90656" rotation="0 0 0" scale="0.1 0.1 0.1">
  <a-entity id="home-cinema-billboard" visible="true" class="dispose" gltf-model="#billboard-asset"
    position="-58.03401 40.86577 112.16707" rotation="0 90 0" scale="0.11 0.2 0.13">
    <a-image id="home-cinema-poster" src="#home-cinema-poster-asset" scale="265 119.5 10"
      position="-16.21838 58.52372 -0.14743" rotation="0 -90 0"></a-image>
  </a-entity>
  <a-box id="home-cinema-text-box-2" scale="100 20 5" position="38.8563 54.96372 85.55561"
    material="blending: none; shader: flat; color: #141414"
    geometry="depth: 1; height: 1; width: 1; primitive: box; segmentsHeight: 10; segmentsWidth: 10; radius: 0.1"
    color="black" side="back">
    <a-troika-text id="home-cinema-text" position="0 -0.03466 0" scale="0.93 3.13 1" troika-text="color: #d6d6d6"
      value="CINEMA" font="/assets/font/AlfaSlabOne-Regular.ttf"></a-troika-text>
  </a-box>
</a-entity>
<a-entity id="home-resto-bar" class="dispose" gltf-model="#resto-bar-asset" position="-77.89768 -2.93495 16.08228"
  rotation="0 180 0" scale="0.015 0.015 0.02"></a-entity>
<a-entity id="home-shop" class="dispose" gltf-model="#shop-2-asset" position="-91.56279 0.22888 16.22628"
  rotation="0 180 0" scale="0.015 0.015 0.015">
</a-entity>
<a-entity id="home-shop-2" class="dispose" gltf-model="#shop-asset" position="-103.95413 0.22888 -17.27161"
  rotation="0 0 0" scale="0.015 0.015 0.015">
  <a-entity id="home-cloth-rack" class="performance dispose" gltf-model="#cloth-rack-asset"
    position="26.20589 0.22888 -111.29931" rotation="0 180 0" scale="110 110 110"></a-entity>
</a-entity>
<a-entity id="home-shop-3" class="dispose" gltf-model="#shop-2-asset" position="-105.63954 0.22888 16.152"
  rotation="0 180 0" scale="0.015 0.015 0.015"></a-entity>
<a-entity id="home-entrance" class="dispose" gltf-model="#entrance-asset" position="-135.32244 9.28235 0.15023"
  rotation="0 90 0" scale="0.8 1.5 1"></a-entity>
<a-entity id="home-fountain" class="dispose" sound__fountain="src: #home-fountain-asset; volume: 15; loop: true"
  gltf-model="#fountain-asset" position="-57.63201 0.57967 -0.84053" rotation="0 180 0" scale="50 50 50">
  <a-entity id="home-waterfall" animation-mixer="clip: Animation" gltf-model="#waterfall-asset"
    position="-0.00913 -0.10028 -0.0003" rotation="0 0 0" scale="0.002 0.005 0.0025"></a-entity>
</a-entity>
<a-entity id="home-mountain" class="dispose" gltf-model="#big-mountain-asset" position="1300 395.82593 -650"
  rotation="0 180 0" scale="2000 2000 2000">
</a-entity>

<a-entity id="home-terminal" class="dispose" gltf-model="#terminal-asset" position="-105.7073 0.46849 -0.31428"
  rotation="0 -90 0" scale="0.032 0.032 0.032">
  <a-image id="home-pres" src="#home-pres-asset" scale="32 16 10" position="-0.05575 46.56972 -7.50028"
    rotation="-14.210000000000003 3.15 0"></a-image>
</a-entity>
<a-entity id="home-pedestal" class="dispose" gltf-model="#pedestal-asset" position="-98.53296 0.45752 -3.60828"
  rotation="0 80 0" scale="0.006 0.006 0.006">
  <a-entity id="home-stego-skeleton" class="dispose" gltf-model="#stego-skeleton-asset"
    position="-54.59935 70.20361 -56.11493" rotation="0 -40 0" scale="2.7 2.7 2.7"></a-entity>
</a-entity>
<a-entity id="home-simple-fence" class="dispose" gltf-model="#simple-fence-asset"
  position="-119.45848 0.85923 -18.28803" rotation="0 20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-2" class="dispose" gltf-model="#simple-fence-asset"
  position="-38.75718 0.85923 -20.31827" rotation="0 -20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-3" class="dispose" gltf-model="#simple-fence-asset"
  position="-116.53359 0.85923 19.86931" rotation="0 -20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-4" class="dispose" gltf-model="#simple-fence-asset"
  position="-46.12484 0.85923 -23.45066" rotation="0 -20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-5" class="dispose" gltf-model="#simple-fence-asset"
  position="-53.49314 0.85923 27.81534" rotation="0 20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-6" class="dispose" gltf-model="#simple-fence-asset"
  position="-40.82307 0.85923 23.01561" rotation="0 20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-7" class="dispose" gltf-model="#simple-fence-asset"
  position="-121.10692 0.85923 18.23673" rotation="0 -20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-8" class="dispose" gltf-model="#simple-fence-asset"
  position="-112.9738 0.85923 -20.75715" rotation="0 20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-9" class="dispose" gltf-model="#simple-fence-asset" position="-92.57835 0.859 -21.69926"
  rotation="0 0 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-10" class="dispose" gltf-model="#simple-fence-asset"
  position="-31.41534 0.859 -13.96585" rotation="0 110 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-checkpoint-cinema" class="dispose" checkpoint-animation animation-mixer="clip: Take 001"
  gltf-model="#checkpoint-asset" position="-67.70686 1.1 -14.0948" rotation="0 1355.6245858013037 0" scale="4 4 4">
</a-entity>
<a-entity id="home-checkpoint-visitors" class="dispose" checkpoint-animation animation-mixer="clip: Take 001"
  gltf-model="#checkpoint-asset" position="-38.33896 1.1 13.78509" rotation="0 110 0" scale="4 4 4"></a-entity>
<a-entity id="home-checkpoint-shop-md" class="dispose" checkpoint-animation animation-mixer="clip: Take 001"
  gltf-model="#checkpoint-asset" position="-98.1842 1.1 -15.8633" rotation="0 110 0" scale="4 4 4"></a-entity>
<a-entity id="home-subway-entrance" class="dispose" class="performance dispose" gltf-model="#subway-entrance-asset"
  position="-154.74828 0.21302 -9.68062" rotation="0 90 0" scale="3 2 1"></a-entity>
<a-entity id="home-subway-entrance-2" class="dispose" class="performance dispose" gltf-model="#subway-entrance-asset"
  position="-154.74675 0.21302 8.83484" rotation="0 90 0" scale="3 2 1"></a-entity>
<a-entity id="home-trash" class="performance dispose" gltf-model="#trash-asset" position="-86.09057 0.991 11.5764"
  rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="home-trash-2" class="performance dispose" gltf-model="#trash-asset" position="-78.10132 0.991 -13.21709"
  rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="home-pot" class="performance dispose" gltf-model="#pot-asset" position="-126.24064 0.8692 -29.78521"
  rotation="0 0 0" scale="0.05 0.05 0.05">
  <a-entity id="home-simple-tree" class="performance dispose" gltf-model="#forest-pine-2-asset"
    position="61.56844 -44.26334 -0.0114" rotation="0 0 0" scale="1.5 1.5 1.5"></a-entity>
</a-entity>
<a-entity id="home-pot-2" class="performance dispose" gltf-model="#pot-asset" position="-36.81071 0.97571 -27.10218"
  rotation="0 0 0" scale="0.05 0.05 0.05">
  <a-entity id="home-simple-tree-2" class="performance dispose" gltf-model="#forest-pine-1-asset"
    position="7.61686 -82.80939 -6.43308" rotation="0 0 0" scale="80 80 80"></a-entity>
</a-entity>
<a-entity id="home-pot-3" class="performance dispose" gltf-model="#pot-asset" position="-37.99153 0.97571 30.43206"
  rotation="0 0 0" scale="0.05 0.05 0.05">
  <a-entity id="home-simple-tree-3" class="performance dispose" gltf-model="#forest-pine-2-asset"
    position="63.67233 -44.26334 4.77912" rotation="0 0 0" scale="1.5 1.5 1.5"></a-entity>
</a-entity>
<a-entity id="home-pot-4" class="performance dispose" gltf-model="#pot-asset" position="-122.22612 0.97571 24.02285"
  rotation="0 0 0" scale="0.05 0.05 0.05">
  <a-entity id="home-simple-tree-4" class="performance dispose" gltf-model="#forest-pine-2-asset"
    position="61.45267 -44.26334 3.82314" rotation="0 0 0" scale="1.5 1.5 1.5"></a-entity>
</a-entity>
<a-entity id="home-lampadaire-1" class="performance dispose" class="performance dispose" gltf-model="#lampadaire-asset"
  position="-110.86 3.74662 9.33964" rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="home-lampadaire-2" class="performance dispose" gltf-model="#lampadaire-asset"
  position="-88.12199 3.74662 -16.38563" rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="home-lampadaire-3" class="performance dispose" gltf-model="#lampadaire-asset"
  position="-50.571 3.74662 -16.38563" rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="home-lampadaire-4" class="performance dispose" gltf-model="#lampadaire-asset"
  position="-88.122 3.747 9.34" rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="home-lampadaire-5" class="performance dispose" gltf-model="#lampadaire-asset"
  position="-50.571 3.74662 9.34" rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="home-lampadaire-6" class="performance dispose" gltf-model="#lampadaire-asset"
  position="-110.87044 3.74662 -16.38563" rotation="0 0 0" scale="2 2 2"></a-entity>
<a-entity id="home-sign-resto-1" class="performance dispose" gltf-model="#sign-resto-asset"
  position="-86.94764 1.18962 4.72328" rotation="0 90 0" scale="1 1 1"></a-entity>
<a-entity id="home-sign-cofee-1" class="performance dispose" gltf-model="#sign-cofee-asset"
  position="-87.07235 1.14703 7.22254" rotation="0 -15.13 0" scale="1 1 1"></a-entity>
<a-entity id="home-billboard-1" gltf-model="#billboard-asset" position="-34.87812 7.88122 11.33745" rotation="0 0 0"
  scale="0.11 0.07 0.06">
  <a-entity id="home-movie" scale="0.2 0.165 0.5" material="shader: flat; src: #pub"
    geometry="primitive: plane; width: 1280; height: 720;" position="-16.66368 58.25622 0.08577" rotation="0 -90 0">
  </a-entity>
</a-entity>
<a-entity id="home-billboard-2" class="performance dispose" gltf-model="#billboard-2-asset"
  position="-91.07404 2.40028 -17.81609" rotation="0 -50 0" scale="4 4 4">
  <a-image id="home-partners" src="#home-partners-asset" scale="0.95 1.33 1" position="0.00143 0.31362 0.07605"
    rotation="0 0 0"></a-image>
</a-entity>
<a-entity id="home-streetbanch-1" class="performance dispose" gltf-model="#streetbanch-asset"
  position="-100.0595 0.30819 12.64021" rotation="0 180 0" scale="0.025 0.025 0.025"></a-entity>
<a-entity id="home-streetbanch-2" class="performance dispose" gltf-model="#streetbanch-asset"
  position="-84.25646 0.30819 -12.75474" rotation="0 0 0" scale="0.025 0.025 0.025"></a-entity>

<a-entity id="home-men-1" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.8" gltf-model="#men-1-asset"
  position="-77.13672 0.21851 14.04304" rotation="0 180 0" scale="1.45 1.45 1.45"></a-entity>
<a-entity id="home-men-2" class="performance dispose" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.8"
  gltf-model="#men-2-asset" position="-107.94884 0.21851 21.38083" rotation="0 180 0" scale="1.45 1.45 1.45"></a-entity>
<a-entity id="home-men-3" class="performance dispose" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.8"
  gltf-model="#men-1-asset" position="-93.90471 0.21851 22.23679" rotation="0 180 0" scale="1.45 1.45 1.45"></a-entity>
<a-entity id="home-men-4" class="performance dispose" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.8"
  gltf-model="#men-2-asset" position="-102.21604 0.21851 -25.24302" rotation="0 0 0" scale="1.45 1.45 1.45"></a-entity>
<a-entity id="home-men-5" class="performance dispose" animation-mixer="clip: Rig|new_sit_idle; timeScale: 0.8"
  gltf-model="#men-2-asset" position="-74.68023 0.20075 2.89628" rotation="-5.97 0 0" scale="1.3 1.3 1.3"></a-entity>
<a-entity id="home-men-6" class="performance dispose" animation-mixer="clip: Rig|new_sit_idle; timeScale: 0.8"
  gltf-model="#men-3-asset" position="-82.56338 0.21851 6.91835" rotation="0 180 0" scale="1.3 1.3 1.3"></a-entity>

<!-- <a-entity id="home-tall-bush" gltf-model="#tall-bush-asset" position="-13.19907 -5.56997 37.63159" rotation="0 180 0"
  scale="2 2 2"></a-entity>
<a-entity id="home-tall-bush-2" gltf-model="#tall-bush-asset" position="-27.91705 -5.57 47.23654" rotation="0 45 0"
  scale="2 2 2"></a-entity> -->
<a-entity id="home-tall-bush-3" class="performance dispose" gltf-model="#tall-bush-asset"
  position="-142.39231 -5.57997 -43.45289" rotation="0 180 0" scale="2 2 2"></a-entity>
<a-entity id="home-tall-bush-4" class="performance dispose" gltf-model="#tall-bush-asset"
  position="-127.17746 -5.57997 -50.13344" rotation="0 45 0" scale="2 2 2"></a-entity>
<a-entity id="home-tall-bush-5" class="performance dispose" gltf-model="#tall-bush-asset"
  position="-123.53579 -5.58 53.21891" rotation="0 180 0" scale="2 2 2"></a-entity>
<a-entity id="home-tall-bush-6" class="performance dispose" gltf-model="#tall-bush-asset"
  position="-143.29714 -5.57997 46.06549" rotation="0 90 0" scale="2 2 2"></a-entity>
<!-- <a-entity id="home-tall-bush-7" gltf-model="#tall-bush-asset" position="-34.19904 -5.57997 -38.02988" rotation="0 90 0"
  scale="2 2 2"></a-entity>
<a-entity id="home-tall-bush-8" gltf-model="#tall-bush-asset" position="-16.18056 -5.57997 -29.94495" rotation="0 180 0"
  scale="2 2 2"></a-entity> -->