<a-entity id="home-ground" gltf-model="#ground-asset" position="-83.9856 0.223 1.78739" rotation="0 0 0" scale="2 1 1">
</a-entity>
<a-entity id="home-wall" gltf-model="#big-wall-asset" position="26.52365 -69.0811 -53.15224" rotation="0 0 0"
  scale="36 30 30"></a-entity>
<a-entity id="home-wall-2" gltf-model="#big-wall-asset" position="26.52534 -69.0811 56.43247" rotation="0 0 0"
  scale="36 30 30"></a-entity>
<a-entity id="home-wall-3" gltf-model="#big-wall-asset" position="24.84202 -69.0811 -52.66606" rotation="0 90 0"
  scale="18 30 30"></a-entity>
<a-entity id="home-wall-4" gltf-model="#big-wall-asset" position="-191.67705 -69.0811 -52.66606" rotation="0 90 0"
  scale="18 30 30"></a-entity>
<a-entity id="home-hotel" gltf-model="#hotel-asset" position="-153.79213 -1.88936 -84.23459" rotation="0 -31.67 0"
  scale="0.3 0.3 0.3"></a-entity>
<a-entity id="home-resto-terrace" gltf-model="#resto-terrace-asset" position="-70.47118 0.19846 -10.59838"
  rotation="0 0 0" scale="0.3 0.3 0.3"></a-entity>
<a-entity id="home-resto-terrace-2" gltf-model="#resto-terrace-asset" position="-78.16958 0.19846 -2.59622"
  rotation="0 0 0" scale="0.3 0.3 0.3"></a-entity>
<a-entity id="home-resto-terrace-3" gltf-model="#resto-terrace-asset" position="-93.20575 0.19846 -9.119"
  rotation="0 0 0" scale="0.3 0.3 0.3"></a-entity>
<a-entity id="home-station" gltf-model="#station-asset" position="-32.33357 -0.27847 21.42683" rotation="0 180 0"
  scale="2 2 2"></a-entity>
<a-entity id="home-cinema-building" gltf-model="#cinema-building-asset" position="-94.4474 0.08582 -33.73944"
  rotation="0 180 0" scale="0.1 0.1 0.1"></a-entity>
<a-entity id="home-cinema-2-building" gltf-model="#cinema-building-2-asset" position="-78.1632 0.08582 27.76269"
  rotation="0 180 0" scale="0.1 0.1 0.1"></a-entity>
<a-entity id="home-resto-bar" gltf-model="#resto-bar-asset" position="-80.35585 -2.93495 -13.52434" rotation="0 0 0"
  scale="0.015 0.015 0.02"></a-entity>
<a-entity id="home-shop" gltf-model="#shop-asset" position="-105.86904 0.22888 18.20957" rotation="0 180 0"
  scale="0.015 0.015 0.015"></a-entity>
<a-entity id="home-shop-2" gltf-model="#shop-asset" position="-67.01055 0.22888 -19.9721" rotation="0 0 0"
  scale="0.015 0.015 0.015"></a-entity>
<a-entity id="home-shop-3" gltf-model="#shop-asset" position="-51.95248 0.22888 -19.78027" rotation="0 0 0"
  scale="0.015 0.015 0.015"></a-entity>
<a-entity id="home-entrance" gltf-model="#entrance-asset" position="-135.32244 9.28235 0.15023" rotation="0 90 0"
  scale="0.8 1.5 1"></a-entity>
<a-entity id="home-fountain" gltf-model="#fountain-asset" position="-99.61885 0.59331 2.5641" rotation="0 180 0"
  scale="50 50 50">
</a-entity>
<a-entity id="home-waterfall" animation-mixer="clip: Animation" gltf-model="#waterfall-asset"
  position="-99.335 -4.13895 2.66165" rotation="0 180 0" scale="0.5 1 0.5"></a-entity>

<a-entity id="home-mountain" gltf-model="#big-mountain-asset" position="1300 395.82593 -650" rotation="0 180 0"
  scale="2000 2000 2000"></a-entity>


<a-entity id="home-pedestal" gltf-model="#pedestal-asset" position="-54.95927 0.45752 -4.19507" rotation="0 100 0"
  scale="0.006 0.006 0.006">
  <a-entity id="home-stego-skeleton" gltf-model="#stego-skeleton-asset" position="-49.0251 74.24013 3.60944"
    rotation="0 -40 0" scale="3 3 3"></a-entity>
</a-entity>
<a-entity id="home-simple-fence" gltf-model="#simple-fence-asset" position="-120.00514 0.85923 -18.12346"
  rotation="0 20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-2" gltf-model="#simple-fence-asset" position="-38.75718 0.85923 -20.31827"
  rotation="0 -20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-3" gltf-model="#simple-fence-asset" position="-116.99272 0.85923 19.74129"
  rotation="0 -20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-4" gltf-model="#simple-fence-asset" position="-47.32936 0.85923 25.16374"
  rotation="0 20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-5" gltf-model="#simple-fence-asset" position="-53.49314 0.85923 27.81534"
  rotation="0 20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-6" gltf-model="#simple-fence-asset" position="-40.82307 0.85923 23.01561"
  rotation="0 20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-7" gltf-model="#simple-fence-asset" position="-121.10692 0.85923 18.23673"
  rotation="0 -20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-simple-fence-8" gltf-model="#simple-fence-asset" position="-115.20619 0.85923 -19.97054"
  rotation="0 20 0" scale="0.08 0.08 0.08"></a-entity>
<a-entity id="home-subway-entrance" gltf-model="#subway-entrance-asset" position="-154.74828 0.21302 -9.68062"
  rotation="0 90 0" scale="3 2 1"></a-entity>
<a-entity id="home-subway-entrance-2" gltf-model="#subway-entrance-asset" position="-154.74675 0.21302 8.83484"
  rotation="0 90 0" scale="3 2 1"></a-entity>
<a-entity id="home-trash" gltf-model="#trash-asset" position="-80.79582 0.24958 15.05927" rotation="0 0 0"
  scale="0.015 0.015 0.015"></a-entity>
<a-entity id="home-trash-2" gltf-model="#trash-asset" position="-99.68607 0.26825 -11.18043" rotation="0 0 0"
  scale="0.015 0.015 0.015"></a-entity>
<a-entity id="home-pot" gltf-model="#pot-asset" position="-122.00973 0.97571 -25.66936" rotation="0 0 0"
  scale="0.02 0.02 0.02">
  <a-entity id="home-simple-tree" gltf-model="#simple-tree-asset" position="1.6675 -44.26334 -1.17648" rotation="0 0 0"
    scale="1 1 1"></a-entity>
</a-entity>
<a-entity id="home-pot-2" gltf-model="#pot-asset" position="-122.22612 0.97571 24.02285" rotation="0 0 0"
  scale="0.02 0.02 0.02">
  <a-entity id="home-simple-tree-2" gltf-model="#simple-tree-asset" position="4224.39407 -44.26334 -2557.67362"
    rotation="0 0 0" scale="1 1 1"></a-entity>
</a-entity>
<a-entity id="home-pot-3" gltf-model="#pot-asset" position="-122.22612 0.97571 24.02285" rotation="0 0 0"
  scale="0.02 0.02 0.02">
  <a-entity id="home-simple-tree-3" gltf-model="#simple-tree-asset" position="3876.21331 -44.26334 354.34133"
    rotation="0 0 0" scale="1 1 1"></a-entity>
</a-entity>
<a-entity id="home-pot-4" gltf-model="#pot-asset" position="-122.22612 0.97571 24.02285" rotation="0 0 0"
  scale="0.02 0.02 0.02">
  <a-entity id="home-simple-tree-4" gltf-model="#simple-tree-asset" position="1.6675 -44.26334 -1.17648"
    rotation="0 0 0" scale="1 1 1"></a-entity>
</a-entity>

<a-entity id="home-men-1" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.4" gltf-model="#men-1-asset"
  position="-81.72987 0.21851 -11.49892" rotation="0 0 0" scale="1.45 1.45 1.45"></a-entity>
<a-entity id="home-men-2" animation-mixer="clip: Rig|new_man_idle; timeScale: 0.4" gltf-model="#men-2-asset"
  position="-107.67375 0.21851 23.29748" rotation="0 180 0" scale="1.45 1.45 1.45"></a-entity>