<a-light id="home-ambiant-light" visible="true" type="ambient" light="intensity: 1.04;color: #d9d9d9"></a-light>
<!-- <a-light id="edmon-light-1" light="intensity: 0.5" type="directional" position="0 0 0" rotation="-90 0 0" target="#edmon-directionaltarget">
  <a-entity id="edmon-directionaltarget" position="0 0 -1"></a-entity>
</a-light> -->
<a-light id="home-light-2" light="distance: 200; decay: 200; intensity: 2.387; penumbra: 0; angle: 0; color: #ffffff"
  type="directional" position="-168.98854 65.7515 92.33249" rotation="-90 0 0" target="#home-directionaltarget-2">
  <a-entity id="home-directionaltarget-2" position="290.11344 272.50381 -171.41243"></a-entity>
</a-light>
<a-light id="home-light-3" light="distance: 200; decay: 200; intensity: 3.016; penumbra: 0; angle: 0; color: #ffffff"
  type="directional" position="-150.78794 51.3081 -9.06054" rotation="-90 0 0" target="#home-directionaltarget-3">
  <a-entity id="home-directionaltarget-2" position="69.9143 -36.22811 -64.08131"></a-entity>
</a-light>