<a-entity id="amonite" gltf-model="#amonite-asset" animation-mixer="clip: Object_0; timeScale: 1" position="-35 -6 6"
  rotation="0 -56.14 0" scale="0.5 0.5 0.5"
  animation="property: position; delay: 0; to: 45 20 -35; dir: normal; dur: 120000; loop: false">
</a-entity>

<a-entity id="amonite-2" gltf-model="#amonite-asset" animation-mixer="clip: Object_0; timeScale: 0.9"
  position="-38 -7 4" rotation="0 -56.14 0" scale="0.5 0.5 0.5"
  animation="property: position; delay: 0; to: 42 19 -37; dir: normal; dur: 120000; loop: false">
</a-entity>

<a-entity id="amonite-3" gltf-model="#amonite-asset" animation-mixer="clip: Object_0; timeScale: 0.8"
  position="-42 -10 2" rotation="0 -56.14 0" scale="0.5 0.5 0.5"
  animation="property: position; delay: 0; to: 38 16 -39; dir: normal; dur: 120000; loop: false">
</a-entity>

<a-entity id="amonite-4" gltf-model="#amonite-asset" animation-mixer="clip: Object_0; timeScale: 0.7"
  position="-40 -12 0" rotation="0 -56.14 0" scale="0.5 0.5 0.5"
  animation="property: position; delay: 0; to: 40 14 -41; dir: normal; dur: 120000; loop: false">
</a-entity>

<a-entity id="ichthyosaur" gltf-model="#ichthyosaur-asset" animation-mixer="clip: SWIM; timeScale: 0.7"
  position="34.324 4.180 -26.771" rotation="0 -56.14 0" scale="0.02 0.02 0.02"
  animation="property: position; delay: 0; to: -54.417 4.180 18.853; dir: normal; dur: 60000; loop: false">
</a-entity>

<a-entity id="plesiosaur-1" gltf-model="#plesiosaur-asset" position="34.324 4.180 -26.771" rotation="0 -56.14 0"
  scale="0.0004 0.0004 0.0004">
</a-entity>
<a-entity id="plesiosaur-2" gltf-model="#plesiosaur-asset" position="34.324 4.180 -26.771" rotation="0 -56.14 0"
  scale="0.0004 0.0004 0.0004">
</a-entity>


<a-entity id="mosasaur" gltf-model="#mosasaur-asset" animation-mixer="clip: Swim;" position="-4.7483 4.18 -13.29163"
  rotation="0 -92.22 0" scale="2 2 2">
</a-entity>