<a-entity id="smoke-effect" visible=false rotation="0 -111.26 0" position="8.825 5.039 3.094" smoke-effect
  scale="0.3 0.3 0.3"></a-entity>

<a-entity id="cretaceous-lagoon-particles" position="6.4284 2.02831 -1.86721" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.15 0.15 0.15">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-2" position="-9.44216 2.07213 -1.49738" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.15 0.15 0.15">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-3" position="-1.85137 2.34434 -11.99963" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.25 0.25 0.25">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-4" position="-1.54034 1.98237 8.0819" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.3 0.3 0.3">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-5" position="-0.55395 7.29164 -1.90605" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.3 0.3 0.3">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-6" position="4.57517 1.98237 -8.47905" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.15 0.15 0.15">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-8" position="-7.98385 1.46819 -8.67147" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.15 0.15 0.15">
</a-entity>
<a-entity id="cretaceous-lagoon-floor" gltf-model="#floor-asset" position="-1.379 3.90355 -2.16064" rotation="90 0 0"
  scale="0.026 0.026 0.026"></a-entity>
<a-entity id="cretaceous-lagoon-door" disable-fog gltf-model="#door-asset" position="-1.328 1.97969 0.56107"
  rotation="0 180 0" scale="0.02 0.02 0.02"></a-entity>
<a-entity id="cretaceous-lagoon-dome" disable-fog sound__hit="src: #meg-hit; volume: 2; loop: false"
  gltf-model="#dome-asset" position="-1.369 1.788 -0.849" rotation="0 90 0.33" scale="0.016 0.016 0.016">
</a-entity>
<a-entity id="cretaceous-lagoon-base" disable-fog gltf-model="#base-asset" position="-1.2675 1.49275 -2.17759"
  rotation="0 90 0.33" scale="0.45 1 0.45">
</a-entity>
<a-box id="dome-box" scale="5 5 5" position="1.82516 5.7914 -0.65418" color="#000" depth="400" height="220" width="200">
</a-box>
<a-entity id="cretaceous-lagoon-rock" gltf-model="#rock-asset" position="20.06711 -4.5313 6.94509"
  rotation="0 -30 -7.15" scale="13 -13 13"></a-entity>
<a-entity id="cretaceous-lagoon-rock-2" gltf-model="#rock-asset" position="0.00443 -6.07488 -26.58544"
  rotation="0 100 -7.15" scale="15.01 -15 15.01"></a-entity>