<a-entity id="smoke-effect" visible=false rotation="0 -111.26 0" position="8 5.03945 4" smoke-effect
  scale="0.3 0.3 0.3"></a-entity>
<a-entity id="cretaceous-lagoon-dome" sound__hit="src: #meg-hit; volume: 2; loop: false" gltf-model="#dome-asset"
  position="-0.32643 1.78772 -0.85186" rotation="0 90 0.33" scale="0.015 0.015 0.015">
</a-entity>
<a-entity id="cretaceous-lagoon-particles" position="7.75766 2.02831 -1.17206" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.15 0.15 0.15">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-2" position="-9.44216 2.07213 -1.26605" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.15 0.15 0.15">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-3" position="-0.54155 2.01521 -11.62927" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.15 0.15 0.15">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-4" position="-0.28656 1.98237 9.07335" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.3 0.3 0.3">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-5" position="-0.55395 7.29164 -1.90605" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.3 0.3 0.3">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-6" position="8.05325 1.98237 -8.07595" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.15 0.15 0.15">
</a-entity>
<a-entity id="cretaceous-lagoon-particles-8" position="-8.97541 1.46819 -10.0891" gltf-model="#particles-asset"
  animation-mixer="clip: Scene; loop: pingpong" position=" 10.73679
  -1.23301 -22.89244" rotation="0 90 0.33" scale="0.15 0.15 0.15">
</a-entity>
<a-entity id="cretaceous-lagoon-cliff-1" gltf-model="#cliff-asset" position="0.09998 -1.02728 -16.57469"
  rotation="-0.01 -45 20" scale="8 8 8"></a-entity>
<a-entity id="cretaceous-lagoon-cliff-2" gltf-model="#cliff-asset" position="2.94488 0.8615 -12.01696"
  rotation="-0.01 -18.86 0" scale="5 5 5"></a-entity>
<a-entity id="cretaceous-lagoon-fishes" gltf-model="#fishes-asset"
  animation-mixer="clip: Take 01; timeScale: 0.4;loop: pingpong" position="1.45431 3.01252 -16.79466" rotation="0 0 0"
  scale="1 1 1"></a-entity>
<a-entity id="cretaceous-lagoon-fishes-2" gltf-model="#fishes-asset"
  animation-mixer="clip: Take 01; timeScale: 0.7;loop: pingpong" position="1.0368 2.30238 -14.84237" rotation="0 0 0"
  scale="1 1 1"></a-entity>
<a-entity id="cretaceous-lagoon-floor" gltf-model="#floor-asset" position="-0.37875 3.90355 -2.16064" rotation="90 0 0"
  scale="0.026 0.026 0.026"></a-entity>
<a-entity id="cretaceous-lagoon-station" sound__ambiant1="src: #meg-ambiant1; volume: 4; loop: false"
  gltf-model="#station-asset" position="-18.16277 -2.2198 8.32168" rotation="0 67.15 0"
  scale="0.008 0.008 0.008"></a-entity>
<a-entity id="cretaceous-lagoon-pipe" gltf-model="#pipe-asset" position="-16.52348 -12.15983 9.59436" rotation="0 90 0"
  scale="0.07 0.07 -0.05"></a-entity>
<a-entity id="cretaceous-lagoon-door" gltf-model="#door-asset" position="-0.32847 1.97969 0.6901" rotation="0 180 0"
  scale="0.02 0.02 0.02"></a-entity>
<a-box id="dome-box" scale="5 5 5" position="1.82516 5.7914 -0.65418" color="#000" depth="400" height="220" width="200">
</a-box>
<a-box id="door-box" geometry="depth: 0.25; width: 3.63; height: 3.22" position="-0.32022 2.99547 1.07837" color="#000"
  depth="400" height="220" width="200"></a-box>