<a-entity id="cinema-car" cinema-car-tour position="3.0337 -0.25 2.01885" rotation="0 180 0" scale="1 1 1">
  <a-entity id="interior-light"
    light="type: directional; intensity: 0.67; distance: 1; decay: 1; angle: 180; penumbra: 0"
    position="4.22538 30.09121 3.52884" visible="" rotation="0 0 0"></a-entity>
  <a-entity id="rig" position="1.152 -0.6000000000000001 0.934" rotation="0 90 0">
    <a-entity id="hands">
      <a-entity id="cinema-scene-camera" class="camera-entity" camera position="0 0 0" user-height="0"
        fps-look-controls="user-height: 0">
        <a-troika-text id="cinema-camera-text" visible="false" troika-text="color: #d6d6d6" scale="0.15 0.15 0.15"
          position="0 -0.25795 -0.8507" value="Press ENTER or TOP trigger to leave"
          font="/assets/font/AlfaSlabOne-Regular.ttf">
        </a-troika-text>
        <a-box id="loading-sphere" visible="false" material="blending: none; shader: flat"
          geometry="depth: 1; height: 1; width: 1; primitive: sphere; segmentsHeight: 10; segmentsWidth: 10; radius: 0.1"
          color="#262c28" side="back">
          <a-image id="loading-logo-1" src="#loading-asset" scale="0.018 0.015 0.015" position="0 0.00011 -0.057"
            rotation="0 0 0">
          </a-image>
          <a-image id="loading-logo-2" src="#loading-asset" scale="0.018 0.015 0.015" position="0.06465 0.00001 -0.057"
            rotation="0 0 0">
          </a-image>
        </a-box>
      </a-entity>
      <a-entity id="leftHand" sphere-collider="objects: a-box" custom-hand-control super-hands
        hand-controls="hand: left; handModelStyle: highPoly; color: #ffcccc"></a-entity>
      <a-entity fps-counter="enabled: true; for90fps: true" id="rightHand" rotation="10 0 0"
        sphere-collider="objects: a-box" custom-hand-control super-hands
        hand-controls="hand: right; handModelStyle: highPoly; color: #ffcccc"></a-entity>
    </a-entity>
  </a-entity>
</a-entity>