<a-entity id="ending-car">
  <a-entity id="rig" turn-control="controllerListenerId: #controller-data;" position="1.152 -0.6000000000000001 0.934"
    rotation="0 0 0">
    <a-entity id="ending-scene-camera" class="camera-entity" camera position="0 0 0" user-height="0"
      fps-look-controls="user-height: 0">
      <a-box id="loading-sphere" material="blending: none; shader: flat"
        geometry="depth: 1; height: 1; width: 1; primitive: sphere; segmentsHeight: 10; segmentsWidth: 10; radius: 2.100"
        color="#2f5b45" side="back">
        <a-image id="loading-logo-1" src="#credits-asset" scale="0.550 0.4 0.45" position="0 0 -0.900" rotation="0 0 0">
        </a-image>
      </a-box>
    </a-entity>
  </a-entity>
</a-entity>